<style>
    .orapages-timeline-button.btn-light{
        color: rgb(174,174,174) !important;
    }
</style>
<section>
    <div class="card orapages-card" style="text-align: center;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <% if (logo != null){ %>
                    <div class="profile_center">
                        <img src="/<%= logo.logo_url %>" alt="<%= company_business_name %>'s logo" class="rounded"
                            style="max-width: 100%;max-height: 190px;">
                    </div>
                    <% } %>
                    <h1 style="font-size: 1.75rem;" class="text-uppercase text-danger profile_center heading mt-3">
                        <strong>
                            <%= company_business_name %>
                        </strong>
                    </h1>
                    <% if(locations.length > 0){ %>
                    <div class="profile_center address">
                        <span>
                            <span style="text-transform: capitalize;">
                                <%= locations[0].complete_address.trim().replace(/\n\n/g,"\n").split(",\n").join(", ").split("\n").join(" ").replace(/\~~/g,", ") %>
                            </span>
                        </span><br>

                        <% if(locations[0].mobile  != ''){ %>
                        <span>
                            <span>Tel: </span>
                            <span><%= locations[0].mobile %></span>
                        </span><br>
                        <% } %>

                        <% if(locations[0].fax != ''){ %>
                        <span>
                            <span>Fax: </span>
                            <span><%= locations[0].fax %></span>
                        </span><br>
                        <% } %>

                        <% if(locations[0].email != ''){ %>
                        <span>
                            <span>Email: </span>
                            <span><a class="text-ora"
                                    href="mailto:<%= locations[0].email %>"><%= locations[0].email %></a><% if(other_emails.length > 0){ %>,<% } %>
                                <% if(other_emails.length > 0){ %>
                                <% other_emails.forEach((email,index)=>{ %>
                                <a class="text-ora"
                                    href="mailto:<%= email.email %>"><%= email.email %></a><% if(index < other_emails.length - 1){ %>,<% } %>
                                <% }) %>
                                <% } %>
                            </span>
                        </span><br>
                        <% } %>

                        <% if((locations[0].website).trim() != ''){ %>
                        <span>
                            <span>Website: </span>
                            <span>
                                <% if(locations[0].website.startsWith('www.')){ %>
                                <a class="text-ora" rel="noopener noreferrer nofollow"
                                    href="//<%= locations[0].website %>" target="_blank">
                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                <% }else if(!locations[0].website.startsWith('http')){ %>
                                <a class="text-ora" rel="noopener noreferrer nofollow"
                                    href="//<%= locations[0].website %>" target="_blank">
                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                <% }else{ %>
                                <a class="text-ora" rel="noopener noreferrer nofollow"
                                    href="<%= locations[0].website %>" target="_blank">
                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                <% } %>
                                <% if(other_websites.length > 0){ %>
                                <% other_websites.forEach((website,index)=>{ %>
                                <a class="text-ora"
                                    href="/<%= website.website %>"><%= website.website %></a><% if(index+1 < other_websites.length){ %>,<% } %>
                                <% }) %>
                                <% } %>
                            </span>
                        </span><br>
                        <% } %>
                    </div>
                    <% } %>
                    <!-- <hr> -->
                    <div class="row text-center mt-3">
                        <div class="col-xl-12 text-center">
                            <a href="/register" class="btn btn-primary orapages-timeline-button text-left mr-3"><strong>Edit Your Profile</strong></a>
                            <a href="/<%= company_url %>" id="url_registration" class="btn btn-light orapages-timeline-button text-left mr-3"><strong>About Us</strong></a>
                            <button type="button" class="btn btn-light orapages-timeline-button mr-3" type="button" id="posts-button"
                                onclick="timelineOption('<%= company_url %>','posts','registartion');"><strong>Posts</strong></button>
                            <button type="button" class="btn btn-light orapages-timeline-button" type="button" id="notification-button"
                                onclick="timelineOption('<%= company_url %>','notifications','registartion');"><strong>Notifications</strong></button>


                            <% if(!owner_this && !!owner) { %>
                            <button type="button" class="btn text-left ml-3 btn-success" id="friend_request_button"
                                requestee_id="<%= user_id %>" disabled><span><strong>Add Friend</strong></span></button>
                            <button class="btn btn-light orapages-timeline-button text-left ml-3 btn-success" id="follow_button" 
                                following="<%= user_id %>" disabled><span><strong>Follow</strong></span></button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>