<% let{logo,locations=[],company_business_details,company_business_name,other_emails,other_websites,company_url,owner_this,categories=[],owner,user_id} = company %>
<style>
    .orapages-timeline-button.btn-light{
        color: rgb(174,174,174) !important;
    }
</style>
<div class="card orapages-card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row text-left">
                    <div class="col">
                        <div>
                            <% categories.forEach(category =>{ %>
                            <a href="/ps/<%= countryid %>/<%= stateid %>/<%= cityid%>/<%= rewrite(category.category_name) %>/page-1"
                                class="orapages badge badge-secondary mb-2"><%= category.category_name %></a>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <% if (logo != null){ %>
                    <div class="profile_center">
                        <img src="/<%= logo.logo_url %>" alt="<%= company_business_name %>'s logo" class="rounded"
                            style="max-width: 100%;max-height: 190px;">
                    </div>
                <% } %>
                <h1 style="font-size: 1.75rem;" class="text-uppercase text-danger profile_center heading mt-3">
                    <strong>
                        <%= company_business_name %>
                    </strong>
                </h1>
                <% if(locations.length > 0){ %>
                    <div class="profile_center address">
                        <span>
                            <span style="text-transform: capitalize;">
                                <%= locations[0].complete_address.trim().replace(/\n\n/g,"\n").split(",\n").join(", ").split("\n").join(" ").replace(/\~~/g,", ") %>
                            </span>
                        </span><br>
    
                        <% if(locations[0].mobile  != ''){ %>
                        <span>
                            <span>Tel: </span>
                            <span><%= locations[0].mobile %></span>
                        </span><br>
                        <% } %>
    
                        <% if(locations[0].fax != ''){ %>
                        <span>
                            <span>Fax: </span>
                            <span><%= locations[0].fax %></span>
                        </span><br>
                        <% } %>
    
                        <% if(locations[0].email != ''){ %>
                        <span>
                            <span>Email: </span>
                            <span><a class="text-ora"
                                    href="mailto:<%= locations[0].email %>"><%= locations[0].email %></a><% if(other_emails.length > 0){ %>,<% } %>
                                <% if(other_emails.length > 0){ %>
                                <% other_emails.forEach((email,index)=>{ %>
                                <a class="text-ora"
                                    href="mailto:<%= email.email %>"><%= email.email %></a><% if(index < other_emails.length - 1){ %>,<% } %>
                                <% }) %>
                                <% } %>
                            </span>
                        </span><br>
                        <% } %>
    
                        <% if((locations[0].website).trim() != ''){ %>
                        <span>
                            <span>Website: </span>
                            <span>
                                <% if(locations[0].website.startsWith('www.')){ %>
                                <a class="text-ora" rel="noopener noreferrer nofollow" href="//<%= locations[0].website %>"
                                    target="_blank">
                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                <% }else if(!locations[0].website.startsWith('http')){ %>
                                <a class="text-ora" rel="noopener noreferrer nofollow" href="//<%= locations[0].website %>"
                                    target="_blank">
                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                <% }else{ %>
                                <a class="text-ora" rel="noopener noreferrer nofollow" href="<%= locations[0].website %>"
                                    target="_blank">
                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                <% } %>
                                <% if(other_websites.length > 0){ %>
                                <% other_websites.forEach((website,index)=>{ %>
                                <a class="text-ora"
                                    href="/<%= website.website %>"><%= website.website %></a><% if(index+1 < other_websites.length){ %>,<% } %>
                                <% }) %>
                                <% } %>
                            </span>
                        </span><br>
                        <% } %>
                    </div>
                <% } %>
                <!-- <hr> -->
                <div class="row text-center mt-3">
                    <div class="col-xl-12 text-center">
                        <% if(!!owner_this){ %>
                            <a href="/owner_panel" class="btn btn-light orapages-timeline-button text-left mr-3"><strong>Edit Your Profile</strong></a>
                        <% } %>
                        <button class="btn btn-primary orapages-timeline-button text-left mr-3" id="about-us-button" onclick="timelineOption('<%= company_url %>','about')"><strong>About Us</strong></button>
                        <button class="btn btn-light orapages-timeline-button mr-3" type="button" id="posts-button" onclick="timelineOption('<%= company_url %>','posts')"><strong>Posts</strong></button>
                        
                        <% if(!!owner_this) { %>
                        <button type="button" class="btn btn-light orapages-timeline-button " type="button" id="notification-button"
                            onclick="timelineOption('<%= company_url %>','notifications');"><strong>Notifications</strong></button>
                        <!-- <button class="btn btn-light text-left ml-3"><span><strong>Notifications </strong></span><span class="badge badge-primary" id="notification_count">42</span></button> -->
                        <!-- <button class="btn btn-light orapages-timeline-button text-left ml-3" id="get_suggestions"><span><strong>Friends' Suggestions </strong></span><span class="badge badge-primary" id="suggestions"></span></button>
                        <button class="btn btn-light orapages-timeline-button text-left ml-3" id="get_requests"><span><strong>Friend Requests </strong></span><span class="badge badge-primary" id="friend_request_count"></span></button>
                        <button class="btn btn-light orapages-timeline-button text-left ml-3" id="get_friends"><span><strong>Friend List </strong></span><span class="badge badge-primary" id="friends_count"></span></button> -->
                        <% } %>
                        
                        
                        <% if(!owner_this && !!owner) { %>
                            <button class="btn btn-light orapages-timeline-button text-left ml-3 btn-success" id="friend_request_button" requestee_id="<%= user_id %>" disabled><span><strong>Add Friend</strong></span></button>
                            <button class="btn btn-light orapages-timeline-button text-left ml-3 btn-success" id="follow_button" following="<%= user_id %>" disabled><span><strong>Follow</strong></span></button>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>