<% const rewrited = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>
<% let {locations=[],images=[],videos=[],tags=[],owner_this,company_business_details,youtube=""} = company %>
<div id="company_profile_desc">
    <div class="row">
        <div class="col">
            <% if(locations.length > 1){ %>
            <div class="row text-center mt-4 profile_center address">
                <div class="col-xl-12">
                    <h5>Other Locations</h5>
                </div>
                <% for(var j = 1 ; j < locations.length ; j++) { %>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3">
                    <span>
                        <!-- <span>Address: </span> -->
                        <span style="text-transform: capitalize;">
                            <%= locations[j].complete_address.trim().replace(/\n\n/g,"\n").replace(/\, /g,"~~").split(",\n").join(", ").split("\n").join(", ").replace(/\~~/g,", ") %>
                        </span>
                    </span><br>

                    <% if(locations[j].mobile  != ''){ %>
                    <span>
                        <span>Tel: </span>
                        <span><%= locations[j].mobile %></span>
                    </span><br>
                    <% } %>

                    <% if(locations[j].fax != ''){ %>
                    <span>
                        <span>Fax: </span>
                        <span><%= locations[j].fax %></span>
                    </span><br>
                    <% } %>

                    <% if(locations[j].email != ''){ %>
                    <span>
                        <span>Email: </span>
                        <span><a class="text-ora"
                                href="mailto:<%= locations[j].email %>"><%= locations[j].email %></a></span>
                    </span><br>
                    <% } %>

                </div>
                <% } %>
            </div>
            <% } %>
            <div id="profile-description" class="text-left mt-3">
                <p>
                    <%- company_business_details.replace(/rel="dofollow"/g,"").replace(/\<a/g,`<a rel='nofollow' target='_blank'`) %>
                </p>
            </div>
        </div>
    </div>
</div>
<% if(videos.length >0){ %>
<div class="row row d-md-flex justify-content-md-center mt-3" style="max-height: 70vh;width: 100%;">
    <video width="90%" height="90%" style="max-height: 400px;" controls>
        <source src="/<%= videos[0].video_url %>" type="video/mp4">
    </video>
</div>
<div class="row">
    <div class="col">
        <p class="text-center" style="margin-top: 1em;"><%= videos[0].video_des %></p>
    </div>
</div>
<% } %>
<% if(!!youtube){ %>
<div class="row">
    <div class="col-lg-12 text-center">
        <iframe width="60%" height="400" src="<%= youtube.replace('www.youtube.com/watch?v=', 'www.youtube.com/embed/') %>" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></iframe>
    </div>
</div>
<% } %>
<% if (images.length > 0) { %>
<div class="row row d-md-flex justify-content-md-center" style="margin-top: 10px;">
    <% images.forEach(image => { %>
    <div class="col-md-5 col-lg-5 col-xl-5" style="padding: 0px;margin:24px">
        <div class="row image-file form-row" style="padding: 0px;">
            <div class="col-xl-12 text-center" style="padding: 0px;">
                <div class="d-md-flex justify-content-md-center align-items-md-center"
                    style="height: 310px;/*overflow: hidden !important;*//*position: relative;*/">
                    <a href="/<%= image.image_url %>" data-fancybox="gallery" id="link_<%= image.image_id %>"
                        style="height: 100%">
                        <img src="/<%= image.image_url %>" loading="lazy" alt="<%= image.image_original_name %>"
                            style="object-fit: contain;height: 100%;">
                    </a>
                    <div class="bg-light image-update"></div>
                </div>
            </div>
            <div class="col" style="height: 70px;
                        border-top: 1px dashed grey;
                        padding-top: 10px;">
                <div class="form-group text-center">
                    <span
                        style="width:100%;font-size: 12px; font-weight: 600;padding-top: 20px;"><%= image.image_des.substring(0,100) %>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<% } %>
<% if (tags.length > 0){ %>
<div class="row">
    <div class="col text-center mb-3">
        <hr>
        <p class="mb-2">Keywords</p>
        <% tags.forEach(tag=>{ %>
        <h5 class="d-inline"><a href="/tags/<%= rewrited(tag.tag) %>/page-1"
                class="text-wrap badge badge-info"><%= tag.tag %></a></h5>
        <% }) %>
    </div>
</div>
<% } %>
<% if(owner_this){ %>
<div class="row">
    <div class="col text-left">
        <a href="/owner_panel" class="btn btn-dark btn-edit">Edit Profile</a>
    </div>
</div>
<% } %>