<section class="pt-2">
    <% let {owner_this,company_url,user_id,owner} = company %>
    <div class="row">
        <% if(!owner || !owner_this){ %>
        <input type="hidden" id="user_id" value="<%= user_id %>">
        <% } %>
        <div class="col-xl-4">
            <div id="accordion" class="mb-3">
                <div class="card">
                            <div class="card-header orapages-card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne" id="get_friends">
                                    Friends <span class="badge" id="friends_count"></span>
                                </button>
                                </h5>
                            </div>
                            
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" id="list_friends">
                                    <!-- TODO: Get the friends lists from the server -->
                                    
                                </div>
                            </div>
                        </div>
                        <% if(!owner_this && !owner) { %>
                            <div class="card">
                                <div class="card-header orapages-card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive" onclick="post_box()">
                                        Make Friends / Manage Friends<span class="badge"></span>
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header orapages-card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour" id="get_followers">
                                    Followers <span class="badge" id="followers"></span>
                                </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body" id="list_followers">
                                    <!-- TODO: Get the friends suggestions lists from the server -->
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header orapages-card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive" onclick="post_box()">
                                    Followings <span class="badge"></span>
                                </button>
                            </h5>
                        </div>
                    </div>
                    <% } %>
                        <% if(!owner_this && !!owner) { %>
                            <div class="card">
                                <div class="card-header orapages-card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour" id="get_followers">
                                    Followers <span class="badge" id="followers"></span>
                                </button>
                            </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body" id="list_followers">
                                    <!-- TODO: Get the friends suggestions lists from the server -->
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if(!!owner_this && !!owner) { %>
                            <div class="card">
                                <div class="card-header orapages-card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <a href="/on_boarding" class="btn font-weight-bold collapsed">
                                            Make Friends / Manage Friends<span class="badge" id="followers"></span>
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header orapages-card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour" id="get_followers">
                                        Followers <span class="badge" id="followers"></span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body" id="list_followers">
                                    <!-- TODO: Get the friends suggestions lists from the server -->
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header orapages-card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive" id="get_followings">
                                    Followings <span class="badge" id="followers"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body" id="list_followings">
                                <!-- TODO: Get the friends suggestions lists from the server -->
                            </div>
                        </div>
                    </div>
                    
                    <% } %>
                </div>
            </div>
            <div class="col-xl-8">
                <div id="notifications">
                    
                </div>
            </div>
        </div>
        
    <script>
        $.ajax({
            type: "get",
            url: "/notifications/user_id/<%= user_id %>",
            success: function (response) {
                $("#notifications").html(response);
            }
        });
    </script>
</section>