<% let {owner_this,company_url,user_id,posts,owner} = company %>
<div class="row">
<% if(!owner || !owner_this){ %>
    <input type="hidden" id="user_id" value="<%= user_id %>">
	<% } %>
    <div class="col-xl-4">
        
            <div id="accordion" class="mb-3">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne" id="get_friends">
                                    Friends <span class="badge badge-primary" id="friends_count"></span>
                                </button>
                            </h5>
                        </div>
    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" id="list_friends">
                                <!-- TODO: Get the friends lists from the server -->

                            </div>
                        </div>
                    </div>
                    <% if(!!owner_this) { %>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree" id="get_suggestions">
                                    Friends' Suggestions <span class="badge badge-primary" id="suggestions"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" id="list_suggestions">
                                <!-- TODO: Get the friends suggestions lists from the server -->
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
    </div>
    <div class="col-xl-8">
        <div class="form-group">
            <div class="row">
                <!-- <div class="col-xl-2"><img class="rounded-circle" src="2.jpg" width="50px" /></div> -->
                <div class="col align-items-center">
                    <div class="form-group">
                        <input class="border rounded form-control-lg form-control" type="text"
                            placeholder="Post here" inputmode="latin-name" onclick="post_box()"/>
                        </div>
                </div>
            </div>
        </div>
        <div id="posts">
            <%- include('../post_box/post_views.ejs',{posts}) %>
        </div>
    </div>
</div>