<% const rewrite = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>

<% var keywords = [] %>
<% categories.forEach(category=>{ %>
<% keywords.push(category.category_name) %>
<% })%>

<% var address = "" %>
<% var cityid = '' %>
<% var stateid = '' %>
<% var countryid = '' %>
<% var full_addr = '' %>

<% if(locations.length > 0){ %>
<% cityid = rewrite(locations[0].city_name) %>
<% stateid = rewrite(locations[0].state_name) %>
<% countryid = rewrite(locations[0].country_name) %>
<% full_addr = locations[0].complete_address %>
<% let {city_name,state_name,country_name} = locations[0] %>
<% if(city_name.trim() == state_name.trim() && state_name.trim() == country_name.trim()){ %>
<% address = city_name.trim() %>
<% }else if(city_name.trim() == state_name.trim()){ address = city_name.trim()+", "+ country_name.trim()}else{address = [city_name,state_name,country_name].join(", ")} %>
<% } %>
<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= company_business_name %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business
        Directory</title>
    <meta name="Title"
        content="<%= company_business_name %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business Directory">
    <meta name="description"
        content="<%= company_business_name %> in <%= address %> is one of the leading <%= keywords[0] %> with <%= images.length %> photos. Also listed in <%= keywords.join(', ') %>. Find address, Contact Number, Phone Number, Mobile Number, Fax, Email, Email Address, images.length  and Logo of <%= company_business_name %>, <%= full_addr %> on Orapages" />
    <meta name="keywords"
        content="<%= company_business_name %> in <%= full_addr %>, <%= company_business_name %> in <%= address %>, <%= keywords.join(', ') %>, Contact Number, Mobile Number, Address, Fax, Email, Photos, Logo" />
    <meta property="og:title"
        content="<%= company_business_name %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business Directory">
    <meta property="og:site_name" content="Orapages">
    <meta property="og:url" content="https://www.orapages.com/<%= company_url %>">
    <meta property="og:description"
        content="<%= company_business_name %> in <%= full_addr %> is one of the leading <%= keywords[0] %> with <%= images.length %> photos. Also listed in <%= keywords.join(', ') %>. Find address, Contact Number, Phone Number, Mobile Number, Fax, Email, Email Address, Photos and Logo of <%= company_business_name %>, <%= full_addr %> on Orapages">
    <% if (logo != null){ %>
    <meta property="og:image" content="https://www.orapages.com/<%= logo.logo_url %>">
    <% }else{ %>
    <meta property="og:image" content="https://www.orapages.com/assets/img/logo.jpg">
    <% } %>
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.orapages.com/<%= company_url %>">
    <!-- Canonical URL -->
    <meta name="robots" content="noodp" />
    <meta name="robots" content="noydir" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" defer href="/assets/css/jqvmap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <% if (images.length > 0) { %>
    <link href="../css/jquery.fancybox.min.css" rel="stylesheet" />
    <% } %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Orapages",
          "alternateName": "Orapages.com",
          "url": "https://www.orapages.com",
          "logo": "https://www.orapages.com/assets/img/logo.jpg",
          "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "<%= company_business_name %>",
            <% if (images.length > 0){ %><% let imagesld = images.map(image => "https://www.orapages.com/"+image.image_url) %>"image": <%- JSON.stringify(imagesld) %>,<% }else{ %>"image":"https://www.orapages.com/assets/img/orapages-business-placeholder.jpg",<% } %>
            "url": "https://www.orapages.com/<%= company_url %>",
            <% if(locations.length > 0){ %><% if(locations[0].mobile  != ''){ %>"telephone": "<%= locations[0].mobile %>",<% } %>
            <% if(locations[0].email != ''){ %>"email": "<%= locations[0].email %>",<% } %>
            <% if(locations[0].fax  != ''){ %>"faxNumber": "<%= locations[0].mobile %>",<% } %>
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "<%= locations[0].complete_address.trim().replace(/\n\n/g,"\n").split(",\n").join(", ").split("\n").join(" ").replace(/\~~/g,", ") %>",
                "addressLocality": "<%= address %>",
                "postalCode": "",
                "addressRegion": "<%= cityid %>",
                "addressCountry": "<%= countryid %>"
            }
            <% } %>
        }
    </script>
    <style>
        .orapages.badge {
            font-weight: 400;
            font-size: 90%;
        }
        #company_profile{
            border-width: 2px !important;
        }
    </style>
</head>

<body>
    <%- include('header',{company_url,keywords:keywords,company_business_name}) %>
    <%- include('business_query') %>
    <% if(premium_expiry_date - new Date().getTime() < 0 || !premium_expiry_date ){ %>
    <section style="padding: 0px 15px;">
        

        <!-- Head -->
        <!-- About -->

        
        <% if(!!production){ %>
        <div class="row m-5">
            <div class="col">
                <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="4636039960"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <% } %>

    </section>
    <% }else{ %>
    <section>
        <div class="row">
            <div class="col-xl-12 text-center" id="company_profile">
                <div class="row text-left">
                    <div class="col">
                        <div class="col text-right" style="margin-bottom: 5px;">
                            <button class="btn btn-dark btn-sm mb-2" type="button" id="ga-btn"
                                style="margin: 0px;margin-left: 10px;"><b><img src="/assets/img/google.svg">Google
                                    Analytics</b> of this Profile</button>
                            <button class="btn btn-primary btn-sm mb-2" onclick="printProfile()" type="button"
                                style="margin: 0px;margin-left: 10px;">Print Profile</button>
                            <button class="btn btn-danger btn-sm mb-2" id="report-button" type="button"
                                style="margin-left: 10px;">Report if
                                inappropriate
                            </button>
                        </div>
                        <div>
                            <% categories.forEach(category =>{ %>
                            <button class="btn btn-light btn-sm profile-categories mb-3" type="button"
                                onclick="location.href=`/ps/<%= countryid %>/<%= stateid %>/<%= cityid%>/<%= rewrite(category.category_name) %>/page-1`"><%= category.category_name %></button>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div id="company_profile_desc">
                    <%- company_business_details %>
                </div>
                <div role="dialog" tabindex="-1" class="modal fade" id="analytics_modal">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fbc904;">
                                <h2 class="modal-title">Google Analytics of <em><q><%= company_business_name %></q></em>
                                </h2><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="analytics">
                                    <div class="row mb-5 mt-5">
                                        <div class="col-lg-6 mb-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5>Page Views</h5>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getPageViews(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <canvas id="pageViews" width="400" height="220"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h5>Users</h5>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getUsers(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <canvas id="pageUsers" width="400" height="220"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h5>Countries</h5>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getCountryUsers(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div id="vmap" style="height: 400px;"></div>
                                                    <canvas id="pageCountry" width="400" height="200"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h5>Cities</h5>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getCityUsers(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <canvas id="pageCity" width="400" height="220"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"><button class="btn btn-primary" type="button"
                                    data-dismiss="modal">Close Analytics</button></div>
                        </div>
                    </div>
                </div>
                <% if(owner_this){ %>
                <div class="row">
                    <div class="col text-left">
                        <a href="/owner_panel" class="btn btn-dark btn-edit" >Edit Profile</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

    </section>
    <% } %>
    
    </div>
    <div class="col-md-12 col-lg-2">
        <div class="sticky-top">
            <div class="text-center">
                <% if(!!production){ %>
                <!-- Side bar ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <% } %>
                
            </div>

        </div>
    </div>
    </div>
    <%- include('footer') %>
    
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/front_form.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <% if (images.length > 0) { %>
    <script src="/js/jquery.fancybox.js"></script>
    <% } %>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
    <script src="/js/fr_analytics_profile.js"></script>
    <script>
        let company_url = `<%= company_url %>`;
        city_id = `<%= cityid %>,<%= stateid %>,<%= countryid %>`;
        state_id = `<%= stateid %>`;
        country_id = `<%= countryid %>`;
        Cookies.set("country_name", country_id);
        Cookies.set("state_name", state_id);
        Cookies.set("city_name", city_id);

        function printProfile() {
            var divToPrint = document.getElementById('company_profile_desc');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write(
                '<html><style>.profile_center{text-align:center}h3.profile_center{color:#dc3545!important;font-size:24px}</style><body onload="window.print()">' +
                divToPrint
                .innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () {
                newWin.close();
            }, 10);
        }
    </script>
</body>

</html>