<div class="container-fluid sb2">
    <div class="row">
        <style>
            table tbody tr td {
                padding: 0px 8px !important;
                max-width: 200px;
                font-size: 13px !important;
            }

            .tz-2-main-com ul li {
                padding: 0px !important;
                background: none;
            }

            table {
                width: 400px !important;
            }

            tr td:nth-child(2),
            th:nth-child(2),
            tr td:nth-child(4),
            th:nth-child(4) {
                text-align: right;
            }
        </style>

        <div class="container-fluid sb2">
            <div class="tz-2-main-com bot-sp-20 col-lg-6">
                <% let total = 0 %>
                <% if(page.company_count.length > 0) { %>

                <table class="table table-bordered table-striped" style="margin: auto;" id="countryTable">
                    <thead>
                        <tr>
                            <th><b>Country</b></th>
                            <th><b>Profiles</b></th>
                            <!-- <th>View</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0 ; i < page.company_count.length; i++){ %>
                        <% total += page.company_count[i].count %>
                        <tr>
                            <td><%= page.company_count[i].name %></td>
                            <td><%= page.company_count[i].count.toLocaleString('en-US') %></td>
                        </tr>
                        <% } %>

                    </tbody>
                    <thead>
                        <tr>
                            <td><b>Total</b></td>
                            <td><b><%= total.toLocaleString('en-US') %></b></td>
                        </tr>
                    </thead>
                </table>

                <% }else{ %>
                <div class="tz-2-main-1 tz-2-main-admin">
                    <div class="tz-2-main-2"><span>No Companies</span>
                        <p>Please get some companies added</p>
                        <!-- <h2>1024</h2> -->
                    </div>
                </div>
                <% } %>
            </div>
            <!--== breadcrumbs ==-->
            <div class="tz-2-main-com bot-sp-20 col-lg-6">

                <table class="table table-bordered table-striped" style="margin: auto;">
                    <thead>
                        <tr>
                            <th><b>Type</b></th>
                            <th><b>Total</b></th>
                            <!-- <th>View</th> -->
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Parents</td>
                            <td><%= page.total[0] %></td>
                        </tr>
                        <tr>
                            <td>Childrens</td>
                            <td><%= page.total[1] %></td>
                        </tr>
                        <tr>
                            <td>Non Displayable Childrens</td>
                            <td><%= page.total[2] %></td>
                        </tr>
                        <tr>
                            <td>Tags</td>
                            <td><%= page.total[3] %></td>
                        </tr>

                    </tbody>
                    <thead>
                        <tr>
                            <td><b>Type</b></td>
                            <td><b>Total</b></td>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>