<div class="container-fluid sb2">
    <div class="row">
        <style>
            table tbody tr td {
                padding: 0px 8px !important;
                max-width: 200px;
                font-size: 13px !important;
            }

            .tz-2-main-com ul li{
                padding: 0px !important;
                background: none;
            }

            table {
                width: 400px !important;
            }

            tr td:nth-child(2),
            th:nth-child(2),
            tr td:nth-child(4),
            th:nth-child(4) {
                text-align: right;
            }
        </style>
        <!--== BODY INNER CONTAINER ==-->
        <div class="container-fluid sb2">
            <!--== breadcrumbs ==-->
            <div class="tz-2-main-com bot-sp-20" style="text-align: center;">
                <h1>Welcome to the orapages CMS Admin</h1>
                <p style="margin-top: 20px;">Please make your selection from the above menu</p>
            </div>

        </div>
    </div>
</div>