<div class="container-fluid sb2">
    <div class="row">
        <style>
            table tbody tr td {
                padding: 0px 8px !important;
                max-width: 200px;
                font-size: 13px !important;
            }

            .tz-2-main-com ul li {
                padding: 0px !important;
                background: none;
            }

            table {
                width: 400px !important;
            }

            tr td:nth-child(2),
            th:nth-child(2),
            tr td:nth-child(4),
            th:nth-child(4) {
                text-align: right;
            }
        </style>

        <div class="container-fluid sb2">
            <div class="tz-2-main-com bot-sp-20 col-lg-12">
                <h1>Please select the date range for the results</h1>
                <div class="input-field">
                    <input type="text" name="dates" class="form-control"/>
                </div>

                <div id="reports" class="mt-2">

                </div>

            </div>

        </div>
    </div>
</div>