<% let {postsCount, friendsCount, companyCount} = results %>
<table class="table table-bordered table-striped" style="margin: auto;" id="countryTable">
    <thead>
        <tr>
            <th><b>Uploaded by</b></th>
            <th><b>Company Count</b></th>
            <!-- <th>View</th> -->
        </tr>
    </thead>
    <tbody>
        <% for(count of companyCount){ %>
        <tr>
            <td><%= count.uploaded_by %></td>
            <td><%= count.company_count.toLocaleString('en-US') %></td>
        </tr>    
        <% } %>

    </tbody>
</table>


<hr>


<table class="table table-bordered table-striped mt-3" style="margin: auto;" id="countryTable">
    <thead>
        <tr>
            <th><b>Type</b></th>
            <th><b>Count</b></th>
            <!-- <th>View</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Posts</td>
            <td><%= postsCount[0].post_count.toLocaleString('en-US') %></td>
        </tr>
        <tr>
            <td>Friends</td>
            <td><%= friendsCount[0].friend_count.toLocaleString('en-US') %></td>
        </tr>

    </tbody>
</table>