/* body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
} */
.ui-menu {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50000 !important;
}

.ui-autocomplete-term {
  font-weight: bolder !important;
}

.profile-categories {
  margin-right: 10px;
}

textarea.image {
  width: 100%;
}

.form-row.image-file {
  border: 1px solid #cecaca;
  padding: 10px;
}

.form-row.image-file textarea {
  text-align: center;
}

.image-update {
  /*height: 30px;*/
  /*width: 30px;*/
  border-radius: 5px;
  /*border: 1px solid grey;*/
  /*background: grey;*/
  position: absolute;
  top: 5px;
  right: 10px;
  text-align: center;
}

.jumbotron.text-center.orapages-url p {
  line-height: 1em;
}

.btn.btn-primary.submit-btn {
  width: 50%;
}

.footer {
  border-top: 1.5px solid grey;
}

.form-row.image-file img {
  width: 100% !important;
  /*vertical-align: middle;*/
}

.jumbotron.text-center.orapages-url {
  border: 2px solid grey;
}

@media (max-width: 300px) {
  .navbar-light .navbar-brand {
    width: 70% !important;
  }
}

#attachment {
  position: absolute;
  font-size: 40px;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#company_logo img {
  max-width: 600px;
  max-height: 150px;
}

#upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.error {
  font-weight: 600;
  font-style: italic;
}

.carousel-indicators {
  top: 92%;
}

.carousel-indicators li {
  height: 15px;
  width: 14px;
  color: black;
  background-color: black;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

#profile-description img {
  width: 100% !important;
  object-fit: contain;
}

#profile-description {
  word-break: break-word;
}

#profile-description pre,
#profile-description table {
  max-width: 100%;
}

#company_profile {
  padding: 15px;
}

.select2-container--default .select2-selection--single {
  margin-bottom: 10px;
}

.profile_center img {
  padding: 20px;
  background: white;
}

.custom-control-label {
  border-radius: 50% !important;
}

.default.custom-control-input ~ .default.custom-control-label::before,
.default.custom-control-input:checked ~ .default.custom-control-label::before {
  background-color: white;
}

.rosy-flamingo.custom-control-input
  ~ .rosy-flamingo.custom-control-label::before,
.rosy-flamingo.custom-control-input:checked
  ~ .rosy-flamingo.custom-control-label::before {
  background-image: linear-gradient(-45deg, #67595e, #a49393, #eed6d3, #e8b4b8);
}

.deep-blue.custom-control-input ~ .deep-blue.custom-control-label::before,
.deep-blue.custom-control-input:checked
  ~ .deep-blue.custom-control-label::before {
  background-image: linear-gradient(-45deg, #7ec8e3, #0000ff, #000c66, #050a30);
}

.healthy-leaves.custom-control-input
  ~ .healthy-leaves.custom-control-label::before,
.healthy-leaves.custom-control-input:checked
  ~ .healthy-leaves.custom-control-label::before {
  background-image: linear-gradient(-45deg, #59981a, #ecf87f, #81b622, #3d550c);
}

.emerald-entrance.custom-control-input
  ~ .emerald-entrance.custom-control-label::before,
.emerald-entrance.custom-control-input:checked
  ~ .emerald-entrance.custom-control-label::before {
  background-image: linear-gradient(-45deg, #b68d40, #f4ebd0, #122620, #d6ad60);
}

.foil-covered-sneakers.custom-control-input
  ~ .foil-covered-sneakers.custom-control-label::before,
.foil-covered-sneakers.custom-control-input:checked
  ~ .foil-covered-sneakers.custom-control-label::before {
  background-image: linear-gradient(-45deg, #333652, #fad02c, #e9eaec, #90adc6);
}

.petal-party.custom-control-input ~ .petal-party.custom-control-label::before,
.petal-party.custom-control-input:checked
  ~ .petal-party.custom-control-label::before {
  background-image: linear-gradient(-45deg, #870a30, #ec8fd0, #d43790, #f2c5e0);
}

.melted-ice-cream.custom-control-input
  ~ .melted-ice-cream.custom-control-label::before,
.melted-ice-cream.custom-control-input:checked
  ~ .melted-ice-cream.custom-control-label::before {
  background-image: linear-gradient(-45deg, #f6c8cc, #ebf5f7, #c15b78, #5bb0ba);
}

.in-the-blue.custom-control-input ~ .in-the-blue.custom-control-label::before,
.in-the-blue.custom-control-input:checked
  ~ .in-the-blue.custom-control-label::before {
  background-image: linear-gradient(-45deg, #0c6980, #00a8a8, #2eb5e0, #c4dbe0);
}

.facing-forward.custom-control-input
  ~ .facing-forward.custom-control-label::before,
.facing-forward.custom-control-input:checked
  ~ .facing-forward.custom-control-label::before {
  background-image: linear-gradient(-45deg, #db1f48, #004369, #01949a, #e5ddc8);
}

.pasture-of-dreams.custom-control-input
  ~ .pasture-of-dreams.custom-control-label::before,
.pasture-of-dreams.custom-control-input:checked
  ~ .pasture-of-dreams.custom-control-label::before {
  background-image: linear-gradient(-45deg, #613659, #211522, #c197d2, #d3b1c2);
}

.mellow-barnyard.custom-control-input
  ~ .mellow-barnyard.custom-control-label::before,
.mellow-barnyard.custom-control-input:checked
  ~ .mellow-barnyard.custom-control-label::before {
  background-image: linear-gradient(-45deg, #282120, #fad02c, #f8efe4, #e6c2bf);
}

.under-the-ferns.custom-control-input
  ~ .under-the-ferns.custom-control-label::before,
.under-the-ferns.custom-control-input:checked
  ~ .under-the-ferns.custom-control-label::before {
  background-image: linear-gradient(-45deg, #18a558, #a3ebb1, #21b6a8, #116530);
}

.blushing-landscape.custom-control-input
  ~ .blushing-landscape.custom-control-label::before,
.blushing-landscape.custom-control-input:checked
  ~ .blushing-landscape.custom-control-label::before {
  background-image: linear-gradient(-45deg, #ff8882, #543855, #e88d72, #ffa384);
}

.wild-orchid.custom-control-input ~ .wild-orchid.custom-control-label::before,
.wild-orchid.custom-control-input:checked
  ~ .wild-orchid.custom-control-label::before {
  background-image: linear-gradient(-45deg, #741aac, #340744, #debad6, #005437);
}

.right-on-time.custom-control-input
  ~ .right-on-time.custom-control-label::before,
.right-on-time.custom-control-input:checked
  ~ .right-on-time.custom-control-label::before {
  background-image: linear-gradient(-45deg, #c38370, #a45c40, #e4b7a0, #f6eee0);
}

.ripe-harvest.custom-control-input ~ .ripe-harvest.custom-control-label::before,
.ripe-harvest.custom-control-input:checked
  ~ .ripe-harvest.custom-control-label::before {
  background-image: linear-gradient(-45deg, #dad870, #ffcd58, #ff9636, #ff5c4d);
}

.middle-eastern-empire.custom-control-input
  ~ .middle-eastern-empire.custom-control-label::before,
.middle-eastern-empire.custom-control-input:checked
  ~ .middle-eastern-empire.custom-control-label::before {
  background-image: linear-gradient(-45deg, #1e2640, #f3eac0, #dc9750, #922c40);
}

.secret-passageway.custom-control-input
  ~ .secret-passageway.custom-control-label::before,
.secret-passageway.custom-control-input:checked
  ~ .secret-passageway.custom-control-label::before {
  background-image: linear-gradient(-45deg, #b2d2a4, #1a4314, #2c5e1a, #32cd30);
}

.beautiful-abstraction.custom-control-input
  ~ .beautiful-abstraction.custom-control-label::before,
.beautiful-abstraction.custom-control-input:checked
  ~ .beautiful-abstraction.custom-control-label::before {
  background-image: linear-gradient(-45deg, #c2e2f5, #79a9f5, #4b7bf5, #0000ff);
}

.trees-in-bloom.custom-control-input
  ~ .trees-in-bloom.custom-control-label::before,
.trees-in-bloom.custom-control-input:checked
  ~ .trees-in-bloom.custom-control-label::before {
  background-image: linear-gradient(-45deg, #391306, #f1ced4, #aa1945, #f9ccd3);
}

.large.custom-control-input:checked ~ .large.custom-control-label::before {
  border: 2px solid black;
  height: 40px;
  width: 40px;
}

.large.custom-control-input ~ .large.custom-control-label::before {
  height: 40px;
  width: 40px;
}

.large.custom-control-label::before {
  height: 40px;
  width: 40px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: none;
}

.large.custom-control-label::before {
  top: 0rem;
  left: 0rem;
}

.large.custom-control-label {
  padding: 20px;
}

.large.custom-control.custom-radio.custom-control-inline {
  padding: 0px;
}

.deep-blue {
  background-color: #050a30;
  border-radius: 5px;
}

.deep-blue .heading {
  color: #0000ff !important;
}

.deep-blue #profile-description {
  color: #7ec8e3 !important;
}

.deep-blue .address,
.deep-blue .address a {
  color: white !important;
}

.deep-blue .btn-edit {
  background-color: rgb(64, 159, 255);
}

.deep-blue .image-file {
  background-color: #000c66;
  color: white;
}

.rosy-flamingo {
  background-color: #67595e;
  border-radius: 5px;
}

.rosy-flamingo.custom-control-label {
  border-radius: 50%;
}

.rosy-flamingo .heading {
  color: #e8b4b8 !important;
}

.rosy-flamingo #profile-description {
  color: #eed6d3 !important;
}

.rosy-flamingo .address,
.rosy-flamingo .address a {
  color: #eed6d3 !important;
}

.rosy-flamingo .btn-edit {
  background-color: rgb(64, 159, 255);
}

.rosy-flamingo .image-file {
  background-color: #a49393;
  color: white;
}

.healthy-leaves {
  background-color: #3d550c;
  border-radius: 5px;
}

.healthy-leaves .heading {
  color: #81b622 !important;
}

.healthy-leaves #profile-description {
  color: #ecf87f !important;
}

.healthy-leaves .address,
.healthy-leaves .address a {
  color: white !important;
}

.healthy-leaves .btn-edit {
  background-color: rgb(64, 159, 255);
}

.healthy-leaves .image-file {
  background-color: #59981a;
  color: white;
}

.emerald-entrance {
  background-color: #f4ebd0;
  border-radius: 5px;
}

.emerald-entrance .heading {
  color: #b68d40 !important;
}

.emerald-entrance #profile-description {
  color: #122620 !important;
}

.emerald-entrance .address,
.emerald-entrance .address a {
  color: #835f1e !important;
}

.emerald-entrance .btn-edit {
  background-color: rgb(64, 159, 255);
}

.emerald-entrance .image-file {
  background-color: #b68d40;
  color: white;
}

.foil-covered-sneakers {
  background-color: #90adc6;
  border-radius: 5px;
}

.foil-covered-sneakers .heading {
  color: #fad02c !important;
}

.foil-covered-sneakers #profile-description {
  color: #333652 !important;
}

.foil-covered-sneakers .address,
.foil-covered-sneakers .address a {
  color: #e9eaec !important;
}

.foil-covered-sneakers .btn-edit {
  background-color: rgb(64, 159, 255);
}

.foil-covered-sneakers .image-file {
  background-color: #fad02c;
  color: white;
}

.petal-party {
  background-color: #870a30;
  border-radius: 5px;
}

.petal-party .heading {
  color: #d43790 !important;
}

.petal-party #profile-description {
  color: #ec8fd0 !important;
}

.petal-party .address,
.petal-party .address a {
  color: #f2c5e0 !important;
}

.petal-party .btn-edit {
  background-color: rgb(64, 159, 255);
}

.petal-party .image-file {
  background-color: #d43790;
  color: white;
}

.melted-ice-cream {
  background-color: #c15b78;
  border-radius: 5px;
}

.melted-ice-cream .heading {
  color: #5bb0ba !important;
}

.melted-ice-cream #profile-description {
  color: #f6c8cc !important;
}

.melted-ice-cream .address,
.melted-ice-cream .address a {
  color: #ebf5f7 !important;
}

.melted-ice-cream .btn-edit {
  background-color: rgb(64, 159, 255);
}

.melted-ice-cream .image-file {
  background-color: #f6c8cc;
  color: #c15b78;
}

.in-the-blue {
  background-color: #c4dbe0;
  border-radius: 5px;
}

.in-the-blue .heading {
  color: #0c6980 !important;
}

.in-the-blue #profile-description {
  color: #00a8a8 !important;
}

.in-the-blue .address,
.in-the-blue .address a {
  color: #196b85 !important;
}

.in-the-blue .btn-edit {
  background-color: rgb(64, 159, 255);
}

.in-the-blue .image-file {
  background-color: #00a8a8;
  color: #c4dbe0;
}

.facing-forward {
  background-color: #01949a;
  border-radius: 5px;
}

.facing-forward .heading {
  color: #004369 !important;
}

.facing-forward #profile-description {
  color: #004369 !important;
}

.facing-forward .address,
.facing-forward .address a {
  color: #e5ddc8 !important;
}

.facing-forward .btn-edit {
  background-color: rgb(64, 159, 255);
}

.facing-forward .image-file {
  background-color: #db1f48;
  color: #e5ddc8;
}

.pasture-of-dreams {
  background-color: #211522;
  border-radius: 5px;
}

.pasture-of-dreams .heading {
  color: #c197d2 !important;
}

.pasture-of-dreams #profile-description {
  color: #d771ff !important;
}

.pasture-of-dreams .address,
.pasture-of-dreams .address a {
  color: #d3b1c2 !important;
}

.pasture-of-dreams .btn-edit {
  background-color: rgb(64, 159, 255);
}

.pasture-of-dreams .image-file {
  background-color: #613659;
  color: #d3b1c2;
}

.mellow-barnyard {
  background-color: #fad02c;
  border-radius: 5px;
}

.mellow-barnyard .heading {
  color: #282120 !important;
}

.mellow-barnyard #profile-description {
  color: #282120 !important;
}

.mellow-barnyard .address,
.mellow-barnyard .address a {
  color: #d64437 !important;
}

.mellow-barnyard .btn-edit {
  background-color: rgb(64, 159, 255);
}

.mellow-barnyard .image-file {
  background-color: #282120;
  color: #fad02c;
}

.under-one-hat {
  background-color: #bb89d6;
  border-radius: 5px;
}

.under-one-hat .heading {
  color: #814b95 !important;
}

.under-one-hat #profile-description {
  color: #2f3a47 !important;
}

.under-one-hat .address,
.under-one-hat .address a {
  color: #fff !important;
}

.under-one-hat .btn-edit {
  background-color: rgb(64, 159, 255);
}

.under-one-hat .image-file {
  background-color: #814b95;
  color: #d0a27f;
}

.blushing-landscape {
  background-color: #543855;
  border-radius: 5px;
}

.blushing-landscape .heading {
  color: #ff8882 !important;
}

.blushing-landscape #profile-description {
  color: #e88d72 !important;
}

.blushing-landscape .address,
.blushing-landscape .address a {
  color: #ffa384 !important;
}

.blushing-landscape .btn-edit {
  background-color: rgb(64, 159, 255);
}

.blushing-landscape .image-file {
  background-color: #e88d72;
  color: #543855;
}

.wild-orchid {
  background-color: #debad6;
  border-radius: 5px;
}

.wild-orchid .heading {
  color: #005437 !important;
}

.wild-orchid #profile-description {
  color: #741aac !important;
}

.wild-orchid .address,
.wild-orchid .address a {
  color: #340744 !important;
}

.wild-orchid .btn-edit {
  background-color: rgb(64, 159, 255);
}

.wild-orchid .image-file {
  background-color: #005437;
  color: #fff;
}

.right-on-time {
  background-color: #f6eee0;
  border-radius: 5px;
}

.right-on-time .heading {
  color: #a45c40 !important;
}

.right-on-time #profile-description {
  color: #c38370 !important;
}

.right-on-time .address,
.right-on-time .address a {
  color: #c38370 !important;
}

.right-on-time .btn-edit {
  background-color: rgb(64, 159, 255);
}

.right-on-time .image-file {
  background-color: #a45c40;
  color: #f6eee0;
}

.ripe-harvest {
  background-color: #ff5c4d;
  border-radius: 5px;
}

.ripe-harvest .heading {
  color: #fff !important;
}

.ripe-harvest #profile-description {
  color: #ffcd58 !important;
}

.ripe-harvest .address,
.ripe-harvest .address a {
  color: #f3f2a6 !important;
}

.ripe-harvest .btn-edit {
  background-color: rgb(64, 159, 255);
}

.ripe-harvest .image-file {
  color: #fff;
  background-color: #ff9636;
}

.middle-eastern-empire {
  background-color: #dc9750;
  border-radius: 5px;
}

.middle-eastern-empire .heading {
  color: #922c40 !important;
}

.middle-eastern-empire #profile-description {
  color: #1e2640 !important;
}

.middle-eastern-empire .address,
.middle-eastern-empire .address a {
  color: #f3eac0 !important;
}

.middle-eastern-empire .btn-edit {
  background-color: rgb(64, 159, 255);
}

.middle-eastern-empire .image-file {
  color: #f3eac0;
  background-color: #922c40;
}

.secret-passageway {
  background-color: #1a4314;
  border-radius: 5px;
}

.secret-passageway .heading {
  color: #32cd30 !important;
}

.secret-passageway #profile-description {
  color: #b2d2a4 !important;
}

.secret-passageway .address,
.secret-passageway .address a {
  color: #b2d2a4 !important;
}

.secret-passageway .btn-edit {
  background-color: rgb(64, 159, 255);
}

.secret-passageway .image-file {
  color: #b2d2a4;
  background-color: #2c5e1a;
}

.beautiful-abstraction {
  background-color: #0000ff;
  border-radius: 5px;
}

.beautiful-abstraction .heading {
  color: #c2e2f5 !important;
}

.beautiful-abstraction #profile-description {
  color: #c2e2f5 !important;
}

.beautiful-abstraction .address,
.beautiful-abstraction .address a {
  color: #79a9f5 !important;
}

.beautiful-abstraction .btn-edit {
  background-color: rgb(64, 159, 255);
}

.beautiful-abstraction .image-file {
  color: #0000ff;
  background-color: #79a9f5;
}

.trees-in-bloom {
  background-color: #391306;
  border-radius: 5px;
}

.trees-in-bloom .heading {
  color: #aa1945 !important;
}

.trees-in-bloom #profile-description {
  color: #f1ced4 !important;
}

.trees-in-bloom .address,
.trees-in-bloom .address a {
  color: #f9ccd3 !important;
}

.trees-in-bloom .btn-edit {
  background-color: rgb(64, 159, 255);
}

.trees-in-bloom .image-file {
  color: #f1ced4;
  background-color: #aa1945;
}

.under-the-ferns {
  background-color: #a3ebb1;
  border-radius: 5px;
}

.under-the-ferns .heading {
  color: #18a558 !important;
}

.under-the-ferns #profile-description {
  color: #116530 !important;
}

.under-the-ferns .address,
.under-the-ferns .address a {
  color: #116530 !important;
}

.under-the-ferns .btn-edit {
  background-color: rgb(64, 159, 255);
}

.under-the-ferns .image-file {
  color: #a3ebb1;
  background-color: #18a558;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.navigation-clean-button {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #222;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button .navbar-toggler {
  color: #888;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}

.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7;
}

a.text-ora {
  color: #903600 !important;
}

p.related_companies {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  background: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.error {
  /* background: ; */
  /* border: 1px solid; */
  font-size: 1.7em;
  padding: 5px 10px;
  color: #f84848;
  font-weight: bold;
  border-radius: 5px;
}

.badge-weight {
  font-size: 1.5em;
}
/* border-radius: 5px; */

#category-contact-form .error {
  font-size: 0.8em;
  padding: 5px 10px;
  color: #f84848;
  font-weight: bold;
}

.error::after {
  content: " !!";
}

.border-profile {
  border-color: #cdcdcd !important;
}

#category-contact-form {
  background: #f0a0a0;
  /* border-radius: 5px; */
}

.orapages-card {
  background-color: transparent;
  border: 0px solid black;
}

.orapages-card-header {
  background-color: rgb(221, 221, 221);
}

.bg-grey {
  background-color: #efefef;
}

.side-button {
  right: -0px;
  padding-right: 0px;
  position: fixed;
  top: calc(50% - 15px) !important;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: translate 0.2s;
  z-index: 20000;
}
.side-button:hover {
  transform: translate(-10px, 0px);
}

@media screen and (min-width: 480px) {
  .side-button {
    top: 50%;
  }
}
