<div class="container-fluid sb2">
    <div class="row">
        <style>
            table tbody tr td {
                padding: 0px 8px !important;
                max-width: 200px;
                font-size: 13px !important;
            }

            .tz-2-main-com ul li {
                padding: 0px !important;
                background: none;
            }

            table {
                width: 400px !important;
            }

            tr td:nth-child(2),
            th:nth-child(2),
            tr td:nth-child(4),
            th:nth-child(4) {
                text-align: right;
            }
        </style>
        <!--== BODY INNER CONTAINER ==-->
        <div class="container-fluid sb2">
            <!--== breadcrumbs ==-->
            <div>
                <% if(page.orders.length > 0) { %>

                <table class="table table-bordered table-hover table-striped" style="width: 100% !important;">
                    <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th><b>Ordered At</b></th>
                            <th><b>Name</b></th>
                            <th><b>Designation</b></th>
                            <th style="width: 250px; !important"><b>Email</b></th>
                            <th><b>Company Name</b></th>
                            <th><b>Image From the Website</b></th>
                            <th><b>Pics Enclosed</b></th>
                            <th><b>Pics Later</b></th>
                            <th><b>Premium Url</b></th>
                            <th><b>Done</b></th>
                            <th><b>Start</b></th>
                            <!-- <th>View</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% let r = 1 %>
                        <% page.orders.forEach((order)=>{ %>
                        <tr>

                            <td><%= r %></td>
                            <td><%= new Date(order.ordered_at).toISOString().split('T')[0] %></td>
                            <td><%= order.name %></td>
                            <td><%= order.designation %></td>
                            <td><%= order.email %></td>
                            <td><%= order.company_name %></td>
                            <td><%= order.pics_website %></td>
                            <td>
                                <% if(!!order.pics_enclosed){ %>
                                <% let docs = JSON.parse(order.pics_enclosed) %>
                                <ol style="padding: 15px;">
                                <% docs.forEach(doc=>{ %>
                                    <li>
                                        <a style="font-size:11px;" href="/<%= doc.path.replace('enclosed\\','enclosed/') %>" download><%= doc.originalname %></a>
                                    </li>
                                <% }) %>
                                </ol>
                                <% } %>
                            </td>
                            <% if(order.pics_later == 1){ %>
                            <td>Will Send Later</td>
                            <% }else{ %>
                            <td></td>
                            <% } %>
                            <% if(order.completed_at == 0 && !order.premium_url ){ %>
                            <td style="padding: 5px !important;" id="url_<%= order.payment_id %>"><input id="url_value_<%= order.payment_id %>" type="text"  class="form-control" value="<%= order.premium_url %>"></td>
                            <td style="padding: 5px !important;" class="before_premium_<%= order.payment_id %>"><button class="btn btn-success " onclick="updatePremiumUrlCompleted('<%= order.payment_id %>')">Done</button></td>
                            <td style="padding: 5px !important;" class="before_premium_<%= order.payment_id %>"><a role="button" class="btn btn-info"  href="/add_premium_company_admin?email=<%= order.email %>&company_name=<%= order.company_name %>" target="_blank">Start</a></td>
                            <% }else{ %>
                            <td><a href="/<%= order.premium_url %>"><%= order.premium_url %></a></td>
                            <td>Completed</td>
                            <td></td>
                            <% } %>

                        </tr>
                        <% r++ %>
                        <% }) %>
                    </tbody>
                </table>

                <% }else{ %>
                <div class="tz-2-main-1 tz-2-main-admin">
                    <div class="tz-2-main-2"><span>No Orders</span>
                        <p>Please Wait for the Miracle</p>
                    </div>
                </div>
                <% } %>
            </div>

        </div>
    </div>
</div>