
<% var keywords = [] %>
<% let {categories,locations=[],images,company_business_details,company_business_name,company_url,logo,production} = company %>
<% const rewrite = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>
<% categories.forEach(category=>{ %>
<% keywords.push(category.category_name) %>
<% })%>

<% var address = "" %>
<% var cityid = '' %>
<% var stateid = '' %>
<% var countryid = '' %>
<% var full_addr = '' %>

<% if(locations.length > 0){ %>
<% cityid = rewrite(locations[0].city_name) %>
<% stateid = rewrite(locations[0].state_name) %>
<% countryid = rewrite(locations[0].country_name) %>
<% full_addr = locations[0].complete_address %>
<% let {city_name,state_name,country_name} = locations[0] %>
<% if(city_name.trim() == state_name.trim() && state_name.trim() == country_name.trim()){ %>
<% address = city_name.trim() %>
<% }else if(city_name.trim() == state_name.trim()){ address = city_name.trim()+", "+ country_name.trim()}else{address = [city_name,state_name,country_name].join(", ")} %>
<% } %>


<%- include('header',{company,address,cityid,stateid,countryid,full_addr,keywords,rewrite}) %>
<%- include('./../orapages_components/business_query') %>
<!-- modals -->

<%- include('./../orapages_components/modals/modal_bulk',{csrfToken: company.csrfToken})  %> 
<%- include('./../orapages_components/modals/modal_request') %>
<%- include('./../orapages_components/modals/modal_contact',{csrfToken: company.csrfToken})  %> 
<%- include('./../orapages_components/modals/modal_download_csv',{csrfToken: company.csrfToken})  %> 
<%- include('./../orapages_components/modals/modal_error',{csrfToken: company.csrfToken})  %> 
<%- include('./../orapages_components/modals/modal_forget_password',{csrfToken: company.csrfToken})  %> 
<%- include('./../orapages_components/modals/modal_login',{csrfToken: company.csrfToken})  %> 
<%- include('./../orapages_components/modals/modal_google_analytics',{company})  %> 

<!-- modals -->


<!-- Search Header -->
<%- include('./../orapages_components/search_header') %>

<!-- Top Navigation -->
<%- include('./../orapages_components/top_navigation',{company,locations,keywords,rewrite,categories} )%>


<!-- Left Sidebar -->
<%- include('./../orapages_components/sidebar_left.ejs')%>


<!-- Main Content -->
<%- include('./main_profile.ejs',{company,address,cityid,stateid,countryid,full_addr,keywords,rewrite}) %>

<!-- Right Sidebar -->
<%- include('./../orapages_components/sidebar_right.ejs')%>

<%- include('scripts',{company,cityid,stateid,countryid,company_theme:company.company_theme}) %>

