<% let {categories,locations=[],images,company_business_details,company_business_name,company_url,logo,production} = company %>

<!DOCTYPE html>
<html lang="en-US">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business
        Directory</title>
    <meta name="Title"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business Directory">
    <meta name="description"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> in <%= address %> is one of the leading <%= keywords[0] %> with <%= images.length %> photos. Also listed in <%= keywords.join(', ') %>. Find address, Contact Number, Phone Number, Mobile Number, Fax, Email, Email Address, images.length  and Logo of <%= company_business_name %>, <%= full_addr %> on Orapages" />
    <meta name="keywords"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> in <%= full_addr %>, <%= company_business_name %> in <%= address %>, <%= keywords.join(', ') %>, Contact Number, Mobile Number, Address, Fax, Email, Photos, Logo" />
    <meta property="og:title"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business Directory">
    <meta property="og:site_name" content="Orapages">
    <meta property="og:url" content="https://www.orapages.com/<%= company_url %>">
    <meta property="og:description"
        content="<%= company_business_name %> in <%= full_addr %> is one of the leading <%= keywords[0] %> with <%= images.length %> photos. Also listed in <%= keywords.join(', ') %>. Find address, Contact Number, Phone Number, Mobile Number, Fax, Email, Email Address, Photos and Logo of <%= company_business_name %>, <%= full_addr %> on Orapages">
    <% if (logo != null){ %>
    <meta property="og:image" content="https://www.orapages.com/<%= logo.logo_url %>">
    <% }else{ %>
    <meta property="og:image" content="https://www.orapages.com/assets/img/logo.jpg">
    <% } %>
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.orapages.com/<%= company_url %>">
    <!-- Canonical URL -->
    <meta name="robots" content="noodp" />
    <meta name="robots" content="noydir" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" defer href="/assets/css/jqvmap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <% if (images.length > 0) { %>
    <link href="../css/jquery.fancybox.min.css" rel="stylesheet" />
    <% } %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Orapages",
          "alternateName": "Orapages.com",
          "url": "https://www.orapages.com",
          "logo": "https://www.orapages.com/assets/img/logo.jpg",
          "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "<%= company_business_name %>",
            <% if (images.length > 0){ %><% let imagesld = images.map(image => "https://www.orapages.com/"+image.image_url) %>"image": <%- JSON.stringify(imagesld) %>,<% }else{ %>"image":"https://www.orapages.com/assets/img/orapages-business-placeholder.jpg",<% } %>
            "url": "https://www.orapages.com/<%= company_url %>",
            <% if(locations.length > 0){ %><% if(locations[0].mobile  != ''){ %>"telephone": "<%= locations[0].mobile %>",<% } %>
            <% if(locations[0].email != ''){ %>"email": "<%= locations[0].email %>",<% } %>
            <% if(locations[0].fax  != ''){ %>"faxNumber": "<%= locations[0].mobile %>",<% } %>
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "<%= locations[0].complete_address.trim().replace(/\n\n/g,"\n").split(",\n").join(", ").split("\n").join(" ").replace(/\~~/g,", ") %>",
                "addressLocality": "<%= address %>",
                "postalCode": "",
                "addressRegion": "<%= cityid %>",
                "addressCountry": "<%= countryid %>"
            }
            <% } %>
        }
    </script>
    <style>
        .orapages.badge {
            font-weight: 400;
            font-size: 90%;
        }
        #company_profile{
            border-width: 2px !important;
        }
        .black-header {
            background: black !important;
        }
    
        .black-header strong {
            color: white !important;
        }
    
        .ui-menu-item {
            font-family: Verdana, Geneva, Tahoma, sans-serif !important;
            font-size: 12px !important;
        }
    
        .glowing-button {
                position: relative;
                top:-4px;
            }
    
            .glowing-button:before {
                position: absolute;
                content: '';
                top: -5px;
                left: -5px;
                height: calc(100% + 10px);
                width: calc(100% + 10px);
                border-radius: 5px;
                z-index: -1;
                opacity: 1;
                filter: blur(5px);
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                background-size: 400%;
                transition: opacity .3s ease-in-out;
                animation: animate 20s linear infinite
            }
    
            .glowing-button:hover:before {
                opacity: 1
            }
    
            .glowing-button:hover:active {
                background: none
            }
    
            .glowing-button:hover:active:before {
                filter: blur(2px)
            }
    
            @keyframes animate {
                0% {
                    background-position: 0 0
                }
    
                50% {
                    background-position: 400% 0
                }
    
                100% {
                    background-position: 0 0
                }
            }
    </style>
</head>

<body>