<% let {premium_expiry_date,company_url,company_theme,company_profile_desc,company_profile,company_business_name,company_business_details,categories=[],images=[],locations=[],logo,other_emails,other_websites,videos,tags,owner_this,companies,production,posts} = company %>
<% if(premium_expiry_date - new Date().getTime() < 0 || !premium_expiry_date ){ %>


<div class="row">
    <div class="col-lg-12 <%= company_theme %> border border-profile company_theme">
        <div class="row">
            <div class="col-lg-12 text-center" id="company_profile">
                <%- include('../timeline/company_head',{company}) %>
            </div>
        </div>
        <div id="timeline" class="col">
            <%- include('../timeline/company_post_single',{company}) %>
        </div>
    </div>
</div>
<% if(companies.length > 0){ %>
<section class="mt-5">
    <hr>
    <h4 class="text-center">Related Profiles</h4>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1">
        <% companies.forEach(company=>{ %>
        <div class="col-md-4 mt-3">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title text-center text-truncate"><a class="font-weight-bold"
                            href="<%= company.company_url %>"><%= company.company_business_name %></a></h6>
                    <p class="related_companies" style="font-size: .8em;">
                        <%- company.company_business_details.substr(0,200) %></p>
                    <a href="/<%= company.company_url %>" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

</section>
<% } %>
<% if(!!production){ %>
<div class="row m-5">
    <div class="col">
        <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
            data-ad-format="fluid" data-ad-client="ca-pub-9771954240441693" data-ad-slot="4636039960"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<% } %>


<% }else{ %>
<section>
    <div class="row">
        <div class="col-xl-12 text-center" id="company_profile">
            <div class="row text-left">
                <div class="col">
                    <div class="col text-right" style="margin-bottom: 5px;">
                        <button class="btn btn-dark btn-sm mb-2" type="button" id="ga-btn"
                            style="margin: 0px;margin-left: 10px;"><b><img src="/assets/img/google.svg">Google
                                Analytics</b> of this Profile</button>
                        <button class="btn btn-primary btn-sm mb-2" onclick="printProfile()" type="button"
                            style="margin: 0px;margin-left: 10px;">Print Profile</button>
                        <button class="btn btn-danger btn-sm mb-2" id="report-button" type="button"
                            style="margin-left: 10px;">Report if
                            inappropriate
                        </button>
                    </div>
                    <div>
                        <% categories.forEach(category =>{ %>
                        <button class="btn btn-light btn-sm profile-categories mb-3" type="button"
                            onclick="location.href=`/ps/<%= countryid %>/<%= stateid %>/<%= cityid%>/<%= rewrite(category.category_name) %>/page-1`"><%= category.category_name %></button>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div id="company_profile_desc">
                <%- company_business_details %>
            </div>
            <% if(owner_this){ %>
            <div class="row">
                <div class="col text-left">
                    <a href="/owner_panel" class="btn btn-dark btn-edit">Edit Profile</a>
                </div>
            </div>
            <% }else{ %>
            <% } %>
        </div>
    </div>

</section>
<% } %>
</div>