<div class="col-md-4 mt-3">
    <div class="card h-100">
        <div class="card-body">
            <h6 class="card-title text-center text-truncate"><a class="font-weight-bold"
                    href="<%= company.company_url %>"><%= company.company_business_name %></a></h6>
            <p class="related_companies" style="font-size: .8em;">
                <%- company.company_business_details.substr(0,200) %></p>
            <a href="/<%= company.company_url %>" class="stretched-link"></a>
        </div>
    </div>
</div>