<% if(companies.length > 0){ %>
<section class="mt-5">
    <hr>
    <h4 class="text-center">Related Profiles</h4>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1">
        <% companies.forEach(company=>{ %>
            <%- include ('related_company_block',{company})%>
        <% }) %>
    </div>
</section>
<% } %>