<% let {images,company_url,owner_this, production,owner} = company %>
<%- include('../orapages_components/footer') %>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/orapages/common/scripts/jquery-ui.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/front_form.js"></script>
<script src="/js/other-forms.js"></script>
<script src="/assets/js/theme.js"></script>
<% if (images.length > 0) { %>
<script src="/js/jquery.fancybox.js"></script>
<% } %>
<script src="/js/select2.min.js"></script>
<script src="/js/user.js"></script>
<script src="/js/search.js"></script>
<script src="/js/cookies.js"></script>
<script src="/js/bn_timeline_tabs.js"></script>
<script src="/js/bn_post_options.js"></script>
<script src="/js/fr_analytics_profile.js"></script>
<% if(owner){ %>
<script>
    $.ajax({
    type: "get",
    url: "/friend_request/check",
    data: {
      requestee_id: $("#friend_request_button").attr("requestee_id")
    },
    success: function (response) {
      $("#friend_request_button").prop("disabled", false);
      $("#friend_request_button").html(`<span>${response}</span>`);
    },
  });

  $.ajax({
    type: "get",
    url: "/follow/check",
    data: {
      following: $("#follow_button").attr("following"),
    },
    success: function (response) {
      $("#follow_button").prop("disabled", false);
      $("#follow_button").html(`<span>${response}</span>`);
    },
  });

    // preActionBusinessNetwork();
</script>
<% } %>
<script>
    let company_url = `<%= company_url %>`;
    company_theme = `<%= company_theme %>`
    city_id = `<%= cityid %>,<%= stateid %>,<%= countryid %>`;
    state_id = `<%= stateid %>`;
    country_id = `<%= countryid %>`;
    Cookies.set("country_name", country_id);
    Cookies.set("state_name", state_id);
    Cookies.set("city_name", city_id);

    function printProfile() {
        var divToPrint = document.getElementById('company_profile_desc');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write(
            '<html><style>.profile_center{text-align:center}h3.profile_center{color:#dc3545!important;font-size:24px}</style><body onload="window.print()">' +
            divToPrint
            .innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () {
            newWin.close();
        }, 10);
    }
</script>

</script>
<% if(!!production){ %>
<script type="text/javascript">
    function downloadJSAtOnload() {
        let element = document.createElement("script");
        element.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";
        document.body.appendChild(element);
    }
    setTimeout(() => {
        downloadJSAtOnload();
    }, 7000);
</script>
<% } %>

</body>

</html>