<!--== BOTTOM FLOAT ICON ==-->
<!-- <section>
    <div class="fixed-action-btn vertical">
        <a class="btn-floating btn-large red pulse"> <i class="large material-icons">mode_edit</i> </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a> </li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a> </li>
            <li class="upload"><a class="btn-floating green"><i class="material-icons">publish</i></a> </li>
            <li class="temp_upload"><a class="btn-floating blue"><i class="material-icons">attach_file</i></a> </li>
        </ul>
    </div>
</section> -->
<!--SCRIPT FILES-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/materialize.min.js" type="text/javascript"></script>
<script src="js/custom.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="orapages/common/scripts/autocomplete/jquery-ui.min.js"></script>