<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!--== MAIN CONTRAINER ==-->
<div class="container-fluid sb1">
    <div class="row">
        <div id="main-nav">
            <!-- Sample menu definition -->
            <% if(page.name != 'edit-csv-main'){ %>
            <ul id="main-menu" class="sm sm-blue">
                <li style="margin-right: 10px;"><a href="#">Ora Pages Admin Panel</a></li>
                <li><a href="/admin_panel">Home</a></li>
                <li><a href="/admin_profile">Profiles</a></li>
                <li><a href="/admin_analytics">Reports</a></li>
                <li><a href="#">Locations</a>
                    <ul>
                        <li><a href="#">City</a>
                            <ul>
                                <li><a href="/admin_city_add">Add City</a></li>
                                <li><a href="/admin_city_edit">Update City</a></li>
                                <!-- <li><a href="/admin_city_delete">Delete City</a></li> -->
                                <li><a href="/admin_city_transfer">Transfer by City</a></li>
                            </ul>
                        </li>
                        <li><a href="#">State</a>
                            <ul>
                                <li><a href="/admin_state_add">Add State</a></li>
                                <li><a href="/admin_state_edit">Update State</a></li>
                                <!-- <li><a href="/admin_state_delete">Delete State</a></li> -->
                            </ul>
                        </li>
                        <li><a href="#">Country</a>
                            <ul>
                                <li><a href="/admin_country_add">Add Country</a></li>
                                <li><a href="/admin_country_edit">Update Country</a></li>
                                <!-- <li><a href="/admin_country_delete">Delete Country</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Parents</a>
                    <ul>
                        <li><a href="/admin_category_add">Add Parent</a> </li>
                        <li><a href="/admin_category_edit">Edit Parent</a> </li>
                        <!-- <li><a href="/admin_category_delete">Delete Category</a> </li> -->
                        <li><a href="/admin_category_transfer">Transfer by Parent</a></li>
                    </ul>
                </li>
                <li><a href="#">Children</a>
                    <ul>
                        <li><a href="/admin_subcategory_add">Add Child</a> </li>
                        <!-- <li><a href="/admin_subcategory_add_syn">Add Synonyms</a> </li> -->
                        <li><a href="/admin_subcategory_edit">Edit Child</a> </li>
                        <!-- <li><a href="/admin_subcategory_delete">Delete Subcategory</a> </li> -->
                    </ul>
                </li>
                <li><a href="#">Non Displayable Children</a>
                    <ul>
                        <li><a href="/admin_non_dis_subcategory_add">Add Non Displayable Child</a> </li>
                        <!-- <li><a href="/admin_subcategory_add_syn">Add Synonyms</a> </li> -->
                        <li><a href="/admin_non_dis_subcategory_edit">Edit Non Displayable Child</a> </li>
                        <!-- <li><a href="/admin_subcategory_delete">Delete Subcategory</a> </li> -->
                    </ul>
                </li>
                <li><a href="#">Brands</a>
                    <ul>
                        <li><a href="/admin_brands_add">Add Brands</a></li>
                        <li><a href="/admin_brands_edit">Update Brand</a></li>
                        <li><a href="/admin_brands_delete">Delete Brand</a></li>
                    </ul>
                </li>
                <li><a href="#">Taglines</a>
                    <ul>
                        <li><a href="/admin_tagline_add">Add tagline</a> </li>
                        <li><a href="/admin_tagline_edit">Edit tagline</a> </li>
                        <li><a href="/admin_tagline_delete">Delete tagline</a> </li>
                    </ul>
                </li>
                <li><a href="#">Banners</a>
                    <ul>
                        <li><a href="/admin_banners_add">Add Banners</a> </li>
                        <li><a href="/admin_banners_update">Update Banners</a> </li>
                    </ul>
                </li>
                <li><a href="#">Bulk Upload</a>
                    <ul>
                        <li><a href="#">Manual Bulk Upload</a>
                            <ul>
                                <li><a href="/admin_csv_add">Add CSV</a> </li>
                                <li><a href="/csv_list?type=admin">CSV list</a> </li>
                            </ul>
                        </li>
                        <li><a href="#">Auto Bulk Upload</a>
                            <ul>
                                <li><a href="/city_category_id">Find City id &amp; Parent id</a> </li>
                                <li><a href="/admin_auto_csv_add">Add CSV</a> </li>
                                <li><a href="/csv_list?type=auto_bulk">CSV list</a> </li>
                            </ul>
                        </li>
                        <li><a href="#">Large Bulk Upload</a>
                            <ul>
                                <li><a href="/admin_large_csv_add">Add CSV</a> </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Posts</a>
                    <ul>
                        <li><a href="/reported_posts">Reported Posts</a></li>
                        <li><a href="/all_posts">All Posts</a></li>
                    </ul>
                </li>
                <li><a href="/companies_list">Companies list</a></li>
                <li><a href="/premium_orders">Premium Orders</a></li>
                <li><a href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a></li>
            </ul>
            <% }else{ %>
            <ul id="main-menu" class="sm sm-blue">
                <li style="margin-right: 10px;"><a href="#">Ora Pages Admin Panel</a></li>
                <li><a href="javascript:void(0)" onclick="bulkLink('admin_panel')">Home</a></li>
                <li><a href="javascript:void(0)" onclick="bulkLink('admin_profile')">Profiles</a></li>
                <li><a href="javascript:void(0)" onclick="bulkLink('admin_analytics')">Reports</a></li>
                <li><a href="#">Locations</a>
                    <ul>
                        <li><a href="#">City</a>
                            <ul>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_city_add')">Add City</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_city_edit')">Update City</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_city_delete')">Delete City</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_city_transfer')">Transfer by City</a></li>
                            </ul>
                        </li>
                        <li><a href="#">State</a>
                            <ul>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_state_add')">Add State</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_state_edit')">Update State</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_state_delete')">Delete State</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Country</a>
                            <ul>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_country_add')">Add Country</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_country_edit')">Update Country</a></li>
                                <li><a href="javascript:void(0)" onclick="bulkLink('admin_country_delete')">Delete Country</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Categories</a>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_category_add')">Add Category</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_category_edit')">Edit Category</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_category_delete')">Delete Category</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_category_transfer')">Transfer by Category</a></li>
                    </ul>
                </li>
                <li><a href="#">Sub Categories</a>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_subcategory_add')">Add Subcategory</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_subcategory_add_syn')">Add Synonyms</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_subcategory_edit')">Edit Subcategory</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_subcategory_delete')">Delete Subcategory</a> </li>
                    </ul>
                </li>
                <li><a href="#">Brands</a>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_brands_add')">Add Brands</a></li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_brands_edit')">Update Brand</a></li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_brands_delete')">Delete Brand</a></li>
                    </ul>
                </li>
                <li><a href="#">Taglines</a>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_tagline_add')">Add tagline</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_tagline_edit')">Edit tagline</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_tagline_delete')">Delete tagline</a> </li>
                    </ul>
                </li>
                <li><a href="#">Banners</a>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_banners_add')">Add Banners</a> </li>
                        <li><a href="javascript:void(0)" onclick="bulkLink('admin_banners_update')">Update Banners</a> </li>
                    </ul>
                </li>
                <li><a href="#">Bulk Upload</a>
                    <li><a href="#">Manual Bulk Upload</a>
                        <ul>
                            <li><a href="javascript:void(0)" onclick="bulkLink('admin_csv_add')">Add CSV</a> </li>
                            <li><a href="javascript:void(0)" onclick="bulkLink('csv_list?type=admin')">CSV list</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Auto Bulk Upload</a>
                        <ul>
                            <li><a href="javascript:void(0)" onclick="bulkLink('city_category_id')">Find City id &amp; Parent id</a> </li>
                            <li><a href="javascript:void(0)" onclick="bulkLink('admin_auto_csv_add')">Add Auto CSV</a> </li>
                            <li><a href="javascript:void(0)" onclick="bulkLink('csv_list?type=auto_bulk')">Auto CSV list</a></li>
                        </ul>
                    </li>
                </li>
                <li><a href="#">Posts</a>
                    <ul>
                        <li><a href="/reported_posts">Reported Posts</a></li>
                        <li><a href="/all_posts">All Posts</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" onclick="bulkLink('companies_list')">Companies list</a></li>
                <li><a href="javascript:void(0)" onclick="bulkLink('premium_orders')">Premium Orders</a></li>
                <li><a href="javascript:void(0)" onclick="bulkLink('logout')"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a></li>
            </ul>
            <% } %>
        </div>
    </div>
</div>