<div class="sb2-1">
    <!--== USER INFO ==-->
    <div class="sb2-12">
        <ul>
            <li><img src="images/users/2.png" alt=""> </li>
            <li>
                <h5>Ora pages <span> Admin</span></h5>
            </li>
            <li></li>
        </ul>
    </div>
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul class="collapsible" data-collapsible="accordion">
            <li><a href="/admin_panel" class="menu-active"><i class="fa fa-tachometer" aria-hidden="true"></i>
                    Dashboard</a> </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-plane" aria-hidden="true"></i>
                    Country</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_country_add">Add country</a> </li>
                        <li><a href="/admin_country_edit">Edit country</a> </li>
                        <li><a href="/admin_country_delete">Delete country</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-compass" aria-hidden="true"></i>
                    State</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_state_add">Add state</a> </li>
                        <li><a href="/admin_state_edit">Edit state</a> </li>
                        <li><a href="/admin_state_delete">Delete state</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-map-marker"
                        aria-hidden="true"></i>
                    City</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_city_add">Add city</a> </li>
                        <li><a href="/admin_city_edit">Edit city</a> </li>
                        <li><a href="/admin_city_delete">Delete city</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-quote-left"
                        aria-hidden="true"></i>
                    Tagline</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_tagline_add">Add tagline</a> </li>
                        <li><a href="/admin_tagline_edit">Edit tagline</a> </li>
                        <li><a href="/admin_tagline_delete">Delete tagline</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-cart-plus"
                        aria-hidden="true"></i>
                    Brand</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_brands_add">Add brand</a> </li>
                        <li><a href="/admin_brands_edit">Edit brand</a> </li>
                        <li><a href="/admin_brands_delete">Delete brand</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-object-group"
                        aria-hidden="true"></i>
                    Category</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_category_add">Add Category</a> </li>
                        <li><a href="/admin_category_edit">Edit Category</a> </li>
                        <li><a href="/admin_category_delete">Delete Category</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-sitemap" aria-hidden="true"></i>
                    Subcategory</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_subcategory_add">Add Subcategory</a> </li>
                        <li><a href="/admin_subcategory_add_syn">Add Synonyms</a> </li>
                        <li><a href="/admin_subcategory_edit">Edit Subcategory</a> </li>
                        <li><a href="/admin_subcategory_delete">Delete Subcategory</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-arrow-right"
                        aria-hidden="true"></i>
                    Tranfer</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_category_transfer">Transfer by category</a> </li>
                        <li><a href="/admin_city_transfer">Transfer by cities</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-file-image-o"
                        aria-hidden="true"></i>
                    Banners</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_banners_add">Add Banners</a> </li>
                        <li><a href="/admin_banners_update">Update Banners</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-file-image-o"
                        aria-hidden="true"></i>
                    Bulk Upload</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/admin_csv_add">Add CSV</a> </li>
                        <li><a href="/csv_list">CSV list</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-file-image-o"
                        aria-hidden="true"></i>
                    Companies list</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="/companies_list">Update/View Companies</a></li>
                        <!-- <li><a href="/csv_list">CSV list</a> </li> -->
                    </ul>
                </div>
            </li>
            <!-- <li><a href="admin-analytics.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Analytics</a> </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-buysellads"
                        aria-hidden="true"></i>Ads</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="admin-ads.html">All Ads</a> </li>
                        <li><a href="admin-ads-create.html">Create New Ads</a> </li>
                    </ul>
                </div>
            </li> -->
            <!-- <li><a href="admin-payment.html"><i class="fa fa-usd" aria-hidden="true"></i> Payments</a> </li>
            <li><a href="admin-earnings.html"><i class="fa fa-money" aria-hidden="true"></i> Earnings</a> </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bell-o"
                        aria-hidden="true"></i>Notifications</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="admin-notifications.html">All Notifications</a> </li>
                        <li><a href="admin-notifications-user-add.html">User Notifications</a> </li>
                        <li><a href="admin-notifications-push-add.html">Push Notifications</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-tags" aria-hidden="true"></i>
                    List Price</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="admin-price.html">All List Price</a> </li>
                        <li><a href="admin-price-list.html">Add New Price</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-rss" aria-hidden="true"></i>
                    Blog & Articals</a>
                <div class="collapsible-body left-sub-menu">
                    <ul>
                        <li><a href="admin-blog.html">All Blogs</a> </li>
                        <li><a href="admin-blog-add.html">Add Blog</a> </li>
                    </ul>
                </div>
            </li>
            <li><a href="admin-setting.html"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a> </li>
            <li><a href="admin-social-media.html"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Social
                    Media</a> </li>
            <li><a href="#" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a> </li> -->
        </ul>
    </div>
</div>