﻿.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button2 {
    background: transparent url('../images/buttons/2_narrow.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
		letter-spacing: 1px;
    height: 28px;
    margin-right: 6px;
    padding-right: 17px; /* sliding doors padding */
    text-decoration: none;
			margin-top:8px;
}

input.button2{
    background: #565656;
    color: white;
    /* padding: 2px 5px; */
    font: bold 12px arial, sans-serif;
		letter-spacing: 1px;
    height: 28px;
    margin-right: 6px;
    outline: none;
    border: 1px solid black;
    padding: 5px 17px; 
}

a.button2:hover {
    text-decoration: none;
		 color: #fff;
}
a.button2:visited {
    color: #fff;
}
a.button2 span {
    background: transparent url('../images/buttons/2_wide.png') no-repeat;
    display: block;
    line-height: 17px;
    padding: 5px 0 5px 18px;

} 

a.button3 {
    background: transparent url('../images/buttons/3_narrow.gif') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
		letter-spacing: 1px;
    height: 28px;
    margin-right: 6px;
    padding-right: 17px; /* sliding doors padding */
    text-decoration: none;
			margin-top:8px;
}
a.button3:hover {
    text-decoration: none;
		 color: #fff;
}
a.button3:visited {
    color: #fff;
}
a.button3 span {
    background: transparent url('../images/buttons/3_wide.gif') no-repeat;
    display: block;
    line-height: 17px;
    padding: 5px 0 5px 18px;

} 


a.button1 {
    background: transparent url('../images/buttons/1_narrow.gif') no-repeat scroll top right;
    color: #000;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		letter-spacing: 1px;
    height: 26px;
    margin-right: 6px;
    padding-right: 17px; /* sliding doors padding */
    text-decoration: none;
				margin-top:8px;
}

a.button1 span {
    background: transparent url('../images/buttons/1_wide.gif') no-repeat;
    display: block;
    line-height: 16px;
    padding: 5px 0 5px 18px;
} 
a.button1:hover {
    text-decoration: none;
}
a.button1:visited {
    color: #000;
}
