/* Large Text Boxes */

#leftElements {
padding:0px;
margin: 0px;
float: left;
}


#boxCombo {
padding:0px;
margin:0px;
width:691px;
float:left;
}

		#rightbox {
		width: 305px;
		text-align: left;
		border: 1px solid #d6d6d6;
		font-family: Arial;
		font-size:12px;
		float: right;
		margin-bottom:9px;
		padding:0px;
		}
		
		#leftBox {
		text-align: left;
		border: 1px solid #d6d6d6;
		font-family: Arial;
		font-size:12px;
		width: 373px;
		float: left;
		margin-bottom:9px;
		padding:0px;
		}
		
		#header {
		width: auto;
		height: 31px;
		background-color: #ededed;
		border-bottom: 1px solid #d6d6d6;
		font-weight:bold;
		padding-left:12px;
		}
		
		#pane{
		width: auto;
		background-color: #f7f7f7;
		height: 394px;
		}
		
		#paneInner{
		padding:16px;
		}
		
#titles{
padding-top:8px;
padding-right:15px;
}
		
#smallTextbox {
width: 389px;
text-align: left;
border: 1px solid #d6d6d6;
font-family: Arial;
font-size:12px;
margin-bottom:9px;
padding:0px;
}

		#smallPane{
		width: auto;
		background-color: #ffffff;
		height: 129px;	
		}

#littleBox {
width: 198px;
text-align: left;
border: 1px solid #d6d6d6;
font-family: Arial;
font-size:12px;
float: left;
margin:0px 9px 9px 0px;
}
		#littlePane{
		width: auto;
		background-color: #ffffff;
		height: 122px;
		}

		#littleFooter {
		width: auto;
		height: 39px;
		/*background-color: #3297cd;*/
		/*background-color: #dd98dc;*/
		background-color: #98dd99;
		color: #ffffff;
		font-size:18px;
		padding-left:12px;
		font-family: "Myriad pro", Arial, Helvetica;
		}

#picFrame {
width:689px;
height:107px;
border:1px solid #d6d6d6;
}