body,
textarea,
td,
p {
  color: #404040;
  font-family: Arial;
  font-size: 12px;
  margin-top: 0;
}
a:hover {
  text-decoration: none;
}
.toplinks a,
.toplinks a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: Arial;
}
h5 {
  font-family: Arial;
  color: #996600;
  font-size: 16px;
  margin: 0px 0 3px 0;
}
p {
  margin: 0px 0px 3px 0px;
  line-height: 18px;
}

.blue {
  color: #313131;
}

.just {
  text-align: justify;
}

.greenText {
  color: #008000;
}

h1,
h2,
h4 {
  margin: 0px 0px 18px 0px;
}
h6 {
  margin: 3px 0px;
}
h3 {
  margin: 0;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0px;
  color: #df0000 !important;
  font-family: verdana;
  text-transform: uppercase;
  h2 {
    font-size: 16px;
  }
}
/*	h2 {font-size:16px!important;}
	h3 {font-size:15px!important;}
	h4 {font-size:16px!important;}
	
	h6 {font-size:12px!important;} */

img {
  border-style: none;
}

.s10 {
  font-size: 10px;
}
.s11 {
  font-size: 11px;
}
.s12 {
  font-size: 12px;
}
.s13 {
  font-size: 13px;
}
.s14 {
  font-size: 14px;
}

.ratingLabel {
  color: #386403;
  font-size: 13px;
}

.ratingVal {
  color: #386403;
  font-size: 22px;
}

.hotHeader {
  color: #b22222;
  font-size: 15px;
}

.formLabel {
  color: #313131;
  font-size: 12px;
  font-weight: bold;
}

a:link {
  color: #903600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #903600;
  text-decoration: none;
}
a:visited:hover {
  color: #903600;
  text-decoration: underline;
}
a:active {
  color: #903600;
  text-decoration: none;
  outline: none;
}
a:focus {
  outline: none;
}

a.normal:link {
  color: #404040;
  text-decoration: none;
}
a.normal:hover {
  text-decoration: underline;
}
a.normal:visited {
  color: #404040;
  text-decoration: none;
}
a.normal:visited:hover {
  color: #404040;
  text-decoration: underline;
}
a.normal:active {
  color: #404040;
  text-decoration: none;
  outline: none;
}
a.normal:focus {
  outline: none;
}

.line {
  border-width: 1px;
  height: 5px;
  padding: 0px;
  margin: 0px;
  border-style: solid none none none;
  border-color: #e0e0e0;
  width: 90%;
}

.footerLine {
  border-width: 3px;
  height: 5px;
  padding: 0px;
  margin: 20px auto 15px auto;
  border-style: solid none none none;
  border-color: #2f4f4f;
}

ul.inlineList {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

ul.inlineList li {
  list-style-type: none;
  display: inline;
  float: left;
}

.footerItem {
  margin: auto;
  padding: 0px;
  height: 15px;
  margin-bottom: 12px;
  text-align: center;
}

ul.footerItem li {
  list-style-type: none;
  display: inline;
  float: left;
  margin-left: 15px;
  font-family: Arial;
  font-size: 12px;
}

input[type="text"],
input[type="password"],
select,
textarea {
  border: 1px solid #b1b1b1;
}

#page {
  margin-top: 20px;
  margin-left: 10px;
}

p.new {
  margin-top: 20px;
}

/****************************************************************************/
a.greenLink:link {
  color: #006600;
  text-decoration: none;
}
a.greenLink:hover {
  text-decoration: underline;
}
a.greenLink:visited {
  color: #006600;
  text-decoration: none;
}
a.greenLink:visited:hover {
  color: #006600;
  text-decoration: underline;
}
a.greenLink:active {
  color: #006600;
  text-decoration: none;
  outline: none;
}
a.greenLink:focus {
  outline: none;
}
/****************************************************************************/
a.redLink:link {
  color: #dc143c;
  text-decoration: none;
}
a.redLink:hover {
  text-decoration: underline;
}
a.redLink:visited {
  color: #dc143c;
  text-decoration: none;
}
a.redLink:visited:hover {
  color: #dc143c;
  text-decoration: underline;
}
a.redLink:active {
  color: #dc143c;
  text-decoration: none;
  outline: none;
}
a.redLink:focus {
  outline: none;
}

/****************************************************************************/
a.blueLink:link {
  color: #313131;
  text-decoration: none;
}
a.blueLink:hover {
  text-decoration: underline;
}
a.blueLink:visited {
  color: #313131;
  text-decoration: none;
}
a.blueLink:visited:hover {
  color: #313131;
  text-decoration: underline;
}
a.blueLink:active {
  color: #313131;
  text-decoration: none;
  outline: none;
}
a.blueLink:focus {
  outline: none;
}

/****************************************************************************/
a.orangeLink:link {
  color: #ff7f50;
  text-decoration: none;
}
a.orangeLink:hover {
  text-decoration: underline;
}
a.orangeLink:visited {
  color: #ff7f50;
  text-decoration: none;
}
a.orangeLink:visited:hover {
  color: #ff7f50;
  text-decoration: underline;
}
a.orangeLink:active {
  color: #ff7f50;
  text-decoration: none;
  outline: none;
}
a.orangeLink:focus {
  outline: none;
}

/****************************************************************************/
a.greyLink:link {
  color: #666666;
  text-decoration: none;
}
a.greyLink:hover {
  text-decoration: underline;
}
a.greyLink:visited {
  color: #666666;
  text-decoration: none;
}
a.greyLink:visited:hover {
  color: #666666;
  text-decoration: underline;
}
a.greyLink:active {
  color: #666666;
  text-decoration: none;
  outline: none;
}
a.greyLink:focus {
  outline: none;
}
/****************************************************************************/
a.darkGreyLink:link {
  color: #404040;
  text-decoration: none;
}
a.darkGreyLink:hover {
  text-decoration: underline;
}
a.darkGreyLink:visited {
  color: #404040;
  text-decoration: none;
}
a.darkGreyLink:visited:hover {
  color: #404040;
  text-decoration: underline;
}
a.darkGreyLink:active {
  color: #404040;
  text-decoration: none;
  outline: none;
}
a.darkGreyLink:focus {
  outline: none;
}

/****************************************************************************/
a.whiteLink:link {
  color: #414141;
  text-decoration: none;
}
a.whiteLink:hover {
  text-decoration: underline;
}
a.whiteLink:visited {
  color: #414141;
  text-decoration: none;
}
a.whiteLink:visited:hover {
  color: #414141;
  text-decoration: none;
}
a.whiteLink:active {
  color: #414141;
  text-decoration: none;
  outline: none;
}
a.whiteLink:focus {
  outline: none;
}

/****************************************************************************/
a.letters:link {
  color: #404040;
  text-decoration: none;
}
a.letters:hover {
  text-decoration: none;
  color: #fff;
}
a.letters:visited {
  color: #404040;
  text-decoration: none;
}
a.letters:visited:hover {
  color: #404040;
  text-decoration: none;
}
a.letters:active {
  color: #404040;
  text-decoration: none;
  outline: none;
}
a.letters:focus {
  outline: none;
}

#menuBar_1 {
  width: 1000px;
  height: 38px;
  background: url(../images/topBar3.gif) no-repeat center;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  position: relative;
}

#menuBar_1 ul li {
  list-style-type: none;
  display: inline;
  margin: 10px 20px 0px 0px;
  float: left;
  font-family: Arial;
  font-size: 12px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #dfdfdf !important;
  opacity: 1;
}

.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: #dfdfdf !important;
}

/****************************************************************************/

#topRightNav {
  float: right;
  margin: 0px;
}

#topRightNav ul {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

#topRightNav li {
  list-style-type: none;
  display: inline;
  margin: 0px 0px 0px 20px;
  float: left;
  font-family: Arial;
  font-size: 12px;
}

/****************************************************************************/

#greyStrip {
  margin-top: 8px;
  margin-right: 15px;
  padding: 0px;
  white-space: nowrap;
}

#greyStrip li {
  list-style-type: none;
  display: inline;
  margin: 0px 0px 0px 20px;
  float: left;
  font-family: Arial;
  font-size: 12px;
}

/****************************************************************************/

#secNavBar {
  float: left;
  margin: 0px;
}

#secNavBar ul {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

#secNavBar li {
  list-style-type: none;
  display: inline;
  margin: 8px 0px 0px 30px;
  float: left;
  font-family: Arial;
  font-size: 12px;
}

.loginInput {
  background-color: #ffffff;
  background: url(../images/email_italic.gif) no-repeat;
  height: 18px;
  border: 1px solid #bebfc0;
  font-family: Arial;
  margin-top: 4px;
}

.loginPassword {
  background-color: #ffffff;
  background: url(../images/password_italic.gif) no-repeat;
  height: 18px;
  border: 1px solid #bebfc0;
  font-family: Arial;
  margin-top: 4px;
}

.loginInputFull {
  background-color: #ffffff;
  background: url(../common/images/shim.gif) no-repeat;
  height: 18px;
  border: 1px solid #bebfc0;
  font-family: Arial;
  margin-top: 4px;
}

/*
	.loginInput {
	height:18px;
	border:1px solid #bebfc0;
	color:#a9a9a9;
	margin-top:4px;
	font-style:italic;
	font-family: Arial;
	}
	
	.loginInputFull {
	height:18px;
	border:1px solid #bebfc0;
	color:#404040;
	margin-top:4px;
	font-style:normal;
	font-family: Arial;
	}
	*/
.loginButton {
  width: 50px;
  height: 22px;
  border: 1px solid #bebfc0;
  color: #808080;
  margin-top: 4px;
  font-family: Arial;
  font-size: 12px;
}

/****************************************************************************/

#navbar2 {
  height: 38px;
  float: left;
  margin-left: 20px;
}

#navbar2 ul {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

#navbar2 li {
  list-style-type: none;
  display: inline;
  margin: 0px;
  float: left;
}

/****************************************************************************/

#footer {
  clear: both;
}
/****************************************************************************/

.framed {
  border: 1px solid #d6d6d6;
  padding: 2px;
}

.cartBox {
  border: 1px solid #ababab;
  padding: 10px 10px 10px 10px;
  background-color: #f0f8ff;
}

#adverts {
  padding: 0px;
  margin: 0px;
  float: right;
}

#ad {
  padding: 0px 0px 9px 0px;
}

/* Box */
#textBoxHeader {
  width: auto;
  height: 31px;
  background-color: #e8e8e8;
  font-weight: bold;
  padding-left: 12px;
}

#titles {
  padding-top: 8px;
  padding-right: 15px;
}

#textBox {
  width: 389px;
  text-align: left;
  border: 1px solid #d6d6d6;
  font-family: Arial;
  font-size: 12px;
  margin-bottom: 9px;
  padding: 0px;
}

#textBoxPane {
  width: auto;
  background-color: #ffffff;
}

/* End Box */

.small {
  font-size: 10px;
}

.whiteBG,
p {
  background-color: #ffffff;
  font-size: 12px;
  font-family: verdana, arial;
  color: #333333;
}

.portfolioPreview {
  font-size: 12px;
  font-family: verdana;
  color: #404040;
}

.maintable {
  width: 1000px;
  padding-top: 10px;
}

.graybg {
  background-color: #cacaca;
  padding: 5px 5px 5px 12px;
  font-weight: bold;
  color: #e5e5e5;
  font-size: 12px;
}

.toplinks {
  float: right;
  margin-top: 10px;
}

.toplinks ul {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 31px;
  display: block;
}

.toplinks li {
  list-style-type: none;
  display: inline;
  padding: 0px 1px 0px 0px;
  margin: 0;
  height: 31px;
  line-height: 31px;
}

.toplinks a,
.toplinks a:visited {
  text-decoration: none;
  color: #8d8c8c;
}

.toplinks a.bold {
  color: #000;
  font-weight: bold;
}

.toplinks a:hover,
.toplinks a:active {
  color: #000;
}

.smallfont {
  font-size: 10px;
}

.pagin {
  font-size: 9px;
  width: 16px;
  height: 14px;
  border: 1px solid #cccccc;
  padding-top: 2px;
  padding-bottom: 0px;
  background-color: #efefef;
  color: #a6a6a6;
  margin-left: 1px;
}

select {
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #fafafa;
  border: 1px #b4b4b4 solid;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666 !important;
}

option {
  background-color: #fafafa;
  color: #666666;
}

.footlinks a:hover,
.footlinks a:active {
  color: #000;
}

ul.footlinks {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding-left: 20px;
}

ul.footlinks li {
  background: url(../images/arr.gif) no-repeat 0 6px;
  padding: 0 0 5px 25px;
  line-height: 24px;
}

ul.footlinks li a,
ul.checklist_1 li a:visited {
  color: #6b6a6a;
  text-decoration: none;
}

.footbg {
  padding-top: 18px;
}

.welcome {
  margin: 3px 0 0 0;

  /*background-image:url(../images/welcomebg.png);
	background-repeat:repeat-x;
	*/
  width: 100%;
}
.welcome h2 {
  font-size: 18px;
  margin-left: 30px;
  font-family: century gothic;
  color: #666;
}
.space {
  height: 10px;
}

.dotline {
  height: 1px;
  background-color: #bab9b9;
  margin-left: 10px;
  margin-right: 10px;
}

.welcome p {
  padding: 0px 8px 0px 15px;
  line-height: 20px;
}

#newsticker-demo {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  width: 319px;
  height: 240px;
}

#newsticker-demo .title {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 0 10px 0;
  text-align: center;
}

.newsticker-jcarousellite {
  padding-top: 5px;
}
.newsticker-jcarousellite ul li {
  list-style: none;
  display: block;
  padding: 3px 8px 8px 20px;
}
.newsticker-jcarousellite .thumbnail {
  float: left;
  width: 110px;
}
.newsticker-jcarousellite .info {
  float: left;
}
.newsticker-jcarousellite .info span.cat {
  display: block;
  font-size: 10px;
  color: #808080;
}

.clear {
  clear: both;
}

.clientname {
  font-weight: bold;
}

.welcome tr td {
}

.welcome ul.categ {
  list-style-type: none;
  margin: 5px 0 15px 0;
  padding: 0 5px 0 20px;
}

.welcome ul.categ li {
  background: url(../images/next.png) no-repeat 0 6px;
  padding: 0 0 5px 25px;
  line-height: 24px;
}

.welcome ul.categ li a,
ul.checklist_1 li a:visited {
  color: #444;
}

.footerLine {
  border-width: 2px;
  height: 2px;
  padding: 0px;
  border-style: solid none none none;
  border-color: #939292;
}

ul.footerItem {
  width: 870px;
  padding-left: 140px;
  padding-bottom: 10px;
}

ul.footerItem li {
  list-style-type: none;
  display: inline;
  float: left;
  margin-left: 15px;
  font-family: Arial;
  font-size: 12px;
  color: #666666;
}

ul.footerItem li a {
  color: #666666;
  text-decoration: none;
}

.copyright {
  text-align: center;
  padding: 5px;
}

.spacetext {
  letter-spacing: 1px;
  color: #1378ca;
}

.free {
  font-size: 12px;
  color: #cc3300;
  font-weight: bold;
}

.textdisplay {
  font-size: 18px;
  color: #e93537;
  font-weight: bold;
  padding-left: 20px;
  font-family: Century Gothic;

  padding-top: 10px;
}

#steplink {
  display: inline;
}
#steplink ul {
  list-style-type: none;
}
#steplink li {
  list-style-type: none;
}

/*----------Good Quality---------------*/
.header {
  display: block;
  clear: both;
  width: 100%;
  height: none;
  margin: 0;
}
.logo {
  float: left;
  padding-top: 15px;
}
.header_link {
  float: right;
}
.slogan {
  /*color:#990100;*/
  color: #cc0000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  float: right;
  padding: 5px 5px 0 0;
  margin-bottom: 5px;
}
.flag {
  float: left;
  width: 100px;
  text-align: center;
  padding-top: 22px;
}
.flag img {
  height: 35px;
}
.search_bar_yellow_bg {
  width: 100%;
  float: left;
  /* height: 100px; */
  padding: 10px 0 0 0;

  /*IE9 or below IE9*/
  background: url(../images/header_bg.gif) no-repeat top;

  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #ffde00 0%, #f1c804 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #ffde00 0%, #f1c804 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #ffde00 0%, #f1c804 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #ffde00),
    color-stop(1, #f1c804)
  );
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #ffde00 0%, #f1c804 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #ffde00 0%, #f1c804 100%);

  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0; /* future proofing */
  -khtml-border-radius: 7px 7px 0 0; /* for old Konqueror browsers */
}

.grey_bg {
  display: block;
  background: #eee;

  padding: 5px 5px;

  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px; /* future proofing */
  -khtml-border-radius: 0 0 7px 7px; /* for old Konqueror browsers */

  font-family: arial;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #82581e;
}
.home_left_side_bar_td {
  width: 265px;
  height: 665px;
  background-color: #eee;

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
  margin-top: 0px;
  padding: 10px 0;
}
.header_form {
  position: relative;
  padding: 0 5px 0 0;
  float: left;
}

.home_feature_text {
  font-size: 11px;
  color: #aaa;
  display: block;
  clear: both;
  margin: 2px 0;
}
.home_feature_text span {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.slideshow {
  display: block;
  clear: both;
  margin-top: 3px;
}
.slideshow img {
}
.demo_showcases {
  margin: 45px 0 0 0;
}
.demo_showcases tr td {
  color: #555;
  font-size: 12px;
  font-weight: 500;
}
.td_border {
  border-bottom: 3px solid #f2e5da;
}
.demo_show_img_bg {
  background: #eee;
  padding: 3px;
  margin-right: 13px;

  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px#aaa;
  box-shadow: 0 0 3px #aaa;

  text-align: center;
}
.demo_show_img_bg:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.demo_show_img_bg img {
  width: 160px;
  height: 114px;
}
.demo_show_img_bg_last {
  background: #eee;
  padding: 3px;
  margin-right: 0px;
  width: 160px;
  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px#aaa;
  box-shadow: 0 0 3px #aaa;
  margin-top: 20px;
  text-align: center;
}
.demo_show_img_bg_last:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.demo_show_img_bg_last img {
  width: 160px;
  height: 114px;
}

/* Basic jQuery Slider essential styles */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
li.bjqs-slide {
  position: absolute;
  display: none;
}
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
ul.bjqs-controls.v-centered li a {
  position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  width: 100%;
}
ol.bjqs-markers.h-centered {
  text-align: center;
}
ol.bjqs-markers li {
  display: inline;
}
ol.bjqs-markers li a {
  display: inline-block;
}
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

ul.bjqs-controls.v-centered li a {
  display: block;
  padding: 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover {
  background: #000;
  color: #fff;
}

ol.bjqs-markers li a {
  padding: 5px 10px;
  background: #000;
  color: #fff;
  margin: 5px;
  text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover {
  background: #999;
}

p.bjqs-caption {
  background: rgba(255, 255, 255, 0.5);
}

#leftPanel {
  padding-top: 6px;
  text-align: left;
}

/*------------Edit Profile Form---------------*/
table.edit_profile {
  margin-top: 5px;
  width: 100%;
}
table.edit_profile tr th {
  background: #0070c0;
  color: #ffff2a;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 3px;
}
table.edit_profile tr th span {
  color: #ffff2a;
  font-size: 14px;
  margin-left: 10px;
}

table.no_border_header {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
table.no_border_header tr {
  border: 0px;
  border-collapse: collapse;
  width: 100%;
}
table.no_border_header tr td {
  border: 0px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  height: 100%;
}

#my-box-fixed {
  position: fixed;
  width: 100px;
  height: auto;
  top: 76%;
  right: 0%;
  margin-left: -100px;
  margin-top: -75px;
  background: #fccc00;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  padding: 5px;
}
#my-box-fixed p {
  color: #733a12;
  display: block;
  font-family: arial;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
}
#my-box-fixed a,
#my-box-fixed a:hover,
#my-box-fixed a:visited {
  color: #ff0000 !important;
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  display: block;
  margin: 3px 0 0 0;
}

table.profileTable {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}

table.profileTable[viewmode] tbody tr {
  height: 300px !important;
}
table.profileTable tbody tr td {
  display: block !important;
  padding: 0px !important;
  margin: 0px !important;
  position: relative;
}
table.profileTable[editmode] tbody tr:not(:first-of-type):not(:last-of-type) {
  cursor: move !important;
}
table.profileTable tbody tr td span.ui-state-default {
  padding: 4px !important;
}
table.profileTable tbody tr td div {
  display: block !important;
}
table.profileTable tbody tr td div input[type="text"] {
  font-size: 10px !important;
  width: 95% !important;
  border: 0px !important;
  border-top: dashed #c0c0c0 1px !important;
  text-align: center !important;
}
table.profileTable tbody tr td div span {
  display: block !important;
  font-weight: bold !important;
}
table.profileTable tbody tr td div span[display_type] {
  text-align: center !important;
}
table.profileTable tbody tr td div span[display_type] span {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
table.profileTable tbody tr td div span[display_type] div.counter {
  text-align: right !important;
  font-weight: normal !important;
  font-size: 9px !important;
  padding-top: 3px !important;
}
table.profileTable tbody tr td div span[display_type] div.fixed-height {
  height: 220px !important;
  overflow: hidden !important;
  position: relative;
}
table.profileTable[viewmode]
  tbody
  tr
  td
  div
  span[display_type]
  div.fixed-height:hover {
  overflow: visible !important;
}
table.profileTable tbody tr td div span[display_type] div.video-height {
  height: 148px !important;
  overflow: hidden !important;
}
table.profileTable[viewmode]
  tbody
  tr
  td
  div
  span[display_type]
  div.video-height {
  height: 200px !important;
}
table.profileTable[viewmode]
  tbody
  tr
  td
  div
  span[display_type]
  div.video-height
  span {
  width: 100% !important;
  height: 100% !important;
}
table.profileTable tbody tr td div span[display_type] div.fake-video-height {
  height: 328px !important;
  background-image: url(../common/images/largeFileIcons/mp4.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
table.profileTable
  tbody
  tr
  td
  div
  span[display_type]
  div.fake-video-height
  span {
  display: inline-block !important;
  border: 1px solid rgb(197, 197, 197) !important;
  padding: 4px !important;
  position: relative !important;
  top: 152px !important;
  cursor: pointer !important;
}
table.profileTable
  tbody
  tr
  td
  div
  span[display_type]
  div.fake-video-height
  span.ui-icon {
  padding: 0px !important;
  position: unset !important;
  border: none !important;
}
table.profileTable tbody tr td div span[display_type] div img {
  -webkit-user-drag: none !important;
}
table.profileTable
  tbody
  tr
  td
  div
  span[display_type]
  div.fake-video-height
  img {
  display: none !important;
}
table.profileTable tbody tr td div span[display_type] div img.img-responsive {
  /* height: 220px !important;*/
  max-width: 100% !important;
  margin: 0 auto;
}
table.profileTable[viewmode]
  tbody
  tr
  td
  div
  span[display_type]
  div
  img.img-responsive {
  transition: transform 0.2s !important;
}
table.profileTable[viewmode]
  tbody
  tr
  td
  div
  span[display_type]
  div
  img.img-responsive:hover {
  transform: scale(1) !important;
  border: 1px solid #c0c0c0 !important;
  border-radius: 5px !important;
}
table.profileTable tbody tr td div span[display_type] div img.img-nonimage {
  padding-top: 72px !important;
}
table.profileTable tbody tr td div span[display_type] span {
  padding: 4px 0px !important;
}
table.profileTable tbody tr td div span[display_type="text"] textarea {
  font-size: 10px !important;
  width: 95% !important;
  height: 197px !important;
  resize: none !important;
  border: 0px !important;
  text-align: center !important;
}
table.profileTable tbody tr td div span[display_type="file"] textarea {
  font-size: 10px !important;
  width: 95% !important;
  height: 70px !important;
  resize: none !important;
  border: 0px !important;
  border-top: dashed #c0c0c0 1px !important;
  border-bottom: dashed #c0c0c0 1px !important;
  text-align: center !important;
}
table.profileTable[viewmode]
  tbody
  tr
  td
  div
  span[display_type="file"]
  textarea {
  font-size: 10px !important;
  height: 70px !important;
  border-top: dashed #c0c0c0 1px !important;
  margin-top: 5px !important;
  border-bottom: none !important;
  text-align: center !important;
}
table.profileTable[viewmode] tbody tr td div span[display_type="file"],
table.profileTable[viewmode] tbody tr td div span[display_type="youtube"] {
  cursor: pointer !important;
}
table.profileTable tbody tr td div.menu_button {
  display: none !important;
  position: absolute;
  float: right !important;
  top: 5px !important;
  padding-right: 10px !important;
  cursor: pointer !important;
  right: -7px;
}
table.profileTable tbody tr td div.menu {
  display: none !important;
  position: absolute;
  top: 30px !important;
  margin-left: 159px !important;
  cursor: pointer !important;
}
table.profileTable tbody tr td div.menu span {
  display: inline-block !important;
  background-color: #999 !important;
  padding: 8px !important;
  width: 55px !important;
  cursor: pointer !important;
  color: #fff !important;
}

table.profileTable tbody tr.double-in-a-row {
  margin-left: 128px !important;
}
table.profileTable tbody tr.immovable.double-in-a-row {
  margin-left: 5px !important;
  margin-right: 128px !important;
}
table.profileTable[viewmode] tbody tr.video {
  margin: 5px !important;
  width: 709px !important;
}
table.profileTable[editmode] tbody tr.immovable,
table.profileTable[editmode] tbody tr.immovable td,
table.profileTable[editmode] tbody tr.immovable div {
  cursor: default !important;
}
table.profileTable tbody tr.immovable td div.menu_button {
  display: inline-block !important;
  float: none !important;
  top: 153px !important;
  margin-left: calc(50% - 15px) !important;
  padding: 0px !important;
  cursor: pointer !important;
  right: initial;
}
table.profileTable tbody tr.immovable td div.menu {
  top: 32px !important;
  margin-left: 65px !important;
}
table.profileTable tbody tr.immovable td div.menu span {
  display: block !important;
  width: 80px !important;
}
table.profileTable tbody tr td div.menu span:hover {
  background-color: #404040 !important;
}
table.profileTable tbody tr td div:hover + div.menu_button {
  display: block !important;
}
table.profileTable tbody tr td div.menu_button:hover + div.menu,
table.profileTable tbody tr td div.menu:hover {
  position: absolute;
  float: right !important;
  top: 5px !important;
  padding-right: 10px !important;
  cursor: pointer !important;
  right: -7px;
  display: block !important;
}

@media (min-width: 768px) {
  #container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #container {
    width: 970px;
  }
  .container {
    width: 970px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #container {
    width: 1000px;
  }
}

#container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.no-padding {
  padding: 0 !important;
}
.searchby {
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .inputform {
    width: 300px;
  }
  #rightTD {
    width: 98%;
    float: left;
    margin-left: 15px;
  }
  .home_left_side_bar_td {
    width: 25%;
    float: left;
  }

  .selectoption {
    font-family: verdana;
    font-size: 14px;
    width: 178px;
  }
  .country-values {
    float: left;
    width: 208px;
  }
  #browse_1 {
    padding-left: 20px;
  }
  .img-section {
    width: 25%;
    float: left;
    margin-top: 20px;
  }
  .demo_show_img_bg {
    width: 160px;
  }
}

@media (min-width: 320px) and (max-width: 330px) {
  .demo_show_img_bg {
    width: 130px !important;
    margin-top: 20px;
  }
  .demo_show_img_bg img {
    width: 130px !important;
    height: 114px;
  }
  .demo_show_img_bg_last {
    width: 130px !important;
  }
  .demo_show_img_bg_last img {
    width: 130px !important;
    height: 114px;
  }
}
@media (min-width: 331px) and (max-width: 360px) {
  .demo_show_img_bg {
    width: 160px !important;
    margin-top: 20px;
  }
  .demo_show_img_bg img {
    width: 160px !important;
    height: 114px;
  }
  .demo_show_img_bg_last {
    width: 160px !important;
  }
  .demo_show_img_bg_last img {
    width: 160px !important;
    height: 114px;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .search_bar_yellow_bg {
    width: 100%;
    /* height: 230px !important; */
  }
  div.cke {
    width: 210px !important;
  }
  .label400 {
    width: 160px !important;
  }
}
@media (min-width: 641px) and (max-width: 667px) {
  .demo_show_img_bg {
    width: 140px !important;
    margin-top: 20px;
  }
  .demo_show_img_bg img {
    width: 140px !important;
    height: 114px;
  }
}
@media (min-width: 413px) and (max-width: 640px) {
  .demo_show_img_bg {
    width: 130px !important;
    margin-top: 20px;
  }
  .demo_show_img_bg img {
    width: 130px !important;
    height: 114px;
  }
}

@media (min-width: 375px) and (max-width: 736px) {
  .home_left_side_bar_td {
    width: 100% !important;
    height: 312px !important;
  }
  .welcome ul.categ li {
    float: left;
    min-width: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .demo_show_img_bg {
    width: 155px !important;
    margin-top: 20px;
  }
  .demo_show_img_bg img {
    width: 155px !important;
    height: 114px;
  }
}
@media (min-width: 361px) and (max-width: 560px) {
  div.cke {
    width: 300px !important;
  }
  .label400 {
    width: 160px !important;
  }
}
@media (min-width: 561px) and (max-width: 767px) {
  div.cke {
    width: 500px !important;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  #colorbox {
    margin-left: 32px !important;
  }
  #ServicesOfBusiness_Profile__tx_service_desc {
    max-width: 270px;
  }
  #container {
    padding-right: 7px !important;
    padding-left: 7px !important;
    margin-right: auto;
    margin-left: auto;
  }
  table.edit_profile {
    margin-top: 5px;
    width: 95% !important;
  }
  #cboxWrapper {
    width: 300px !important;
    margin: 0 auto;
  }
  #colorbox {
    width: 300px !important;
    margin: 0 auto;
  }
  #cboxLoadedContent {
    width: 300px !important;
  }
  #cboxContent {
    width: 280px !important;
  }

  /* #colorbox{ width: 330px!important; margin: 0 auto;}
		#cboxLoadedContent{ width: 300px!important; margin: 0 auto;}
		#cboxContent{ width: 300px!important; margin: 0 auto;} */
  .formLabel {
    width: 100px !important;
  }
  .texteditor {
    height: 400px;
    width: 300px !important;
  }
  .welcome ul.categ li {
    padding: 0 0 5px 18px !important;
  }
  .imgtag {
    width: 50%;
    float: left;
  }
  .toplinks a {
    font-size: 9px;
  }
  .logo img {
    max-width: 280px;
  }
  .mxt-15 {
    margin-top: 15px;
  }
  .home_left_side_bar_td {
    width: 295px !important;
    height: 586px !important;
  }
}
/*@media (min-width:992px) and (max-width:1024px) {
		.search_bar_yellow_bg {
			width: 100%;
			height: 170px!important;}
	} */
@media (min-width: 768px) and (max-width: 991px) {
  .logo img {
    max-width: 360px;
  }
  .search_bar_yellow_bg {
    width: 100%;
    /* height: 200px !important; */
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home_left_side_bar_td {
    width: 100% !important;
  }
  .labelname {
    width: 112px !important;
  }
  .demo_showcases {
    margin: 20px 0 0 0 !important;
  }
  .img-section {
    width: 100% !important;
    margin-top: 20px;
  }
  .demo_show_img_bg {
    width: 160px;
  }

  .selectoption {
    font-family: verdana;
    font-size: 14px;
    width: 156px;
  }
  .country-values {
    float: left;
    width: 156px;
  }

  .search_bar_yellow_bg {
    width: 100%;
    /* height: 265px; */
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .flag {
    padding-top: 22px !important;
  }
  img {
    max-width: 100%;
  }
  .flag img {
    height: 35px;
    margin-top: 0px !important;
  }
  .toplinks {
    float: right;
    margin-top: -8px !important;
  }
  .logo {
    float: left;
    padding-top: 5px !important;
  }
  h1 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .welcome h2 {
    margin-top: 0px;
  }
  .welcome ul.categ {
    list-style-type: none;
    margin: 5px 0 15px 0;
    padding: 0 5px 0 7px !important;
  }
  .searchby {
    padding-left: 2px !important;
  }
}
.searchfind {
  width: 195px;
}
.browse-number {
  border: solid red 1px;
}
.number-list {
  font-family: arial;
  font-size: 13px;
  margin-top: 0px;
  margin-right: 1px;
  padding-top: 1px;
  width: 20px;
  height: 19px;
  border: 1px solid #cccccc;
  padding-bottom: 0px;
  background-color: #efefef;
  color: #a6a6a6;
}
.listalbhabet {
  font-size: 13px;
  width: 20px;
  height: 19px;
  border: 1px solid #cccccc;
  padding-bottom: 0px;
  background-color: #efefef;
  color: #a6a6a6;
}

.img-section {
  width: 25%;
  float: left;
  margin-top: 20px;
}
.demo_show_img_bg {
  width: 160px;
  margin-top: 20px;
}
.left-sec {
  float: left;
}
.right-sec {
  float: left;
}
.bjqs-slide {
  max-width: 100%;
}
.imgtag {
  float: left;
}
.profile-ex {
  font-family: Arial;
  color: #996600 !important;
  font-size: 16px;
  margin: 0px 0 3px 0;
  font-weight: bold;
  margin-top: 15px;
}
.labelname {
  width: 558px;
}
.label400 {
  width: 400px;
}
button {
  border: 0;
}
@media screen and (min-width: 768px) {
  .toplinks {
    margin-right: 5px;
  }
  .listalbhabet {
    margin-left: 1px;
    font-family: arial;
    padding-top: 1px;
  }
  .flag {
    float: left;
    width: 120px !important;
    text-align: center;
    padding-top: 22px;
  }
  .clf-paddd {
    padding-left: 6px;
  }
  .contactinput {
    width: 400px !important;
  }
  table.profileTable tbody tr.single-in-a-row,
  table.profileTable tbody tr.immovable.single-in-a-row {
    margin-left: 252px !important;
    margin-right: 252px !important;
  }
  table.profileTable tbody tr {
    display: inline-block !important;
    width: 330px !important;
    height: 330px !important;
    padding: 10px !important;
    margin: 5px !important;
    border: 1px solid #cecaca !important;
    border-radius: 0px !important;
  }
}
table.profileTable tbody tr {
  width: 330px !important;
  height: 330px !important;
  padding: 10px !important;
  margin: 5px !important;
  border: 1px solid #cecaca !important;
  border-radius: 0px !important;
}
.contactinput {
  width: 250px;
}

.other-con {
  font-size: 13px;
  width: 23px;
  height: 19px;
  border: 1px solid #cccccc;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: inherit !important;
  }
}

.img-auto {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.formInfo {
  padding-bottom: 6px;
}
