<!DOCTYPE html>
<html lang="en">

<head>
	<title>Orapages Login Page</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<meta name="robots" content="noindex,nofollow" />
	<meta name="googlebot" content="noindex">
	<meta name="googlebot-news" content="nosnippet">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- ALL CSS FILES -->
	<link href="css/materialize.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<section class="tz-login">
		<div class="tz-regi-form">
			<h4>Sign In</h4>
			<p>It's free and always will be.</p>
			<form class="col s12" id="admin_login">
				<div class="row">
					<div class="input-field col s12">
						<input type="email" class="validate" name="admin_email">
						<label>Email</label>
					</div>
				</div>
				<input type="hidden" value="<%= csrfToken %>" name="_csrf">
				<div class="row">
					<div class="input-field col s12">
						<input type="password" class="validate" name="admin_password">
						<label>Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12"> <i
							class="waves-effect waves-light btn-large full-btn waves-input-wrapper" style=""><input
								type="submit" value="submit" class="waves-button-input" id="admin_signin"
								style="width: 100%"></i> </div>
				</div>
			</form>
			<p><a>forgot password</a> | Are you a new user ? <a>Register</a> </p>
		</div>
	</section>
	<!--SCRIPT FILES-->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/form-validation.js"></script>
	<script src="js/admin.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>