<!DOCTYPE html>
<html lang="en">

<head>
	<title>FREE online BUSINESS DIRECTORY. OraPages.com</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
	<!-- ALL CSS FILES -->
	<link href="css/materialize.css" rel="stylesheet">
	<link rel="stylesheet" href="js/DataTables/datatables.min.css">
	<% if(page.name == 'add-state' || page.name == 'add-city' || page.name == 'add-brands' || page.name == 'delete-brands' 
	|| page.name == 'add-subcategory' || page.name == 'add-syn-subcategory' || page.name == 'transfer-categories' || page.name == 'transfer-cities' 
	){ %>
	<link href="css/select2-materialize.css" rel="stylesheet">
	<style>
		.select2 {
			width: 100% !important;
			margin: 0px
		}

		.select2-selection.select2-selection--single {
			padding-left: 24px !important;
			height: 45px;
			border: 0px;
		}

		.select2-selection__rendered {
			line-height: 45px !important;
		}
	</style>
	<% } %>

	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />

	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="css/sweetalert.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<% if(page.name == 'edit-csv-main'){ %>
	<link rel="stylesheet" href="css/select2.css">
	<link href="css/select2-bootstrap.min.css" rel="stylesheet">
	<% } %>
</head>

<body>

	<% include components/__include-admin-header %>
	<!--== BODY CONTNAINER ==-->


	<% if(page.name == 'dashboard') { %>
	<% include dashboard/__include-admin-dashboard %>
	<!-- country -->
	<% }else if(page.name == 'add-country') { %>
	<% include location/__include-admin-country-add %>
	<% } else if(page.name == 'del-country') { %>
	<% include location/__include-admin-country-del %>
	<% } else if(page.name == 'edit-country') { %>
	<% include location/__include-admin-country-edit %>


	<!-- state -->
	<% } else if(page.name == 'add-state') { %>
	<% include location/__include-admin-state-add %>
	<% } else if(page.name == 'edit-state') { %>
	<% include location/__include-admin-state-edit %>
	<% } else if(page.name == 'delete-state') { %>
	<% include location/__include-admin-state-del %>


	<!-- city -->
	<% } else if(page.name == 'add-city') { %>
	<% include location/__include-admin-city-add %>
	<% } else if(page.name == 'edit-city') { %>
	<% include location/__include-admin-city-edit %>
	<% } else if(page.name == 'delete-city') { %>
	<% include location/__include-admin-city-del %>


	<!-- tagline -->
	<% } else if(page.name == 'add-tagline') { %>
	<% include tagline/__include-admin-tagline-add %>
	<% } else if(page.name == 'edit-tagline') { %>
	<% include tagline/__include-admin-tagline-edit %>
	<% } else if(page.name == 'delete-tagline') { %>
	<% include tagline/__include-admin-tagline-del %>


	<!-- brands -->
	<% } else if(page.name == 'add-brands') { %>
	<% include brands/__include-admin-brands-add %>
	<% } else if(page.name == 'edit-brands') { %>
	<% include brands/__include-admin-brands-edit %>
	<% } else if(page.name == 'delete-brands') { %>
	<% include brands/__include-admin-brands-del %>


	<!-- banners -->
	<% } else if(page.name == 'add-banners') { %>
	<% include banner/__include-admin-banners-upload %>
	<% } else if(page.name == 'update-banners') { %>
	<% include banner/__include-admin-banners-update %>

	<!-- bulk upload -->
	<% } else if(page.name == 'add-csv') { %>
	<% include bulkupload/__include-admin-csv-upload %>
	<% } else if(page.name == 'edit-csv-main') { %>
	<% include bulkupload/__include-admin-csv-edit %>
	<% } else if(page.name == 'list-csv-main') { %>
	<% include bulkupload/__include-admin-csv-uploaded %>

	<% } else if(page.name == 'edit-company-main') { %>
	<% include bulkupload/__include-admin-companies-edit %>

	<!-- category -->
	<% } else if(page.name == 'add-category') { %>
	<% include category/__include-admin-category-add %>
	<% } else if(page.name == 'delete-category') { %>
	<% include category/__include-admin-category-del %>
	<% } else if(page.name == 'edit-category') { %>
	<% include category/__include-admin-category-edit %>

	<!-- subcategory -->
	<% } else if(page.name == 'add-subcategory') { %>
	<% include category/__include-admin-subcategory-add %>
	<% } else if(page.name == 'delete-subcategory') { %>
	<% include category/__include-admin-subcategory-del %>
	<% } else if(page.name == 'edit-subcategory') { %>
	<% include category/__include-admin-subcategory-edit %>
	<% } else if(page.name == 'add-syn-subcategory') { %>
	<% include category/__include-admin-subcategory-add-syn %>


	<!-- transfer -->
	<% } else if (page.name == 'transfer-categories'){ %>
	<% include transfer/__include-admin-category-transfer %>
	<% } else if (page.name == 'transfer-cities') { %>
	<% include transfer/__include-admin-city-transfer %>
	<% } %>




	<% include components/__include-admin-footer%>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/select2.min.js"></script>
	<script src="js/form-validation.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase.js"></script>
	<script src="js/admin.js"></script>
	<% if(page.name == 'add-banners'|| page.name == 'update-banners' || page.name == 'transfer-categories') { %>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/file-upload.js"></script>
	<% } %>
	<% if(page.name == 'add-csv'){ %>
	<script>
		var files;
		$("#csv-to-upload").on("change", function (e) {
			if (!e.target.files || !window.FileReader) return;
			files = e.target.files;
		});
	</script>
	<% } %>
	<% if(page.name == 'add-country' || page.name == 'edit-country' || page.name == 'del-country' || page.name == 'add-state' || page.name == 'edit-state' || page.name =='edit-city' || page.name =='add-city'|| page.name =='delete-city'){ %>
	<script>
		getCityStateCountry({
			type: 'country'
		});
	</script>
	<% }else if(page.name == 'delete-brands' || page.name == 'edit-brands'){ %>
	<script>
		getBrands();
	</script>
	<% } else if(page.name == 'delete-tagline' || page.name == 'edit-tagline'){ %>
	<script>
		getTaglines();
	</script>
	<% } else if(page.name == 'delete-category' || page.name == 'edit-category' || page.name == 'add-subcategory' || page.name == 'edit-subcategory' || page.name == 'delete-subcategory' || page.name == 'add-syn-subcategory'){ %>
	<script>
		getCategories();
	</script>
	<% } else if(page.name == 'transfer-categories') { %>
	<script>
		getTransferCategories()
	</script>
	<% } else if(page.name == 'transfer-cities') { %>
	<script>
		getTransferCities();
	</script>
	<% } else if(page.name == 'edit-csv-main') { %>
	<script src="js/editCSV.js"></script>
	<script>
		var results;
		$.ajax({
			type: "get",
			url: "locationsAdmin",
			dataType: "json",
			success: function (response) {
				results = response;
				console.log(results);
				setTimeout(() => {
					$(".select_two").select2({
						placeholder: "Please select cities",
						theme: 'bootstrap',
						data: results,
						minimumInputLength: 2
					});
				}, 5000);

			}
		});
		var csvName = '<%= page.csvName %>';
		$('.temp_upload').on("click", function () {
			updateTempCompanies(csvName);
		});


		$("#uploadCompanies").submit(function (e) {
			e.preventDefault();
			uploadCompanies(csvName);
		});

		$('.upload').on('click', function (e) {
			$('.cats_select').each(element => {
				if ($($('.cats_select')[element]).val().length <= 0) {
					alert("Please select the categories");
					return;
				}
			});
			$('.cities_select').each(element => {
				if ($($('.cities_select')[element]).val().length <= 0) {
					alert("Please select the cities");
					return;
				}
			});

			// console.log("yes");

			$('#submit_profiles').click();

		});

		getTempCompanies(csvName);
	</script>
	<% } else if(page.name == 'edit-company-main') { %>
	<script src="js/editCSV.js"></script>
	<script>
		getCompanies();
	</script>

	<% } else if(page.name == 'list-csv-main'){ %>
	<script src="js/editCSV.js"></script>
	<% } %>

</body>

</html>