<!DOCTYPE html>
<html lang="en">

<head>
  <title>FREE online BUSINESS DIRECTORY. OraPages.com</title>
  <!-- META TAGS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FAV ICON(BROWSER TAB ICON) -->
  <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
  <meta name="robots" content="noindex,nofollow" />
  <meta name="googlebot" content="noindex">
  <meta name="googlebot-news" content="nosnippet">
  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700"
   rel="stylesheet">
  <!-- FONTAWESOME ICONS -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <!-- ALL CSS FILES -->
  <link href="css/materialize.css" rel="stylesheet">
  <link rel="stylesheet" href="js/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link href="js/smartmenus-1.1.0/css/sm-core-css.css"
   rel="stylesheet" type="text/css" />
  <% if(page.name == 'dashboard-count'){ %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
      .daterangepicker .calendar-table table{
        width: 100% !important;
      }
    </style>
  <% } %>

  <!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
  <link href="js/smartmenus-1.1.0/css/sm-blue/sm-blue.css"
   rel="stylesheet" type="text/css" />
  <style>
    .select2-highlighted .select2-match {
      color: white;
    }

    .sm-blue {
      border-radius: 0px !important;
    }

    @media (min-width: 768px) {
      #main-menu>li {
        float: none;
        display: table-cell;
        width: 1%;
        text-align: center;
      }
    }

    .ui-autocomplete {
      width: 200px;
    }

    .ui-menu {
      border: 1px solid grey;
      background: white;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      max-width: 150 !important;
      z-index: 400;
    }

    .ui-autocomplete-term {
      font-weight: bold !important;
      font-size: 11px !important;
    }

    .ui-menu-item .ui-menu-item-wrapper {
      padding: 1px 5px;
      font-size: 11px;
      font-weight: lighter;
    }

    .ui-helper-hidden-accessible {
      display: none !important;
      visibility: hidden !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
      background: #6693bc !important;
      /* font-weight: bold !important; */
      color: #ffffff !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active .ui-autocomplete-term {
      color: #ffffff !important;
    }

    .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
      position: absolute;
    }

    .lead.text-muted {
      font-size: 14px;
      max-height: 200px;
      overflow: auto;
    }
  </style>
  <% if(page.name == 'add-state' || page.name == 'add-city' 
  || page.name == 'delete-city' || page.name == 'edit-city' 
  || page.name == 'add-brands' || page.name == 'delete-brands' 
	|| page.name == 'add-subcategory' || page.name == 'add-syn-subcategory' 
  || page.name == 'transfer-categories' || page.name == 'transfer-cities' 
  || page.name == 'edit-state' || page.name == 'delete-state' 
	|| page.name == 'del-country' || page.name == 'edit-country'
	){ %>
  <link href="css/select2-materialize.css" rel="stylesheet">
  <style>
    .select2 {
      width: 100% !important;
      margin: 0px
    }

    .select2-selection.select2-selection--single {
      padding-left: 24px !important;
      height: 45px;
      border: 0px;
    }

    .select2-selection__rendered {
      line-height: 45px !important;
    }
  </style>
  <style>
    .capitalize {
      text-transform: capitalize;
    }

    .select2-container-multi .select2-choices .select2-search-choice {
      padding: 5px 5px 5px 18px;
    }
  </style>
  <% } %>

  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
  <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" />
  <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
  <link href="css/responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="css/sweetalert.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <% if(page.name == 'edit-csv-main'){ %>
  <link rel="stylesheet" href="css/select2.css">
  <link href="css/select2-bootstrap.min.css" rel="stylesheet">
  <% } %>
</head>

<body>

  <% include components/__include-admin-header %>
  <!--== BODY CONTNAINER ==-->


  <% if(page.name == 'home') { %>
  <% include dashboard/__include-admin-home %>
  <% }else if(page.name == 'dashboard') { %>
  <% include dashboard/__include-admin-dashboard %>
  <% }else if(page.name == 'dashboard-count') { %>
  <% include dashboard/__include-admin-dashboard-count %>
  <!-- country -->
  <% }else if(page.name == 'add-country') { %>
  <% include location/__include-admin-country-add %>
  <% } else if(page.name == 'del-country') { %>
  <% include location/__include-admin-country-del %>
  <% } else if(page.name == 'edit-country') { %>
  <% include location/__include-admin-country-edit-auto %>


  <!-- state -->
  <% } else if(page.name == 'add-state') { %>
  <% include location/__include-admin-state-add-auto %>
  <% } else if(page.name == 'edit-state') { %>
  <% include location/__include-admin-state-edit-auto %>
  <% } else if(page.name == 'delete-state') { %>
  <% include location/__include-admin-state-del %>


  <!-- city -->
  <% } else if(page.name == 'add-city') { %>
  <% include location/__include-admin-city-add-auto %>
  <% } else if(page.name == 'edit-city') { %>
  <% include location/__include-admin-city-edit-auto %>
  <% } else if(page.name == 'delete-city') { %>
  <% include location/__include-admin-city-del %>


  <!-- tagline -->
  <% } else if(page.name == 'add-tagline') { %>
  <% include tagline/__include-admin-tagline-add %>
  <% } else if(page.name == 'edit-tagline') { %>
  <% include tagline/__include-admin-tagline-edit %>
  <% } else if(page.name == 'delete-tagline') { %>
  <% include tagline/__include-admin-tagline-del %>


  <!-- brands -->
  <% } else if(page.name == 'add-brands') { %>
  <% include brands/__include-admin-brands-add %>
  <% } else if(page.name == 'edit-brands') { %>
  <% include brands/__include-admin-brands-edit %>
  <% } else if(page.name == 'delete-brands') { %>
  <% include brands/__include-admin-brands-del %>


  <!-- banners -->
  <% } else if(page.name == 'add-banners') { %>
  <% include banner/__include-admin-banners-upload %>
  <% } else if(page.name == 'update-banners') { %>
  <% include banner/__include-admin-banners-update %>

  <!-- bulk upload -->
  <% } else if(page.name == 'add-csv') { %>
  <% include bulkupload/__include-admin-csv-upload %>
  <% } else if(page.name == 'add-csv-auto') { %>
  <% include bulkupload/__include-admin-auto-csv-upload %>
  <% } else if(page.name == 'add-csv-large') { %>
  <% include bulkupload/__include-admin-large-csv-upload %>
  <% } else if(page.name == 'edit-csv-main') { %>
  <% include bulkupload/__include-admin-csv-edit %>
  <% } else if(page.name == 'list-csv-main') { %>
  <% include bulkupload/__include-admin-csv-uploaded %>

  <% } else if(page.name == 'edit-company-main') { %>
  <% include bulkupload/__include-admin-companies-edit %>
  <% }else if(page.name == 'city-category-id'){ %>
  <% include bulkupload/__include-admin-upload-city-category %>

  <!-- category -->
  <% } else if(page.name == 'add-category') { %>
  <% include category/__include-admin-category-add %>
  <% } else if(page.name == 'delete-category') { %>
  <% include category/__include-admin-category-del %>
  <% } else if(page.name == 'edit-category') { %>
  <% include category/__include-admin-category-edit-auto %>

  <!-- posts -->
  <% } else if(page.name == 'reported-posts') { %>
  <% include admin-posts/__include-reported_posts %>
  <% } else if(page.name == 'all-posts') { %>
  <% include admin-posts/__include-all_posts %>

  <!-- subcategory -->
  <% } else if(page.name == 'add-subcategory') { %>
  <% include category/__include-admin-subcategory-add-auto %>
  <% } else if(page.name == 'add-non-dis-subcategory') { %>
  <% include category/__include-admin-non-dis-subcategory-add-auto %>
  <% } else if(page.name == 'delete-subcategory') { %>
  <% include category/__include-admin-subcategory-del %>
  <% } else if(page.name == 'edit-subcategory') { %>
  <% include category/__include-admin-subcategory-edit-auto %>
  <% } else if(page.name == 'edit-non-dis-subcategory') { %>
  <% include category/__include-admin-non-dis-subcategory-edit-auto %>
  <% } else if(page.name == 'add-syn-subcategory') { %>
  <% include category/__include-admin-subcategory-add-syn %>


  <!-- transfer -->
  <% } else if (page.name == 'transfer-categories'){ %>
  <% include transfer/__include-admin-category-transfer %>
  <% } else if (page.name == 'transfer-cities') { %>
  <% include transfer/__include-admin-city-transfer %>
  <% }else if(page.name == 'premium-orders'){ %>
  <% include premium/__include-premium %>
  <% } %>

  <% include components/__include-admin-footer%>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/lodash.js"></script>
  <script src="js/select2tpa.js"></script>
  <script src="js/select2.full.min.js"></script>
  <script src="js/form-validation.js"></script>
  <script src="js/admin.js"></script>
  <script src="./js/datatables/jquery.dataTables.js"></script>
  <script src="./js/datatables-bs4/js/dataTables.bootstrap4.js"></script>
  <script src="./js/smartmenus-1.1.0/jquery.smartmenus.min.js"></script>

  <!-- SmartMenus jQuery init -->
  <script>
    $(function () {
      $('#main-menu').smartmenus({
        showOnClick: true,
        subMenusSubOffsetX: 1,
        subMenusSubOffsetY: -8
      });
    });
  </script>
  <% if(page.name == 'dashboard'){%>
  <script>
    $("#countryTable").DataTable({
      "pageLength": 100
    });
  </script>
  <% } %>
  <% if(page.name == 'add-banners'|| page.name == 'update-banners' 
  || page.name == 'transfer-categories') { %>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/file-upload.js"></script>
  <% } %>
  <% if(page.name == 'add-csv' || page.name == 'add-csv-auto' 
  || page.name == 'add-csv-large'){ %>
  <script>
    var files;
    $("#csv-to-upload").on("change", function (e) {
      if (!e.target.files || !window.FileReader) return;
      files = e.target.files;
    });
  </script>
  <% } %>
  <% if(page.name == 'add-country' || page.name == 'delete-state' 
  || page.name == 'edit-country' || page.name == 'del-country' 
  || page.name == 'add-state' || page.name == 'edit-state' 
  || page.name =='edit-city' || page.name =='add-city'
  || page.name =='delete-city'){ %>
  <script>
    getCityStateCountry({
      type: 'country'
    });
  </script>
  <% }else if(page.name == 'delete-brands' || page.name == 'edit-brands'){ %>
  <script>
    getBrands();
  </script>
  <% } else if(page.name == 'delete-tagline' || page.name == 'edit-tagline'){ %>
  <script>
    getTaglines();
  </script>
  <% } else if(page.name == 'delete-category' || page.name == 'edit-category' 
  || page.name == 'add-subcategory' || page.name == 'delete-subcategory' 
  || page.name == 'add-syn-subcategory'){ %>
  <script>
    getCategoriesAuto();
    getSubCategoriesAuto();
    // getCategories();
  </script>
  <% }else if(page.name == 'add-non-dis-subcategory' 
  || page.name == 'edit-non-dis-subcategory'){  %>
  <script>
    getCategoriesAuto();
    getNonDisSubCategoriesAuto();
  </script>
  <% }else if(page.name == 'edit-subcategory'){ %>
  <script>
    getSubCategoriesAuto();
  </script>
  <% } else if(page.name == 'transfer-categories') { %>
  <script>
    let searchCategoryTransfer = {
      open: function (e, ui) {
        $('.working').css("display", "none");
        var
          acData = $(this).data('uiAutocomplete');

        acData
          .menu
          .element
          .find('li.ui-menu-item .ui-menu-item-wrapper')
          .each(function () {
            var me = $(this);
            var regex = new RegExp(acData.term, "gi");
            me.html(me.text().replace(regex, function (matched) {
              return termTemplate.replace('%s', matched);
            }));
          });

      },
      source: function (req, res) {
        $.ajax({
          type: "get",
          url: "/admin/get_categories",
          data: {
            term: req.term
          },
          success: function (response) {
            res(response);
          },
          error: function (a, b, c) {
            res([{
              label: "No categories found"
            }])
          }
        });
      },
      minLength: 2,
      delay: 400,
      select: function (event, ui) {
        if (ui.item.key == '') {
          return;
        }
        if ($(this)[0].name == "category_first_name") {
          $.ajax({
            type: "get",
            url: "/admin/get_transfer_companies_category",
            data: {
              category_id: ui.item.key.split(',')[0]
            },
            success: function (response) {
              $("#selected_companies").show();
              $('[name = "category_first_name"]').prop('category', ui.item.key);
              $("#selected_companies").html(response);
            },
            error: function (a, b, c) {
              alert(a.responseText);
            }
          });
          return;
        } else {
          $('[name = "category_second_name"]').prop('category', ui.item.key);
        }
      }
    }
    $(`[name = "category_first_name"]`).autocomplete(searchCategoryTransfer);
    $(`[name = "category_second_name"]`).autocomplete(searchCategoryTransfer);
  </script>
  <% } else if(page.name == 'transfer-cities') { %>
  <script>
    var locationJson = {
      search: function () {
        $('.working').css("display", "block");
      },
      open: function (e, ui) {
        $('.working').css("display", "none");
        var
          acData = $(this).data('uiAutocomplete');
        acData
          .menu
          .element
          .find('li.ui-menu-item .ui-menu-item-wrapper')
          .each(function () {
            var me = $(this);
            var regex = new RegExp(acData.term, "gi");
            me.html(me.text().replace(regex, function (matched) {
              return termTemplate.replace('%s', matched);
            }));
          });

      },
      source: function (req, res) {
        $.ajax({
          type: "get",
          url: "/locationsform",
          data: {
            term: req.term
          },
          success: function (response) {
            var filteredArray = $.map(response, function (item) {
              if (typeof item != 'undefined') {
                return item;
              }
            });
            res(filteredArray);
          }
        });
      },
      minLength: 2,
      delay: 400,
      select: function (event, ui) {
        if (ui.item.key == '') {
          return;
        }
        if ($(this)[0].name == "city_first_name") {
          $.ajax({
            type: "get",
            url: "/admin/get_transfer_companies_city",
            data: {
              city_id: ui.item.key.split(',')[0]
            },
            success: function (response) {
              $("#selected_companies").show();
              $('[name = "city_first_name"]').prop('location', ui.item.key);
              $("#selected_companies").html(response);
            },
            error: function (a, b, c) {
              alert(a.responseText);
            }
          });
          return;
        } else {
          $('[name = "city_second_name"]').prop('location', ui.item.key);
        }
      }
    }
    $(`[name = "city_first_name"]`).autocomplete(locationJson);
    $(`[name = "city_second_name"]`).autocomplete(locationJson);
  </script>
  <% } else if(page.name == 'edit-csv-main' && page.type !==  'auto_bulk') { %>
  <script src="js/editCSV.js"></script>
  <script>
    setTimeout(() => {
      $('.categoriesauto').autocomplete(autoJson);
      $(".locationauto").autocomplete(locationJson);
    }, 3000);


    var csvId = '<%= page.csvId %>';
    var ip = '<%= page.ip %>';

    $('.temp_upload').on("click", function () {
      updateTempCompanies(csvId);
    });


    $("#uploadCompanies").submit(function (e) {
      e.preventDefault();
      uploadCompanies(csvId, ip, "admin");
    });

    $('.upload').on('click', function (e) {
      $('.cats_select').each(element => {
        if ($($('.cats_select')[element]).val().length <= 0) {
          alert("Please select the categories");
          return;
        }
      });
      $('.cities_select').each(element => {
        if ($($('.cities_select')[element]).val().length <= 0) {
          alert("Please select the cities");
          return;
        }
      });

      // console.log("yes");

      $('#submit_profiles').click();

    });

    getTempCompanies(csvId,"admin");
  </script>

  <% } else if(page.name == 'edit-company-main') { %>
  <script src="js/editCSV.js"></script>
  <script src="js/pagination.js"></script>
  <script src="js/companies_list.js"></script>
  <script>
    getCompanies();
  </script>

  <% } else if(page.name == 'list-csv-main'){ %>
  <script src="js/editCSV.js"></script>
  <% } else if(page.name == 'city-category-id'){ %>
  <script src="js/editCSV.js"></script>
  <script>
    setTimeout(() => {
      $('[name = "category_name"]').autocomplete(categoryIdFinder);
      $('[name = "city_name"]').autocomplete(locationIdFinder);
    }, 3000);

    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).val()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>
  <% } else if(page.name == 'edit-csv-main' && page.type ==  'auto_bulk') { %>
  <script src="js/editCSV.js"></script>
  <script>

    var csvId = '<%= page.csvId %>';
    var ip = '<%= page.ip %>';

    $("#uploadCompanies").submit(function (e) {
      e.preventDefault();
      uploadCompanies(csvId, ip, "auto_bulk");
    });

    $('.upload').on('click', function (e) {
      $('.cats_select').each(element => {
        if ($($('.cats_select')[element]).val().length <= 0) {
          alert("Please select the categories");
          return;
        }
      });
      $('.cities_select').each(element => {
        if ($($('.cities_select')[element]).val().length <= 0) {
          alert("Please select the cities");
          return;
        }
      });

      // console.log("yes");

      $('#submit_profiles').click();

    });

    getTempCompanies(csvId,"auto_bulk");
  </script>
  <% } else if(page.name == 'dashboard-count'){ %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script>
    $(function() {
      $('input[name="dates"]').daterangepicker({
          opens: 'right'
        }, function(start, end, label) {
          $.ajax({
            type: "get",
            url: "/admin/admin_analytics_results",
            data: {
              start_timestamp: new Date(start.format('YYYY-MM-DD')).getTime(),
              end_timestamp:new Date(end.format('YYYY-MM-DD')).getTime(),
              start_date: start.format('YYYY-MM-DD'),
              end_date: end.format('YYYY-MM-DD')
            },
            success: function (response) {
              $("#reports").html(response)
            },error:function(a,b,c){
              console.log(b);
            }
          });
        });
      });
  </script>
  <% }else if(page.name == 'all-posts' || page.name == 'reported-posts') { %>
    <script src="/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var oldStart = 0;
            $.fn.DataTable.ext.pager.numbers_length = 12;
            let table = $('#all_posts').DataTable({
                pageLength: 20,
                lengthChange: false,
                ordering: false,
                searching: false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/getAllPosts",
                },
                dom: "<'row'<'col-sm-2 search'l><'col-sm-2 search-btn'f><'col-sm-8'p>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-8'p>>",
                columns: [{
                      "data": "id",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                      data: "post_content",
                      render: function (data, type, row, meta) {
                        return `<p>${data}</p>`;
                      }
                    },
                    {
                      data:"delete",
                      render: function (data,type,row,meta) { 
                        return `<button class="btn btn-danger btn-sm" onclick="deletePost('${row.post_id}',this)">
                          Delete Post</button>`
                      }
                    }
                ],
                initComplete: function () {
                    $("div.search").html(
                        `<input type="number" placeholder="Page Number" class="form-control" style="height:30px" id="search-field" min="0" max="${table.page.info().pages}">`
                    );
                    $("div.search-btn").html(
                        '<button type="button" class="btn btn-sm btn-primary" id="search-btn">Jump</button>'
                    );
                    $("#search-btn").on('click', function () {
                        table.page(parseInt($('#search-field').val()) - 1).draw('page')
                    });
                },
                fnDrawCallback: function (o) {
                    if (o._iDisplayStart != oldStart) {
                        $('html,body').animate({
                            scrollTop: 0
                        }, 100);
                        oldStart = o._iDisplayStart;
                    }
                },
            });
        });

        $(document).ready(function () {
            var oldStart = 0;
            $.fn.DataTable.ext.pager.numbers_length = 12;
            let table = $('#reported_posts').DataTable({
                pageLength: 20,
                lengthChange: false,
                ordering: false,
                searching: false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/getReportedPosts",
                },
                dom: "<'row'<'col-sm-2 search'l><'col-sm-2 search-btn'f><'col-sm-8'p>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-8'p>>",
                columns: [{
                      "data": "id",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                      data: "post_content",
                      render: function (data, type, row, meta) {
                        return `<p>${data}</p>`;
                      }
                    },
                    {
                      data:"company_url",
                      render: function (data, type, row, meta) {
                          return `<a href="/${data}" target="_blank" class="text-ora">${row.company_business_name}</a>`;
                      }
                    },
                    {
                      data:"message",
                      render: function (data, type, row, meta) {
                            return `<p>${data}</p>`;
                      }
                    },
                    {
                      data:"delete",
                      render: function (data,type,row,meta) { 
                        return `<button class="btn btn-danger btn-sm" onclick="deletePost('${row.post_id}',this)">
                          Delete Post</button>`
                      }
                    },
                    {
                      data:"delete_report",
                      render: function (data,type,row,meta) { 
                        return `<button class="btn btn-success btn-sm" onclick="deleteReport('${row.post_id}','${row.report_id}',this)">
                          Ignore</button>`
                      }
                    }
                ],
                initComplete: function () {
                    $("div.search").html(
                        `<input type="number" placeholder="Page Number" class="form-control" style="height:30px" id="search-field" min="0" max="${table.page.info().pages}">`
                    );
                    $("div.search-btn").html(
                        '<button type="button" class="btn btn-sm btn-primary" id="search-btn">Jump</button>'
                    );
                    $("#search-btn").on('click', function () {
                        table.page(parseInt($('#search-field').val()) - 1).draw('page')
                    });
                },
                fnDrawCallback: function (o) {
                    if (o._iDisplayStart != oldStart) {
                        $('html,body').animate({
                            scrollTop: 0
                        }, 100);
                        oldStart = o._iDisplayStart;
                    }
                },
            });
        });
      </script>
  <% } %>

</body>

</html>