<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="style.css" />
     -->
    <style>
        .capitalize {
            text-transform: capitalize;
        }

        .select2-container-multi .select2-choices .select2-search-choice {
            padding: 5px 5px 5px 18px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>select2 with pagination</h1>
            <p>for improved performance with large data sets (20 000 items)</p>
        </div>
        <input id="test" style="width:100%;" placeholder="type a number, scroll for more results" />
    </div>
    <!--[if lt IE 9]>
     <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!--<![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase.js"></script>
    <script src="js/admin.js"></script>
    <script src="js/select2tpa.js"></script>
    <!-- <script src="script.js"></script> -->
    <script>
        // Function to shuffle the demo data
        // function shuffle(str) {
        //     return str
        //         .split('')
        //         .sort(function () {
        //             return 0.5 - Math.random();
        //         })
        //         .join('');
        // }

        // // For demonstration purposes we first make
        // // a huge array of demo data (20 000 items)
        // // HEADS UP; for the _.map function i use underscore (actually lo-dash) here
        // function mockData() {
        //     return _.map(_.range(1, 20000), function (i) {
        //         return {
        //             id: i,
        //             text: shuffle('te ststr ing to shuffle') + ' ' + i,
        //         };
        //     });
        // }
        // (function () {
        //     // init select 2
        //     $('#test').select2({
        //         data: mockData(),
        //         placeholder: 'search',
        //         multiple: true,
        //         // query with pagination
        //         query: function (q) {
        //             var pageSize,
        //                 results,
        //                 that = this;
        //             pageSize = 20; // or whatever pagesize
        //             results = [];
        //             if (q.term && q.term !== '') {
        //                 // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
        //                 results = _.filter(that.data, function (e) {
        //                     return e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0;
        //                 });
        //             } else if (q.term === '') {
        //                 results = that.data;
        //             }
        //             q.callback({
        //                 results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
        //                 more: results.length >= q.page * pageSize,
        //             });
        //         },
        //     });
        // })();

        function shuffle(str) {
            return str
                .split('')
                .sort(function () {
                    return 0.5 - Math.random();
                })
                .join('');
        }

        // For demonstration purposes we first make
        // a huge array of demo data (20 000 items)
        // HEADS UP; for the _.map function i use underscore (actually lo-dash) here
        function mockData() {
            return _.map(_.range(1, 2000), function (i) {
                return {
                    id: i,
                    text: shuffle('te ststr ing to shuffle') + ' ' +
                        i,
                };
            });
        }

        function getTransferCategories() {
            var i = 0;
            database.ref("categories").orderByChild("category_name").limitToFirst(1000/* max # of nodes to include in query */)
            .once("value", function (
                categories) {
                var data = [];
                categories.forEach(category => {
                    database.ref("company_categories/" + category.key).once("value", function (
                        companies) {
                        if (companies.val() != null) {
                            data.push({
                                id: category.key,
                                text: category.val().category_name
                            });
                            // $("select.select_two_mat").append(`<option value="` + category.key + `" companies="` + companies.numChildren() + `">` + category.val().category_name + `</option>`)
                        } else {
                            data.push({
                                id: category.key,
                                text: category.val().category_name
                            });
                            // $("select.select_two_mat").append(`<option value="` + category.key + `" companies="0">` + category.val().category_name + `</option>`)
                        }
                        i++;
                        if (i == categories.numChildren()) {


                            console.log(mockData());
                            console.log(data);



                            $('#test').select2tpa({
                                data: data,
                                placeholder: 'search',
                                // query with pagination
                                query: function (q) {
                                    var pageSize,
                                        results,
                                        that = this;
                                    pageSize = 20; // or whatever pagesize
                                    results = [];
                                    if (q.term && q.term !== '') {
                                        // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
                                        results = _.filter(that.data, function (e) {
                                            return e.text.toUpperCase()
                                                .indexOf(q.term
                                                    .toUpperCase()) >= 0;
                                        });
                                    } else if (q.term === '') {
                                        results = that.data;
                                    }
                                    q.callback({
                                        results: results.slice((q.page -
                                                1) * pageSize, q.page *
                                            pageSize),
                                        more: results.length >= q.page *
                                            pageSize,
                                    });
                                },
                            });
                        }
                    });
                });
            });
        }

        getTransferCategories();
    </script>
</body>

</html>