<div class="container-fluid sb2">
    <div class="row">

        <div class="container sb2" style="height:90vh;width:70%">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="/admin_category_delete">Update Category</a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i
                                class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin" style="overflow: visible">
                <div class="tz-2-com tz-2-main">
                    <h4>Edit Category</h4>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form>
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <p>Category</p>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <p>Sub Category</p>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-3">
                                                        <p>Synonyms</p>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <textarea name="" id="" cols="" rows=""></textarea>
                                                    </div>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                    <button type="button" class="btn btn-danger">Delete
                                                        Category</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>