<div class="container-fluid sb2">
    <div class="row">
        
        <div class="container sb2" style="height:90vh;width:70%">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="/add_tagline"> Add Synonyms</a> </li>
                    <li class="page-back"><a href="/admin_dashboard"><i class="fa fa-backward" aria-hidden="true"></i>
                            Back</a>
                    </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin" style="overflow: visible">
                <div class="tz-2-com tz-2-main">
                    <h4>Add Synonyms</h4> 
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form id="add_subcategories_syn_form">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <!-- <select name="category_name" class="material_select"
                                                            onchange="getSubcategories(this.value)">
                                                            <option value="Choose" selected>Choose Category</option>

                                                        </select> -->
                                                        <input type="text" name="category_name" class="select_two_mat" placeholder="Please select categories" style="width: 100%;" onchange="getSubcategories(this.value)">
                                                    </div>
                                                </div>
                                                <div class="row" id="subcategory-row">

                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <select class="select_two_mat synonmys"
                                                            name="subcategory_synonmys" multiple></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <button type="submit"
                                                            class="waves-effect waves-light btn-large full-btn">Add
                                                            Synonmys</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>