<style>
    ul li{
        padding-bottom: 0px !important;
    }
    ul{
        font-size: 14px;
        list-style-type: disc;
    }
</style>
<div class="container-fluid sb2">
    <div class="row">
        
        <div class="container sb2" style="height: 90vh;">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="/add_tagline">Add Non Display Subcategories</a> </li>
                    <li class="page-back"><a href="/admin_dashboard"><i class="fa fa-backward" aria-hidden="true"></i>
                            Back</a>
                    </li>
                </ul> 
            </div>
            <div class="tz-2 tz-2-admin" style="overflow: visible">
                <div class="tz-2-com tz-2-main">
                    <h4>Add New Subcategories</h4> 
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form id="add_non_dis_subcategories_form">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input type="text" name="non_dis_subcategories"  placeholder="Please Enter Child" style="width: 100%;">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input type="text" name="category_name" only="add_subcategory" placeholder="Please select parent" style="width: 100%;">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <button type="submit"
                                                            class="waves-effect waves-light btn-large full-btn">Submit
                                                            Non Displayable Subcategories</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <ul id="selected_parent" style="display: none;">
                                                        Selected Parents:

                                                    </ul>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>