<% let {suggestions=[]} = suggestion_list %>
<div class="modal fade request_modal" id="initial_suggestions" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Welcome to Orapages Business Network
                        <p>Friends' Suggestions Grow your business network</p>
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" style="height: 100%; overflow-y: visible;">
                    <ul class="list-group">
                        <% suggestions.forEach(suggestion=>{ %>
                        <% let {name,user_id,company_url} = suggestion  %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <a href="/<%= company_url %>" target="_blank"><%= name %></a>
                                </div>
                                <div class="col text-right">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        onclick="addFriend('<%= user_id %>',this)">Add Friend</button>
                                </div>
                            </div>
                        </li>
                        <% }) %>

                    </ul>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Skip</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // $('#initial_suggestions').on('hidden.bs.modal', function (e) {
    //     $('#initial_suggestions').remove();
    //     $.ajax({
    //         type: "get",
    //         url: "/initial_post",
    //         success: function (response) {
    //             $('#request_modal').html(response);
    //             $('.request_modal').modal('show');
    //         }
    //     });
    // })
</script>