<div role="dialog" tabindex="-1" class="modal" id="download-csv">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Download Sheet for desired Customer or Vendors<br /></h4><button
                    type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Your Email has been sent to the listed Companies<br />
                    You can download the List of the Customers/Vendor
                </p>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button"
                    data-dismiss="modal">Close</button>
                <a class="btn btn-primary" type="button" id="download-csv-button">
                    <span class="submit-text">Download List</span>
                </a>
            </div>
        </div>
    </div>
</div>