<% let {friends=[],friend_count=0,del_button} = friend_list %>
<!-- <div class="modal fade request_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h4 class="modal-title"><%= friend_count %> Friends</h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                </div>
            </form>
        </div>
    </div>
</div> -->


<ul class="list-group list-group-flush">
    <% friends.forEach(friend=>{ %>
        <% let {name,user1_id,user2_id,company_url} = friend %>
    <li class="list-group-item">
        <div class="row">
            <div class="col">
                <a href="/<%= company_url %>" target="_blank"><%= name %></a>
            </div>
            <% if(!!del_button){ %>
            <div class="col text-right">
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteFriend('<%= user1_id %>','<%= user2_id %>',this)">Delete Friend</button>
            </div>
            <% } %>
        </div>
    </li>
    <% }) %>

</ul>