<div role="dialog" tabindex="-1" class="modal fade show request_modal" id="post_content_edit">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="report_post">

                <div class="modal-header">
                    <h4 class="modal-title">Report the Post</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="post_id" value="<%= post_id %>">
                    <input type="hidden" name="user_id" value="<%= user_id %>">
                    <div class="form-group">
                        <textarea class="form-control" name="report_content" rows="8"
                         style="font-size: 20px;outline: none;border: 0px;" placeholder="Please mention why do you want to report the post."></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" type="submit">
                        <!-- <span><span role="status" class="spinner-border" style="margin: 2px;font-size: 24px;"></span></span> -->
                        <span style="font-size: 24px;"><strong>Report Post</strong></span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
$('#report_post').on("submit",function (e) {
    e.preventDefault();
}).validate({
    rules: {
        report_content: {
            required: true,
            minlength: 30
        }
    },
    messages: {
        report_content: {
            required: "Please enter why do you want to report the post",
            minlength: "Please enter more than 30 Characters"
        },
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        $(element).addClass('is-valid');
    },
    submitHandler: (form) => {
        $(form).find('.spinner-border').show();
        $(form).find('.submit-text').html('Please wait');
        $(form).find('[type="submit"]').prop('disabled', true);
        let data = $(form).serializeArray();
        $.ajax({
            type: "post",
            url: "/report_post",
            data: data,
            success: function (response) {
                $(".request_modal").modal('hide');
            },
            error: function (a, b, c) {
                $(form).find('.spinner-border').hide();
                $(form).find('.submit-text').html('Submit');
                $(form).find('[type="submit"]').prop('disabled', false);
                alert('There is some internal server error.');
            }
        });
    }
});
</script>