<div role="dialog" tabindex="-1" class="modal fade show" id="contact-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="contact-form">
                <div class="modal-header">
                    <h4 class="modal-title">Contact Us<br /></h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Please provide some basic information explaining your concern about the contents, so that we
                        can review it and determine whether it violates orapages.com&#39;s Guidelines or is not
                        appropriate for whatever reason.<br /></p>
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <input type="hidden" name="contact_form_type" id="contact_form_type">
                    <div class="form-group">
                        <input type="text" class="form-control" style="margin-bottom: 0px;" placeholder="Your Name"
                            name="nm_cust" /></div>
                    <div class="form-group">
                        <input type="text" class="form-control" style="margin-bottom: 0px;" placeholder="Email"
                            name="tx_cust_email" /></div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Your message" rows="5"
                            name="tx_message"></textarea></div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">
                        <span>
                            <span role="status" class="spinner-border spinner-border-sm"
                                style="margin: 2px;display: none;"></span>
                        </span>
                        <span class="submit-text">Submit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>