<div class="modal fade" role="dialog" tabindex="-1" id="forgot-password">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="forgot-password-form">
                <div class="modal-header">
                    <h4 class="modal-title">Password Reminder<br></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <p>Please enter your registered email address and we will send your password to
                        you<br></p>
                    <div class="form-group"><input class="form-control" type="text" style="margin-bottom: 0px;"
                            placeholder="Email" name="email"></div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">
                        <span>
                            <span class="spinner-border spinner-border-sm" role="status"
                                style="margin: 2px; display: none;"></span>
                        </span>
                        <span class="submit-text">Send me the reset email</span></button>
                </div>
            </form>
        </div>
    </div>
</div>