<div role="dialog" tabindex="-1" class="modal fade show " id="bulk-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="category-contact-form-modal">
                <div class="modal-header">
                    <h4 class="modal-title">Use our BULK EMAIL feature<br /></h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                        <div class="text-center">
                            <p class="text-center">Send your inquiry to customers/vendors<br /></p>
                        </div>
                        <div class="row p-3" style="padding-top: 0 !important;font-size: small;">

                            <div class="col-12">
                                <div class="form-row">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center">
                                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                            style="font-size: 14px;"><br><strong>Location:</strong><br><br></span>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 form-group">
                                        <select class="form-control" id="countryListCategoryModal"
                                            name="countryCategoryModal">
                                            <option value="Choose">Please select Country</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 form-group">
                                        <select class="form-control" id="stateListCategoryModal"
                                            name="stateCategoryModal">
                                            <option value="Choose">Please select State</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 form-group">
                                        <select class="form-control" id="cityListCategoryModal"
                                            name="cityCategoryModal">
                                            <option value="Choose">Please select City</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="keyLocationCategoryFormModal" />
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center">
                                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                            style="font-size: 14px;"><br><strong>Category:</strong><br><br></span>
                                    </div>
                                    <div class="col-sm-10 col-md-10 form-group col-lg-10">
                                        <input class="form-control" id="categorySearchFormModal"
                                            name="categorySearchFormModal" placeholder="Please select Category" />
                                    </div>
                                    <input type="hidden" name="keyCategoryFormModal" />
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" style="margin-bottom: 0px;"
                                            placeholder="Your Name" name="nm_cust" />
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" style="margin-bottom: 0px;"
                                            placeholder="Your Mobile Number" name="number_cust" />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="email" class="form-control" style="margin-bottom: 0px;"
                                            placeholder="Your Email Address" name="tx_cust_email" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" placeholder="Your message" rows="7"
                                            name="tx_message"></textarea>
                                    </div>
                                    
                                    <div class="col-12 form-group">
                                        <div class="">
                                            <input type="file" name="attachment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">
                        <span>
                            <span role="status" class="spinner-border spinner-border-sm"
                                style="margin: 2px;display: none;"></span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>