<% let {requests=[],request_count=0} = friend_requests %>
<!-- <div class="modal fade request_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h4 class="modal-title"><%= request_count %> Friend Requests</h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                </div>
            </form>
        </div>
    </div>
</div> -->


<ul class="list-group list-group-flush">
    <% requests.forEach(request=>{ %>
        <% let {name,sender,receiver,company_url} = request %>
    <li class="list-group-item">
        <div class="row text-center">
            <div class="col-12 mb-2">
                <a href="/<%= company_url %>" target="_blank"><%= name %></a>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success btn-sm"
                receiver="<%= receiver %>" sender="<%= sender %>"
                onclick="acceptRequest('<%= sender %>',this)">Accept</button>
                <button type="button" class="btn btn-danger btn-sm ml-2" 
                receiver="<%= receiver %>" sender="<%= sender %>" 
                onclick="declienRequest('<%= sender %>',this)">Decline</button>
            </div>
        </div>
    </li>
    <% }) %>

</ul>