<% let {shares=[],shares_count=0} = shares_list %>
<div class="modal fade request_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h4 class="modal-title"><%= shares_count %> People Shared this post</h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <% shares.forEach(share=>{ %>
                            <% let {company_business_name,company_url} = share %>
                        <li class="list-group-item">
                            <a href="/<%= company_url %>"><%= company_business_name %></a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

