<% let {friends=[],friend_count=0} = friend_list %>
<div class="modal fade request_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h4 class="modal-title"><%= friend_count %> Friends</h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <% friends.forEach(friend=>{ %>
                            <% let {name} = friend %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col"><%= name %></div>
                                <div class="col text-right">
                                    <button class="btn btn-primary btn-sm">Delete Friend</button>
                                </div>
                            </div>
                        </li>
                        <% }) %>

                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

