<% let {suggestions=[]} = suggestion_list %>
<!-- <div class="modal fade request_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h4 class="modal-title">Friends' Suggestions </h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" style="height: 100%; overflow-y: visible;">
                </div>
            </form>
        </div>
    </div>
</div> -->


<ul class="list-group list-group-flush">
    <% suggestions.forEach(suggestion=>{ %>
        <% let {name,user_id,company_url} = suggestion  %>
    <li class="list-group-item">
        <div class="row">
            <div class="col">
                <a href="/<%= company_url %>" target="_blank"><%= name %></a>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-success btn-sm" onclick="addFriend('<%= user_id %>',this)">Add Friend</button>
            </div>
        </div>
    </li>
    <% }) %>

</ul>