<% let {followers=[],followers_count=0,del_button=false} = followers_list %>

<ul class="list-group list-group-flush">
    <% followers.forEach(person=>{ %>
        <% let {name,follower,following,company_url} = person %>
    <li class="list-group-item">
        <div class="row">
            <div class="col">
                <a href="/<%= company_url %>" target="_blank"><%= name %></a>
            </div>
            <% if(!!del_button){ %>
            <div class="col text-right">
                <button type="button" class="btn btn-danger btn-sm"
                onclick="removeFollow('<%= follower %>',this)">Remove</button>
            </div>
            <% } %>
        </div>
    </li>
    <% }) %>

</ul>