<div role="dialog" tabindex="-1" class="modal request_modal" id="download-csv">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please Login to Your Profile to Post <br /></h4><button
                    type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>If you want to post or get the better experience of Orapages Business Network<br />
                    Then please login if you don't have profile Please Register it.
                </p>
            </div>
            <div class="modal-footer"><button class="btn btn-light login" type="button"
                    data-dismiss="modal" onclick="$('#login').modal('show');">Login to Your Profile</button>
                <a class="btn btn-primary login" type="button" href="/register">
                    <span class="submit-text">Register Your Profile</span>
                </a>
            </div>
        </div>
    </div>
</div>