<% let {followings=[],followings_count=0} = followings_list %>


<ul class="list-group list-group-flush">
    <% followings.forEach(person=>{ %>
        <% let {name,follower,following,company_url} = person %>
    <li class="list-group-item">
        <div class="row">
            <div class="col">
                <a href="/<%= company_url %>" target="_blank"><%= name %></a>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-danger btn-sm" 
                onclick="unfollow('<%= following %>',this)">Unfollow</button>
            </div>
        </div>
    </li>
    <% }) %>

</ul>