<div class="modal fade" role="dialog" tabindex="-1" id="login">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="login-form">
                <div class="modal-header">
                    <h4 class="modal-title">Login your Profile</h4><button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Please enter your email and password</p>
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <div class="form-group"><input class="form-control" type="text" style="margin-bottom: 0px;"
                            placeholder="Email" name="email"></div>
                    <div class="form-group"><input class="form-control" type="password" placeholder="Password"
                            name="password"></div>
                    <div class="form-row">
                        <div class="col"><a href="/register">Do not have the Profile ?</a></div>
                        <div class="col text-right" style="margin-top: 0px;"><a id="forgot-password-button"
                                href="#">Forgot your password ?</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit"><span><span
                                class="spinner-border spinner-border-sm" role="status"
                                style="margin: 2px;display: none;"></span></span><span
                            class="submit-text">Login</span></button></div>
            </form>
        </div>
    </div>
</div>