<% let {company_business_name} = company %>
<div role="dialog" tabindex="-1" class="modal fade" id="analytics_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #fbc904;">
                <h2 class="modal-title">Google Analytics of <em><q><%= company_business_name %></q></em>
                </h2><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div id="analytics">
                    <div class="row mb-5 mt-5">
                        <div class="col-lg-6 mb-5">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Page Views</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <form>
                                                <div class="form-group mb-0">
                                                    <select class="form-control"
                                                        onchange="getPageViews(this.value)">
                                                        <option value="7">7 Days</option>
                                                        <option value="30">30 Days</option>
                                                        <option value="90">90 Days</option>
                                                        <option value="180">6 Months</option>
                                                        <option value="365" selected>12 Months</option>
                                                        <option value="730">2 Years</option>
                                                        <option value="1095">3 Years</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="pageViews" width="400" height="220"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5>Users</h5>
                                        </div>
                                        <div class="col-lg-6">
                                            <form>
                                                <div class="form-group mb-0">
                                                    <select class="form-control"
                                                        onchange="getUsers(this.value)">
                                                        <option value="7">7 Days</option>
                                                        <option value="30">30 Days</option>
                                                        <option value="90">90 Days</option>
                                                        <option value="180">6 Months</option>
                                                        <option value="365" selected>12 Months</option>
                                                        <option value="730">2 Years</option>
                                                        <option value="1095">3 Years</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="pageUsers" width="400" height="220"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5>Countries</h5>
                                        </div>
                                        <div class="col-lg-6">
                                            <form>
                                                <div class="form-group mb-0">
                                                    <select class="form-control"
                                                        onchange="getCountryUsers(this.value)">
                                                        <option value="7">7 Days</option>
                                                        <option value="30">30 Days</option>
                                                        <option value="90">90 Days</option>
                                                        <option value="180">6 Months</option>
                                                        <option value="365" selected>12 Months</option>
                                                        <option value="730">2 Years</option>
                                                        <option value="1095">3 Years</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="vmap" style="height: 400px;"></div>
                                    <canvas id="pageCountry" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5>Cities</h5>
                                        </div>
                                        <div class="col-lg-6">
                                            <form>
                                                <div class="form-group mb-0">
                                                    <select class="form-control"
                                                        onchange="getCityUsers(this.value)">
                                                        <option value="7">7 Days</option>
                                                        <option value="30">30 Days</option>
                                                        <option value="90">90 Days</option>
                                                        <option value="180">6 Months</option>
                                                        <option value="365" selected>12 Months</option>
                                                        <option value="730">2 Years</option>
                                                        <option value="1095">3 Years</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="pageCity" width="400" height="220"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-primary" type="button"
                    data-dismiss="modal">Close Analytics</button></div>
        </div>
    </div>
</div>