<section>
    <div class="form-row">
        <div class="col">
            <h5 class="text-white" style="padding: 4px 20px;margin-top: 20px;background-color: #0070c0;">
                <strong>Agreement</strong><br></h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"
                        checked="" name="agreeTerms" required=""><label class="form-check-label"
                        for="formCheck-1">* I confirm that the information submitted in this form are
                        correct to the best of my knowledge and conform to orapages's&nbsp;<a
                            href="https://www.orapages.com/terms-conditions"><strong>[Terms
                                &amp; Conditions]</strong></a>. The materials and images submitted do not
                        infringe on any third party's copyright.<br></label></div>
            </div>
        </div>
    </div>
</section>