<section id="branch">
    <div class="form-row">
        <div class="col-xl-2"><label class="col-form-label"><strong>Your Company Name *</strong></label></div>
        <div class="col-xl-10">
            <div class="form-group"><input class="form-control text-capitalize" type="text" placeholder=" Your company name"
                    name="company_business_name" value="<%= company_business_name %>"><small
                    class="text-warning">Please enter your COMPANY name.
                    (If you don't have a company, then you enter your PERSONAL name)<br></small></div>
        </div>
    </div>
    <% if(locations.length > 0){ %>
    
    
    <fieldset class="border p-2">
        <legend class="w-auto" style="margin-left: 18px;"><br></legend>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2">
                <label class="col-form-label"><strong>Complete Address *</strong><br></label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-sm-6">
                <div class="form-group">
                    <textarea class="form-control"
                        placeholder="Please enter COMPLETE address including CITY, STATE and COUNTRY."
                        rows="7"
                        name="company_branch_address_0"><%= locations[0].complete_address %></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Telephone</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_phone_0"
                        value="<%= locations[0].mobile %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Fax</strong></label></div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_fax_0"
                        value="<%= locations[0].fax %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Email *</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control mb-3" type="text" value="<%= locations[0].email %>"
                        name="company_branch_email_0">
                <% if(other_emails.length > 0){ %>
                    <% other_emails.forEach((email,index)=>{ %>
                    <div class="form-group">
                        <input type="hidden" name="key_other_emails_<%= index %>" value="<%= email.oe_id %>">
                        <input class="form-control" type="text" value="<%= email.email %>"
                            name="other_emails_<%= index %>">
                    </div>
                    <% }) %>
                <% } %>
                </div>
            </div>
            <div class="col-lg-2 col-xl-2">
                <button class="btn btn-primary" onclick="addMoreEmails()" type="button">Add More Emails</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Website</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control mb-3" type="text" name="company_branch_url_0"
                        value="<%= locations[0].website %>">
                    <% if(other_websites.length > 0){ %>
                        <% other_websites.forEach((website,index)=>{ %>
                        <div class="form-group">
                            <input type="hidden" name="key_other_websites_<%= index %>" value="<%= website.ow_id %>">
                            <input class="form-control" type="text" value="<%= website.website %>"
                                name="other_websites_<%= index %>">
                        </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-2 col-xl-2">
                <button class="btn btn-primary" onclick="addMoreWebsites()" type="button">Add More Websites</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Location *</strong></label>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group">
                    <select class="form-control" id="id_country_0" name="company_branch_country_0">
                        <option value="">Please select Country</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group">
                    <select class="form-control" id="id_state_0" name="company_branch_state_0">
                        <option value="">Please select State</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group">
                    <select class="form-control" id="id_city_0" name="company_branch_city_0">
                        <option value="">Please select City</option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="company_branch_key_0"
                value="<%= [locations[0].city_id,locations[0].state_id,locations[0].country_id,locations[0].location_id].join(',') %>" />
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2">

            </div>
            <div class="col-lg-10 col-xl-10">
                <button class="btn btn-sm btn-warning country-report" type="button">
                    Click here if cannot find Country, State or City !!
                </button>
            </div>

        </div>
    </fieldset>
    <% } else { %>
    <fieldset class="border p-2">
        <legend class="w-auto" style="margin-left: 18px;"><br></legend>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2">
                <label class="col-form-label"><strong>Complete Address *</strong><br></label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-sm-6">
                <div class="form-group">
                    <textarea class="form-control"
                        placeholder="Please enter COMPLETE address including CITY, STATE and COUNTRY."
                        rows="7"
                        name="company_branch_address_0"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Telephone</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_phone_0">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Fax</strong></label></div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_fax_0">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Email *</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_email_0">
                </div>
            </div>
            <div class="col-lg-2 col-xl-2">
                <button class="btn btn-primary" onclick="addMoreEmails()" type="button">Add More Emails</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Website</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_url_0">
                </div>
            </div>
            <div class="col-lg-2 col-xl-2">
                <button class="btn btn-primary" onclick="addMoreWebsites()" type="button">Add More Websites</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Location *</strong></label>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group">
                    <select class="form-control" id="id_country_0" name="company_branch_country_0">
                        <option value="">Please select Country</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group">
                    <select class="form-control" id="id_state_0" name="company_branch_state_0">
                        <option value="">Please select State</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group">
                    <select class="form-control" id="id_city_0" name="company_branch_city_0">
                        <option value="">Please select City</option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="company_branch_key_0"
                value="" />
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2">

            </div>
            <div class="col-lg-10 col-xl-10">
                <button class="btn btn-sm btn-warning country-report" type="button">
                    Click here if cannot find Country, State or City !!
                </button>
            </div>

        </div>
    </fieldset>
    <% } %>
    <% if(locations.length > 1){ %>
    <% for(var j= 1; j < locations.length; j++) { %>
    <fieldset class="border p-2">
        <legend class="text-primary w-auto" style="margin-left: 18px;"><strong>Branch Details</strong>
        </legend>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Complete Address
                        *</strong><br></label></div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-sm-6">
                <div class="form-group">
                    <textarea class="form-control"
                        placeholder="Please enter COMPLETE address including CITY, STATE and COUNTRY."
                        rows="7"
                        name="company_branch_address_<%= j %>"><%= locations[j].complete_address %></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Telephone</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="company_branch_phone_<%= j %>"
                        value="<%= locations[j].mobile %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Fax</strong></label></div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= locations[j].fax %>"
                        name="company_branch_fax_<%= j %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Email</strong></label>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= locations[j].email %>"
                        name="company_branch_email_<%= j %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Location *</strong></label>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group"><select class="form-control" id="id_country_<%= j %>"
                        name="company_branch_country_<%= j %>">
                        <option value="">Please select Country</option>
                    </select></div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group"><select class="form-control" id="id_state_<%= j %>"
                        name="company_branch_state_<%= j %>">
                        <option value="">Please select State</option>
                    </select></div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="form-group"><select class="form-control" id="id_city_<%= j %>"
                        name="company_branch_city_<%= j %>">
                        <option value="">Please select City</option>
                    </select></div>
            </div>
            <input type="hidden" name="company_branch_key_<%= j %>"
                value="<%= [locations[j].city_id,locations[j].state_id,locations[j].country_id,locations[j].location_id].join(',') %>" />
        </div>
        <div class="form-row">
            <div class="col"><button class="btn btn-danger btn-sm" type="button"
                    onclick="$(this).closest('fieldset').remove();locationCount--">Delete Branch</button>
            </div>
        </div>
    </fieldset>
    <% } %>
    <% } %>
</section>
<div class="form-row mt-2">
    <div class="col-sm-3 col-md-3 col-xl-2"><button class="btn btn-success" type="button"
            id="add_branch_btn">Add
            Branches</button></div>
</div>