<section>
    <div class="form-row">
        <div class="col-12">
            <h5 class="text-white" style="padding:5px 20px;background-color: #0070c0;">
                <strong>Products &amp; Services / Categories</strong><br></h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <small class="text-muted">
                You can add unlimited Products &amp; Services<br>
            </small>
        </div>
        <!-- <div class="col"><small class="text-success" style="font-size: 24px;"><strong>This is
                    the most important section.</strong><br></small><small class="text-info"
                style="font-size: 24px;"><strong><span style="text-decoration: underline;">Search
                        Engines</span> will find you thru your&nbsp;Products &amp; Services&nbsp;which you
                    select here.</strong><br></small>
            <small class="text-info" style="font-size: 24px;"><strong>And give proper description of
                    your&nbsp;Products &amp; Services&nbsp;to convey to the
                    visitor.</strong><br></small><small class="text-primary" style="font-size: 24px;"><strong>We
                    strongly suggest to choose correct&nbsp;Products &amp;
                    Services&nbsp;to give right exposure of your business to the
                    visitors.</strong><br></small></div> -->
    </div>
    <% if(categories.length > 0){ %>
    <div class="form-row" id="first-category" style="margin-top: 20px;">
        <div class="col-xl-12">
            <!-- <label><strong>Products &amp; Services *</strong><br></label> -->
            <div class="form-row">
                <div class="col-sm-10 col-xl-9" id="topCategories" style="display: none;">
                    <div class="form-row">
                        <div class="col-xl-10">
                            <div class="form-group">
                                <input class="form-control" type="text" name="company_category_0"
                                    value="<%= categories[0].category_name %>">
                                <input class="form-control" type="hidden" name="company_category_key_0"
                                    value="<%= categories[0].category_id %>">
                                <small>Type the first few letters to view the categories to select
                                    from<br></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12" id="company_category_0" style="display: block;">
                    <div class="form-row">
                        <div class="col-md-3 col-xl-3">
                            <strong>1. <label
                                    id="company_category_name_0"><%= categories[0].category_name %></label></strong>
                            <ul id="company_category_name_list_0" style="font-size: 12px;">
                            </ul>
                        </div>
                        <div class="col">
                            <div class="form-group"><small><strong>Brief Details *</strong>&nbsp;(This will
                                    appear against your company name under the category)<br></small>
                                <textarea class="form-control" name="company_des_category_0"
                                    oninput="charCount(this,'category')" rows="6"
                                    maxlength="400"><%- categories[0].category_desc %></textarea>
                                <button class="btn btn-danger btn-sm d-inline float-right" type="button"
                                    style="margin-top: 4px;" onclick="deleteCatUi(0)">Delete</button>
                                <small class="counter">Character : Max 400 | Used 0 | Remaining
                                    400<br></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else{ %>
    <div class="form-row" id="first-category" style="margin-top: 20px;">
        <div class="col-xl-12">
            <!-- <label><strong>Products &amp; Services *</strong><br></label> -->
            <div class="form-row">
                <div class="col-sm-10 col-xl-9" id="topCategories">
                    <div class="form-row">
                        <div class="col-xl-10">
                            <div class="form-group">
                                <input class="form-control" type="text" name="company_category_0">
                                <input class="form-control" type="hidden" name="company_category_key_0">
                                <small>Type the first few letters to view the categories to select
                                    from<br></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12" id="company_category_0" style="display: none;">
                    <div class="form-row">
                        <div class="col-md-3 col-xl-3">
                            <strong>1. <label id="company_category_name_0"></label></strong>
                            <ul id="company_category_name_list_0" style="font-size: 12px;">
                            </ul>
                        </div>
                        <div class="col">
                            <div class="form-group"><small><strong>Brief Details *</strong>&nbsp;(This will
                                    appear against your company name under the category)<br></small>
                                <textarea class="form-control" name="company_des_category_0" rows="6"
                                    oninput="charCount(this,'category')" maxlength="400"></textarea>
                                <button class="btn btn-danger btn-sm d-inline float-right" type="button"
                                    style="margin-top: 4px;" onclick="deleteCatUi(0)">Delete</button>
                                <small class="counter">Character : Max 400 | Used 0 | Remaining
                                    400<br></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div id="another_category_section">
        <% if(categories.length >1){%>
        <% for(var j= 1;j < categories.length; j++) { %>
        <div class="form-row company_category_<%= j %>" style="margin-top: 20px;">
            <div class="col-xl-12">
                <div class="form-row">
                    <div class="col-sm-10 col-xl-9" style="display: none;">
                        <div class="form-row">
                            <div class="col-xl-10">
                                <div class="form-group">
                                    <input class="form-control ui-autocomplete-input" type="text"
                                        name="company_category_<%= j %>" autocomplete="off"
                                        value="<%= categories[j].category_name %>">
                                    <input class="form-control" type="hidden" name="company_category_key_<%= j %>"
                                        value="<%= categories[j].category_id %>">
                                    <small>Type the first few letters to view the categories to select
                                        from<br></small>
                                </div>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger" type="button"
                                    onclick="$('.company_category_<%= j %>').remove()">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12" id="company_category_<%= j %>" style="display:block">
                        <div class="form-row">
                            <div class="col-md-3 col-xl-3">
                                <strong><%= j+1 %>. <label
                                        id="company_category_name_<%= j %>"><%= categories[j].category_name %></label></strong>
                                <ul id="company_category_name_list_<%= j %>" style="font-size: 12px;">
                                </ul>
                            </div>
                            <div class="col">
                                <div class="form-group"><small><strong>Brief Details *</strong>&nbsp;(This
                                        will appear against your company name under the
                                        category)<br></small>
                                    <textarea class="form-control" name="company_des_category_<%= j %>"
                                        oninput="charCount(this,'catgegory')" rows="6"
                                        maxlength="400"><%- categories[j].category_desc %></textarea>
                                    <button class="btn btn-danger btn-sm d-inline float-right" type="button"
                                        style="margin-top: 4px;" onclick='deleteCatUi("<%= j %>")'>Delete</button>
                                    <small class="counter">Character : Max 400 | Used 0 | Remaining
                                        400<br></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>

    </div>
    <div class="form-row">
        <div class="col"><button class="btn btn-success btn-sm" id="add_another_category_button" type="button">Add
                Another</button></div>
    </div>
</section>