<section style="margin-top: 20px;">
    <div class="form-row">
        <div class="col-12">
            <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);">
                <strong>Description of your Business</strong><br></h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col-xl-12">
            <div class="form-group">
                <% if(premium_expiry_date - new Date().getTime() < 0 || !premium_expiry_date ){ %>
                <textarea class="form-control" id="company_business_details" rows="15"
                    placeholder="Profile Description"
                    name="company_business_details"><%= company_business_details %></textarea>
                <% }else{ %>
                <textarea class="form-control" id="company_business_details_premium" rows="15"
                    placeholder="Profile Description"
                    name="company_business_details_premium"><%= company_business_details %></textarea>
                <% } %>
            </div>
        </div>
    </div>
</section>