<section>
    <div class="form-row">
        <div class="col-12">
            <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Photos</strong><br>
            </h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col ">
            <small class="text-muted">
                You can add up to 90 photos<br>
            </small>
            <!-- <small class="text-info">
                Photo speaks a thousand words<br>
            </small>
            <small class="text-success">
                We recommed to add maximum photos to showcase your business<br>
            </small>
            <small class="text-info">
                We also recommend you give suitable caption to describe each photo<br>
            </small> -->
            <small class="text-warning">
                <span>After you have added photos, you can change the location by 'drag and drop'</span>
                <br>
            </small>
        </div>
    </div>
    <div class="form-row profileTable" style="margin-top: 10px;">
        <% for(var j = 0; j < images.length ; j++) { %>
        <div class="col-md-6 col-lg-6 col-xl-6 company_photos" style="padding: 52px;" id="company_photo_<%= j %>">
            <div class="form-row image-file" style="padding: 0px; width: 90%;">
                <div class="col-xl-12" style="padding: 0px;">
                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center"
                        style="height: 290px;">
                        <img class="d-xl-flex" style="height:100%;object-fit: contain;" src="<%= images[j].image_url %>"
                            id="<%= images[j].image_id %>">
                        <div class="bg-light image-update">
                            <button class="btn btn-light" type="button"
                                onclick="deleteImage('<%= j %>')">Remove</button>
                        </div>
                    </div>
                </div>
                <div class=" col">
                    <div class="form-group">
                        <small class="d-xl-flex justify-content-xl-center">
                            <strong><%= images[j].image_original_name %></strong>
                        </small>
                        <textarea class="form-control" name="company_photo_description_<%= j %>"
                            placeholder="Image Description" rows="4" style="font-size: 11px;" minlength="0"
                            maxlength="100"
                            oninput="charCount(this,'image')"><%= images[j].image_des.substring(0,100) %></textarea>
                        <small class="d-xl-flex justify-content-xl-end counter">Character : Max
                            100 | Used 0
                            |
                            Remaining 100</small></div>
                </div>
            </div>
        </div>
        <% } %>
        <div class="col-md-6 col-lg-6 col-xl-6 immovable" style="padding: 52px;">
            <div class="form-row image-file" style="width: 90%;">
                <div class="col-xl-12">
                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                        style="min-width: 330;min-height: 400px;"><button class="btn btn-primary"
                            id="upload_company_images" type="button"
                            id="upload_company_images"><strong>+</strong></button></div>
                </div>
            </div>
        </div>
    </div>
</section>