<section>
    <div class="form-row">
        <div class="col">
            <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);">
                <strong>Your login details</strong><br></h5>
            <input class="form-control" type="hidden" value="<%= csrfToken %>" name="_csrf">
            <% if(panel==1){ %>
                <input class="form-control" type="hidden" name="ip" value="<%= ip %>">
            <% }else{ %>
                <input type="hidden" name="uploaded_by" value="<%= uploaded_by %>">
                <input type="hidden" name="ip" value="<%= uploaded_ip %>">
                <input type="hidden" name="last_update_ip" value="<%= last_update_ip %>">
                <input type="hidden" name="created_at" value="<%= created_at %>">
                <input type="hidden" name="company_key" value="<%= company_id %>" id="company_key">
            <% } %>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Your Email *</strong></label>
        </div>
        <div class="col-lg-10 col-xl-6">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your Email" inputmode="latin-name"
                    value="<%= company_email %>" name="company_email">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Password *</strong></label>
        </div>
        <div class="col-lg-5 col-xl-3">
            <% if(panel==1){ %>
                <div class="form-group"><input class="form-control" type="password" id="company_password"
                    placeholder="Password" name="company_password"></div>
            <% }else{ %>
                <div class="form-group"><input class="form-control" type="password" id="company_password"
                    placeholder="Password" name="company_password" value="##############" disabled></div>
            <% } %>
            
        </div>
        <div class="col-lg-5 col-xl-3">
            <% if(panel==1){ %>
                <div class="form-group"><input class="form-control" type="password"
                    name="company_password_confirm" placeholder="Confirm Password">
            <% }else{ %>
                <div class="form-group"><input class="form-control" type="password"
                    name="company_password_confirm" placeholder="Confirm Password" value="##############"
                    disabled>
            <% } %>
            </div>
        </div>
    </div>
</section>