<style>
    #company_logo {
        margin:auto;
        max-width: 50%;
        min-height: 150px;
        /* border: 1px solid black;
        background: white; */
    }
    #company_logo_name{
        margin: 5px;
    }
</style>
<section>
    <!-- <div class="form-row">
        <div class="col">
            <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Your
                    Profile </strong>(these details will appear on your page)<br></h5>
        </div>
    </div> -->
    <div class="jumbotron text-center m-0" style="padding: 58px;padding-top: 20px;padding-bottom: 20px;">
        <% if(logo !== null){ %>
        <h4><strong>Edit Your Logo</strong></h4>
        <div class="form-row">
            <div class="col" id="company_logo">
                <img src="<%= logo.logo_url %>">
            </div>
        </div>
        <p id="company_logo_name"><%= logo.logo_name %></p>

        <p id="uploadDiv" style="display:none"><button class="btn btn-success" id="upload-logo"
                type="button">Upload</button></p>
        <p id="editDiv"><button class="btn btn-primary" id="edit-logo" type="button"
                style="margin-right: 10px;">Edit</button><button class="btn btn-danger" id="remove-logo"
                type="button">Remove</button></p>
        <% }else{ %>
        <h4><strong>Upload Your Logo</strong></h4>
        <div class="form-row">
            <div class="col" id="company_logo"></div>
        </div>
        <p id="company_logo_name"></p>
        <p id="uploadDiv" style="display:block"><button class="btn btn-success" id="upload-logo"
                type="button">Upload</button></p>
        <p id="editDiv" style="display: none;"><button class="btn btn-primary" id="edit-logo" type="button"
                style="margin-right: 10px;">Edit</button><button class="btn btn-danger" id="remove-logo"
                type="button">Remove</button></p>
        <% } %>
    </div>

</section>