<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
        style="/*border-bottom: 2px solid black;*/padding: 1px;margin-bottom: 25px;">
        <div class="container"><a class="navbar-brand" href="/"><img src="/assets/img/logo.jpg" style="max-height:43px;width: 100%;"></a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul>
                <span class="navbar-text actions mr-5"> <a href="/">Home</a></span>
                <% if(panel == 2){ %>
                <!-- <span class="navbar-text actions mr-5">
                    <a class="btn btn-light text-white action-button" role="button" id="signup-btn"
                        href="/owner_panel/analytics">Your Analytics
                    </a>
                </span> -->
                <span class="navbar-text actions"> <a href="/owner_logout" class="btn btn-danger action-button"
                        role="button" style="background: rgb(211,80,72);">Sign Out</a></span>
                <% }else if(panel==3){ %>
                <!-- <span class="navbar-text actions mr-5">
                    <a class="btn btn-light text-white action-button" role="button" id="signup-btn"
                        href="/owner_panel/analytics">Your Analytics
                    </a>
                </span> -->
                <% } %>
            </div>
        </div>
    </nav>
</div>