<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
        style="border-bottom: 2px solid black;padding: 1px;">
        <div class="container"><a class="navbar-brand" href="/"><img src="/assets/img/logo.jpg" style="max-height:43px;width: 100%;"></a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul>
                <% if(panel == 2){ %>
                <!-- <span class="navbar-text actions mr-5">
                    <a class="btn btn-light text-white action-button" role="button" id="signup-btn"
                        href="/owner_panel">Go back to Your Profile page
                    </a>
                </span> -->
                <% } %>
            </div>
        </div>
    </nav>
</div>