<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css">
    <link href="/orapages/styles/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/common/scripts/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="/js/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <style>
        body{
            background: #aaa;
        }

        .ui-menu {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ui-autocomplete-term {
            font-weight: bold !important;
        }

        .ui-state-highlight {
            padding: 10px;
        }

        .company_photos {
            background: white;
        }

        section{
            background: white;
            border: 2px solid black;
            margin-top: 10px;
            padding: 20px
        }

        .ui-menu-item{
           font-family: Verdana, Geneva, Tahoma, sans-serif !important;
           font-size: 12px !important;
        }
    </style>
</head>