<section id="social_profiles">
    <div class="form-row">
        <div class="col-12">
            <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);">
                <strong>Social Media Profiles</strong>
            </h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2">
            <label class="col-form-label">
                <strong>Facebook</strong>
            </label>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="form-group">
                <input class="form-control" type="text" name="facebook">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2">
            <label class="col-form-label">
                <strong>Twitter</strong>
            </label>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="form-group">
                <input class="form-control" type="text" name="twitter">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2">
            <label class="col-form-label">
                <strong>Instagram</strong>
            </label>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="form-group">
                <input class="form-control" type="text" name="instagram">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2">
            <label class="col-form-label">
                <strong>Linkedin</strong>
            </label>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="form-group">
                <input class="form-control" type="text" name="linkedin">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-2 col-xl-2">
            <label class="col-form-label">
                <strong>Youtube</strong>
            </label>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="form-group">
                <input class="form-control" type="text" name="youtube">
            </div>
        </div>
    </div>
</section>