<style>
    .select2-selection.select2-selection--multiple{
        height: 200px;
    }
</style>
<section>
    <div class="form-row">
        <div class="col-12">
            <h5 class="text-white"
                style="padding:5px 20px;background-color: #0070c0;">
                <strong>Keywords / Tags</strong><br></h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <small class="text-muted text-success">
                You can add unlimited Keywords / Tags (Minimum 1)<br>
            </small>
        </div>
        <!-- <div class="col text-center">
            <small class="text-success" style="font-size: 24px;">
                <strong>This is another the most important section.</strong><br>
            </small>
            <small class="text-info" style="font-size: 24px;">
                <strong>
                    <span style="text-decoration: underline;">Search Engines</span> will find you thru your
                    Business Tags which you
                    select here.
                </strong><br>
            </small>
            <small class="text-info" style="font-size: 24px;">
                <strong>And give proper description of your&nbsp;Products &amp; Services&nbsp;to convey to
                    the
                    visitor.
                </strong><br>
            </small>
            <small class="text-primary" style="font-size: 24px;">
                <strong>
                    We strongly suggest to choose correc Tags to give right exposure of your business to the
                    visitors.
                </strong><br>
            </small>
        </div> -->
    </div>
    <div class="form-row mt-2">
        <div class="col-xl-12">
            <!-- <label><strong>Tags *</strong><br></label> -->
            <div class="form-row">
                <div class="col-sm-12 col-xl-12">
                    <div class="form-row">
                        <div class="col-xl-12">
                            <div class="form-group">
                                <select class="form-control form-control-lg" type="text" name="tags" style="height: 200px;"
                                    id="tags" multiple>
                                    <% tags.forEach(tag=>{ %>
                                    <option value="<%= tag.tag %>" selected><%= tag.tag %></option>
                                    <% }) %>
                                </select>
                                <small>
                                    Type the first few letters to view the tags or select your own to select
                                    from<br>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>