<section>
    <% let themes = ["default","rosy-flamingo","deep-blue","healthy-leaves","emerald-entrance","foil-covered-sneakers","petal-party","melted-ice-cream",
    "in-the-blue","facing-forward","pasture-of-dreams","mellow-barnyard","under-the-ferns","blushing-landscape",
    "wild-orchid","right-on-time","ripe-harvest","middle-eastern-empire","secret-passageway","beautiful-abstraction","trees-in-bloom"] %>
    <div class="jumbotron text-center orapages-url m-0" style="padding: 32px;">
        <h2 style="color: #0070c0;">Please select the theme of your page<br></h2>
        <p class="mb-3">Note: Please do not choose your own font colors of Company Description for better
            experience <br></p>
        <div class="form-row">
            <div class="form-group mb-0">
                <% themes.forEach(theme=>{ %>
                <div class="large custom-control custom-radio custom-control-inline">
                    <% if(company_theme == theme){ %>
                    <input type="radio" class="large custom-control-input <%= theme %>" id="<%= theme %>"
                        name="theme" value="<%= theme %>" checked />
                    <% }else{ %>
                    <input type="radio" class="large custom-control-input <%= theme %>" id="<%= theme %>"
                        name="theme" value="<%= theme %>" />
                    <% } %>
                    <label class="large custom-control-label <%= theme %>" for="<%= theme %>"></label>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

</section>