<h4 class="text-center text-white"><strong>YOUR PROFILE</strong><br></h4>
<p class="text-center bg-success text-light p-2">
    Please try to get maximum points for each field to have a higher ranking under your Categories of Products
    and Services
</p>