<section style="margin-top: 20px;">
    <div class="jumbotron text-center orapages-url m-0" style="padding: 32px;">
        <h1 style="color: #0070c0;">Make your page your own Website<br></h1>
        <p>This is important because you can also use your this page as your own website.<br></p>
        <p>What will be your website address?<br></p>
        <p class="text-break">Your website address will be www.orapages.com/whatever-word-you-choose<br></p>
        <div class="table-responsive table-bordered text-left">
            <table class="table table-bordered">
                <thead style="background-color: #ffffff;">
                    <tr>
                        <th>In the box below, if you enter<br></th>
                        <th>Your website address will be<br></th>
                    </tr>
                </thead>
                <tbody style="background-color: #ffffff;">
                    <tr>
                        <td class="text-info">abc</td>
                        <td class="text-success"><strong>www.orapages.com/abc</strong></td>
                    </tr>
                    <tr>
                        <td class="text-info">abcent</td>
                        <td class="text-success"><strong>www.orapages.com/abcent</strong></td>
                    </tr>
                    <tr>
                        <td class="text-info">abcenterprises<br></td>
                        <td class="text-success"><strong>www.orapages.com/abcenterprises</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>You can choose any word of your choice.<br></p>
        <p>if it's available, it becomes your exclusive website address.<br></p>
        <p>It will then not be available to others.<br></p>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend"><span
                        class="text-white bg-dark input-group-text">www.orapages.com/</span></div>
                <input class="form-control" type="text" name="company_url" autocomplete="off"
                    id="company_url" value="<%= company_url %>">
                
            </div>
        </div>
    </div>
</section>