<style>
    #uploaded_video{
        width: 100%;
        height: 350px;
        border: 2px solid grey;
    }
</style>

<section>
    <div class="form-row">
        <div class="col-12">
            <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Video</strong><br></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="video" id="video-input" accept="video/*">
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                </div>
            </div>

            <div class="form-group" id="uploaded_video">
                <% if(videos.length >0){ %>
                <video width="100%" height="100%" controls style="max-height: 400px;">
                    <source src="/<%= videos[0].video_url %>" type="video/mp4" id="video"
                        video_id="<%= videos[0].video_id %>" uploaded="true">
                </video>
                <button class="btn btn-danger" type="button" onclick="deleteVideoAdmin()">Delete
                    Video</button>
                <% } %>
            </div>

            <div class="form-group">
                <% if(videos.length >0){ %>
                <textarea class="form-control text-center" placeholder="Description of the Video" rows="2"
                    name="video_description" maxlength="100"
                    oninput="charCount(this)"><%= videos[0].video_des %></textarea>
                <small class="d-xl-flex justify-content-xl-end counter">Character : Max 100 | Used 0 |
                    Remaining 100</small>
                <% }else{ %>
                <textarea class="form-control text-center" placeholder="Description of the Video" rows="2"
                    name="video_description" maxlength="100" oninput="charCount(this)" disabled></textarea>
                <small class="d-xl-flex justify-content-xl-end counter">Character : Max 100 | Used 0 |
                    Remaining 100</small>
                <% } %>
            </div>
            <hr>
            <div class="form-group">
                <input class="form-control" 
                    type="text" 
                    placeholder="Youtube video" 
                    inputmode="latin-name"
                    name="youtube"
                    value="<%= youtube %>"
                >
            </div>
        </div>
    </div>
</section>