<div class="container-fluid sb2">
    <div class="row">
        
        <div class="container sb2" style="height:90vh;width:70%">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="index-1.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="/admin_country_delete"> Delete Tagline</a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin" style="overflow: visible">
                <div class="tz-2-com tz-2-main">
                    <h4>Delete Tagline</h4> 
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form class="" id="del_tagline_form">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <select name="tagline" class="material_select">
                                                            <option value="Choose" selected>Choose Tagline</option>
                                                            
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12"> <button type="submit"
                                                            class="waves-effect waves-light btn-large full-btn">Delete Tagline</button> </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>