<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="About Orapages, OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords" content="About Orapages, Business Directory, Online business directory, Company Listing" />
    <title>About Us | Orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <h1 class="display-4">About Orapages</h1>
                <p>OraPages is a comprehensive online BUSINESS DIRECTORY.&nbsp;<br>We are a team of professionals
                    with a vision - to present Business information in an Easy, Informative, Useful and Relevant
                    manner.&nbsp;Its Highlights:<br></p>
                <ul>
                    <li><strong>PRODUCTS &amp; SERVICES</strong>&nbsp;- a comprehensive range of products &amp;
                        services.<br></li>
                    <li><strong>COMPANIES</strong>&nbsp;- detailed profiles of companies.<br></li>
                    <li><strong>BRAND NAMES</strong>&nbsp;- in case you know the brand name but don't know the
                        supplier.<br></li>
                    <li><strong>BRIEF DETAILS OF THE COMPANY ON PRODUCT PAGE :&nbsp;</strong>To save viewer's time,
                        we have provided brief details of each company on Products/Services page so as to enable
                        the&nbsp;viewer to&nbsp;know at a glance about the
                        products/services provided by the company.<br></li>
                </ul>
                <h5 class="text-center">Listing on OraPages will give exposure to your companyand will help boost
                    your sales<br></h5>
            </div>
            <!-- <div class="col">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <h5 class="text-center mb-0"><strong>ADVERTISING SPACE</strong><br></h5>
                    </div>
                    <div class="card-body">
                        <p class="text-center card-text">If you would like to advertise
                            on&nbsp;<strong>orapages.com</strong>, please provide some details by clicking&nbsp;<a
                                href="https://orapages.com/contact/index.cfm?ct=feedback">[HERE]</a>&nbsp;and we
                            will contact you back as soon
                            as possible<br></p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>