<!DOCTYPE html>
<html lang="en-US">

<head>
    <% if(!!production){ %>
    <script data-ad-client="ca-pub-9771954240441693" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% } %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FREE BUSINESS DIRECTORY. OraPages.com</title>
    <meta name="description"
        content="OraPages is a Free business listing Site. List your Business Free on Orapages. Orapages Provides business listing on many countries for free. Get Details, Phone Numbers, Contact Numbers, Address, Email of companies on OraPages in Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Orapages, Local Search, Business Directory, Free Business Directory, Top Business listing Sites in India, Business listing Sites in India, Get free business listing, Get Business listing, " />
    <meta name="Title" content="FREE BUSINESS DIRECTORY. OraPages.com">
    <meta property="og:site_name" content="Orapages">
    <meta property="og:url" content="https://www.orapages.com">
    <meta property="og:title" content="FREE BUSINESS DIRECTORY. OraPages.com">
    <meta property="og:description"
        content="OraPages is a Free business listing Site. List your Business Free on Orapages. Orapages Provides business listing on many countries for free. Get Details, Phone Numbers, Contact Numbers, Address, Email of companies on OraPages in Easy, Informative, Useful and Relevant manner.">
    <meta property="og:image" content="https://www.orapages.com/assets/img/logo.jpg">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/assets/js/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/js/OwlCarousel/dist/assets/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <%- include('business_query') %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item"><a href="/country/<%= cities[0].country %>"><%= cities[0].country %></a></li>
                      <li class="breadcrumb-item active" aria-current="page"><%= cities[0].state %></li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Cities under <span class="text-uppercase"><%= cities[0].state %></span> </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <% cities.forEach(city=>{ %>
                            <li class="list-group-item"><a href="/<%= city.key %>/page-1"><span><%= city.value %></span></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <div class="col-md-12 col-lg-2">
        <div class="sticky-top">
            <div class="text-center">
                <!--<a href="/">-->
                <!--    <img src="/assets/img/12.png" class="mb-3" style="width: 100%;" alt="For marketing on Orapages"/>-->
                <!--</a>-->
                <% if(!!production){ %>
                <!-- Side bar ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <% } %>

            </div>

        </div>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>