<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="Disclaimer of Orapages, OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Disclaimer Orapages, Business Directory, Online business directory, Company Listing" />
    <title>Disclaimer | Orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <h3 class="display-4">Legal Disclaimer<br></h3>
                <p>This website has been compiled in good faith and no representation is made or warranty given (either
                    express or implied) as to the completeness, or accuracy of the information it
                    contains.<br>&nbsp;<br>All contents including, but not limited
                    to company profiles and advertisements are provided “as is” and is neither a guarantee nor
                    endorsement of claims made for a product or service, or an endorsement of an establishment,
                    promoter, manufacturer or distributor of a product
                    or service.<br><br>Subject to applicable law, under no circumstances shall OraPages.com nor its
                    holding company, directors, employees, partners and agents be liable for any damages, claims,
                    liabilities, costs or obligations arising
                    from the use or misuse of the all materials including, but not limited to advertising materials or
                    sponsorship information including links to other sites that appear, whether such obligations arise
                    in contract, negligence, equity or
                    statute law. No guarantee or warranty is made as to the quality, accuracy, completeness, timeliness,
                    appropriateness or suitability of all materials in this website.<br><br></p>
            </div>
            <!-- <div class="col">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <h5 class="text-center mb-0"><strong>ADVERTISING SPACE</strong><br></h5>
                    </div>
                    <div class="card-body">
                        <p class="text-center card-text">If you would like to advertise on&nbsp;<strong>orapages.com</strong>, please provide some details by clicking&nbsp;<a href="https://orapages.com/contact/index.cfm?ct=feedback">[HERE]</a>&nbsp;and we will contact you back as soon
                            as possible<br></p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>