<% const rewrite = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>
<% let charArray = ['0-9',..."ABCDEFGHIJKLMNOPQRSTUVWXYZ".split('')] %>
<style>
    .black-header {
        background: black !important;
    }

    .black-header strong {
        color: white !important;
    }

    .ui-menu-item {
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        font-size: 12px !important;
    }

    .glowing-button {
            position: relative;
            top:-4px;
        }

        .glowing-button:before {
            position: absolute;
            content: '';
            top: -5px;
            left: -5px;
            height: calc(100% + 10px);
            width: calc(100% + 10px);
            border-radius: 5px;
            z-index: -1;
            opacity: 1;
            filter: blur(5px);
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            background-size: 400%;
            transition: opacity .3s ease-in-out;
            animation: animate 20s linear infinite
        }

        .glowing-button:hover:before {
            opacity: 1
        }

        .glowing-button:hover:active {
            background: none
        }

        .glowing-button:hover:active:before {
            filter: blur(2px)
        }

        @keyframes animate {
            0% {
                background-position: 0 0
            }

            50% {
                background-position: 400% 0
            }

            100% {
                background-position: 0 0
            }
        }
</style>
<div>
    <div role="dialog" tabindex="-1" class="modal fade show" id="contact-modal">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="contact-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Contact Us<br /></h4><button type="button" class="close"
                            data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Please provide some basic information explaining your concern about the contents, so that we
                            can review it and determine whether it violates orapages.com&#39;s Guidelines or is not
                            appropriate for whatever reason.<br /></p>
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <input type="hidden" name="contact_form_type" id="contact_form_type">
                        <div class="form-group">
                            <input type="text" class="form-control" style="margin-bottom: 0px;" placeholder="Your Name"
                                name="nm_cust" /></div>
                        <div class="form-group">
                            <input type="text" class="form-control" style="margin-bottom: 0px;" placeholder="Email"
                                name="tx_cust_email" /></div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Your message" rows="5"
                                name="tx_message"></textarea></div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button"
                            data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">
                            <span>
                                <span role="status" class="spinner-border spinner-border-sm"
                                    style="margin: 2px;display: none;"></span>
                            </span>
                            <span class="submit-text">Submit</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div role="dialog" tabindex="-1" class="modal fade show " id="bulk-modal">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="category-contact-form-modal">
                    <div class="modal-header">
                        <h4 class="modal-title">Use our BULK EMAIL feature<br /></h4><button type="button" class="close"
                            data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                            <div class="text-center">
                                <p class="text-center">Send your inquiry to customers/vendors<br /></p>
                            </div>
                            <div class="row p-3" style="padding-top: 0 !important;font-size: small;">

                                <div class="col-12">
                                    <div class="form-row">
                                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                        <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center">
                                            <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                                style="font-size: 14px;"><br><strong>Location:</strong><br><br></span>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 form-group">
                                            <select class="form-control" id="countryListCategoryModal"
                                                name="countryCategoryModal">
                                                <option value="Choose">Please select Country</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 form-group">
                                            <select class="form-control" id="stateListCategoryModal"
                                                name="stateCategoryModal">
                                                <option value="Choose">Please select State</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 form-group">
                                            <select class="form-control" id="cityListCategoryModal"
                                                name="cityCategoryModal">
                                                <option value="Choose">Please select City</option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="keyLocationCategoryFormModal" />
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center">
                                            <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                                style="font-size: 14px;"><br><strong>Category:</strong><br><br></span>
                                        </div>
                                        <div class="col-sm-10 col-md-10 form-group col-lg-10">
                                            <input class="form-control" id="categorySearchFormModal"
                                                name="categorySearchFormModal" placeholder="Please select Category" />
                                        </div>
                                        <input type="hidden" name="keyCategoryFormModal" />
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 form-group">
                                            <input type="text" class="form-control" style="margin-bottom: 0px;"
                                                placeholder="Your Name" name="nm_cust" />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input type="text" class="form-control" style="margin-bottom: 0px;"
                                                placeholder="Your Mobile Number" name="number_cust" />
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input type="email" class="form-control" style="margin-bottom: 0px;"
                                                placeholder="Your Email Address" name="tx_cust_email" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-row">
                                        <div class="col-md-12 form-group">
                                            <textarea class="form-control" placeholder="Your message" rows="7"
                                                name="tx_message"></textarea>
                                        </div>
                                        
                                        <div class="col-12 form-group">
                                            <div class="">
                                                <input type="file" name="attachment">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button"
                            data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">
                            <span>
                                <span role="status" class="spinner-border spinner-border-sm"
                                    style="margin: 2px;display: none;"></span>
                                Submit
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div role="dialog" tabindex="-1" class="modal" id="download-csv">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Download Sheet for desired Customer or Vendors<br /></h4><button
                        type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Your Email has been sent to the listed Companies<br />
                        You can download the List of the Customers/Vendor
                    </p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button"
                        data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" type="button" id="download-csv-button">
                        <span class="submit-text">Download List</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div role="dialog" tabindex="-1" class="modal" id="error-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Error<br /></h4><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p id="error-text">
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% if(!owner){ %>
    <div class="modal fade" role="dialog" tabindex="-1" id="forgot-password">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="forgot-password-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Password Reminder<br></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <p>Please enter your registered email address and we will send your password to
                            you<br></p>
                        <div class="form-group"><input class="form-control" type="text" style="margin-bottom: 0px;"
                                placeholder="Email" name="email"></div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button"
                            data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">
                            <span>
                                <span class="spinner-border spinner-border-sm" role="status"
                                    style="margin: 2px; display: none;"></span>
                            </span>
                            <span class="submit-text">Send me the reset email</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" role="dialog" tabindex="-1" id="login">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="login-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Login your Profile</h4><button type="button" class="close"
                            data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Please enter your email and password</p>
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <div class="form-group"><input class="form-control" type="text" style="margin-bottom: 0px;"
                                placeholder="Email" name="email"></div>
                        <div class="form-group"><input class="form-control" type="password" placeholder="Password"
                                name="password"></div>
                        <div class="form-row">
                            <div class="col"><a href="/register">Do not have the Profile ?</a></div>
                            <div class="col text-right" style="margin-top: 0px;"><a id="forgot-password-button"
                                    href="#">Forgot your password ?</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button"
                            data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit"><span><span
                                    class="spinner-border spinner-border-sm" role="status"
                                    style="margin: 2px;display: none;"></span></span><span
                                class="submit-text">Login</span></button></div>
                </form>
            </div>
        </div>
    </div>
    <% } %>

    <section class="container-fluid">
        <div class="row">
            <nav class="col-lg-8 mx-auto navbar navbar-light navbar-expand-md navigation-clean-button"
                style="/*border-bottom: 2px solid black;*/padding: 1px;">
                <div class="container">
                    <a class="navbar-brand" href="/" style="width: 25%;" >
                        <img class="img-fluid" src="/assets/img/logo.jpg" alt="Orapages logo" style="max-height: 43px;">
                    </a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <span class="navbar-text actions">
                            <a class="btn btn-light"
                                style="width: 250px; line-height:1.0em; background:#dadada;border: white;">
                                <b class="text-danger">Business Directory</b>
                                <br>
                                <strong>+</strong><br>
                                <span style="text-decoration: line-through;">Social</span>
                                <b class="text-danger">Business Network</b>
                            </a>
                            <% if(!owner){ %>
                            <a class="btn btn-light" role="button" id="signup-btn" href="/register"
                                style="background-color: rgb(237,194,42);margin: 0px 10px;">Submit Your Profile
                            </a>
                            <!-- <a class="btn btn-pr action-button" role="button" href="/premium"
                                style="background-color: rgb(42, 110, 237);margin-right: 10px;">Premium Listing
                            </a> -->
                            <a id="login-button" class="login btn btn-light"
                                style="background: rgb(216, 216, 216);margin: 0px 10px;" href="#"> Login</a>
                            <% }else{ %>
                            <a class="btn btn-light action-button" role="button" id="signup-btn" href="/owner_panel"
                                style="background-color: rgb(237,194,42);margin: 0px 10px;"> Login
                            </a>
                            <a class="login" href="/owner_logout" style="margin: 0px 10px;">Sign Out</a>
                            <% } %>
                            <a class="btn btn-light"
                                style="width: 210px;line-height:1.0em; background:#dadada;border: white;">
                                <b class="text-danger">FREE</b>
                                <br>
                                <strong>+</strong><br>
                                <b class="text-danger">DIY</b>
                            </a>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="mx-auto col-lg-8 col-md-12 border mb-2 black-header"
                style="padding: 0px;padding-top: 10px;padding-bottom: 10px;padding-right: 35px;padding-left: 35px;">
                <form>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center" style="font-size: 11px;">
                            <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                style="font-size: 14px;"><br><strong>Location:</strong><br><br></span></div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <select class="form-control" id="countryList" name="country"
                                style="font-size: 12px;margin-bottom: 10px;">
                                <option value="Choose">Please select Country</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <select class="form-control" id="stateList" name="state"
                                style="font-size: 12px;margin-bottom: 10px;">
                                <option value="Choose">Please select State</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <select class="form-control" id="cityList" name="city"
                                style="font-size: 12px;margin-bottom: 10px;">
                                <option value="Choose">Please select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center" style="font-size: 11px;">
                            <span class="d-xl-flex justify-content-xl-center align-items-xl-center greyout"
                                style="font-size: 14px;"><br><strong>Search <br>Products &amp;
                                    Services:</strong><br><br></span></div>
                        <div class="col-md-6">
                            <input type="text" disabled="disabled" id="search_box" name="keyword"
                                style="height:calc(1.5em + .75rem - 2px) !important"
                                placeholder="Search Products & Services" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-2 d-xl-flex my-auto justify-content-xl-start" style="font-size: 11px;">
                            <span class="d-xl-flex justify-content-xl-center align-items-xl-center greyout"
                                style="font-size: 14px;"><br>
                                <strong>Browse <br>Products &amp; Services:</strong>
                                <br><br>
                            </span>
                        </div>
                        <div class="col">
                            <% charArray.map((char)=>{ %>
                            <button class="btn btn-primary btn-browse" type="button"
                                style="font-size: 13px;padding: 2px 7px;margin-top: 5px;margin-bottom: 5px;margin-right: 3px; border-radius: 2px;"
                                onclick="browseChar('<%= char.toLowerCase() %>','services')" disabled>
                                <span style="font-weight: 700;"><%= char %></span>
                            </button>
                            <% }) %>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-2 my-auto">
                            <span class="d-xl-flex align-items-xl-center greyout" style="font-size: 14px;">
                                <strong>Browse Companies:</strong>
                                <br><br>
                            </span>
                        </div>
                        <div class="col">
                            <% charArray.map((char)=>{ %>
                            <button class="btn btn-danger btn-browse" type="button"
                                style="font-size: 13px;padding: 2px 7px;margin-top: 5px;margin-bottom: 5px;margin-right: 3px; border-radius: 2px;"
                                onclick="browseChar('<%= char.toLowerCase() %>','company')" disabled>
                                <span style="font-weight: 700;"><%= char %></span>
                            </button>
                            <% }) %>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
</div>
<% if (!!company_url) { %>

<section class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-12"></div>
        <div class="col-lg-8 col-lg-12 text-center">
            <div style="margin-bottom: 5px;">
                <% let facebook = encodeURIComponent("https://www.orapages.com/"+company_url) %>
                <% let whatsapp = encodeURIComponent(`Hi Please share ${company_business_name}, Which is listed in ${keywords.join(", ")} Categories on Orapages. Check this Profile here https://www.orapages.com/${company_url}`) %>
                <% if(owner_this){ %>
                <a class="btn btn-success btn-sm mb-2" href='https://wa.me/?text=<%= whatsapp %>'
                    style="margin: 0px;margin-left: 10px;" data-action="share/whatsapp/share" target="_blank"
                    rel="noopener noreferrer"><img width="20" height="20" src="/assets/img/whatsapp.svg"
                        alt="Share on whatsapp"> Share on
                    Whatsapp for more reach</a>

                <!-- <a class="btn btn-sm mb-2 text-white" style="background:#4267b2;"
                    href='https://www.facebook.com/sharer.php?u=<%= facebook %>' style="margin: 0px;margin-left: 10px;"
                    target="_blank" rel="noopener noreferrer"><img width="20" height="20" src="/assets/img/facebook.svg"
                        alt="Share on facebook"> Share on Facebook
                    for more Reach</a> -->

                <% }else{ %>
                <a class="btn btn-success btn-sm mb-2" href='https://wa.me/?text=<%= whatsapp %>'
                    style="margin: 0px;margin-left: 10px;" data-action="share/whatsapp/share" target="_blank"
                    rel="noopener noreferrer"><img width="20" height="20" src="/assets/img/whatsapp.svg"
                        alt="Share on whatsapp"> Share on
                    Whatsapp</a>

                <!-- <a class="btn btn-sm mb-2 text-white" style="background:#4267b2;"
                    href='https://www.facebook.com/sharer.php?u=<%= facebook %>' style="margin: 0px;margin-left: 10px;"
                    target="_blank" rel="noopener noreferrer"><img width="20" height="20" src="/assets/img/facebook.svg"
                        alt="Share on facebook"> Share on
                    Facebook</a> -->

                <% } %>

                <button class="btn btn-dark btn-sm mb-2" type="button" id="ga-btn"
                    style="margin: 0px;margin-left: 10px;"><b><img src="/assets/img/google.svg"
                            alt="Google analytics of <%= company_business_name %>"> Google
                        Analytics</b> of this Profile</button>
                <button class="btn btn-primary btn-sm mb-2" onclick="printProfile()" type="button"
                    style="margin: 0px;margin-left: 10px;">Print Profile</button>
                <button class="btn btn-danger btn-sm mb-2" id="report-button" type="button"
                    style="margin-left: 10px;">Report if
                    inappropriate
                </button>

                <button class="btn btn-light btn-sm glowing-button" style="margin: 0px;margin-left: 10px;" onclick="$('#bulk-modal').modal('show')"><strong>Get
                        Your Customers Here</strong></button>

            </div>

        </div>
        <div class="col-lg-2 col-md-12"></div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-12"></div>
        <div class="col-lg-8 col-md-12">
            <% if(locations.length > 0){ %>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/country/<%= rewrite(locations[0].country_name) %>"
                            class="text-capitalize"><%= locations[0].country_name %></a></li>
                    <li class="breadcrumb-item"><a
                            href="/<%= rewrite(locations[0].country_name) %>/<%= rewrite(locations[0].state_name) %>"
                            class="text-capitalize"><%= locations[0].state_name %></a></li>
                    <li class="breadcrumb-item"><a
                            href="/<%= rewrite(locations[0].country_name) %>/<%= rewrite(locations[0].state_name) %>/<%= rewrite(locations[0].city_name) %>/page-1"
                            class="text-capitalize"><%= locations[0].city_name %></a></li>
                    <li class="breadcrumb-item"><a
                            href="/ps/<%= rewrite(locations[0].country_name) %>/<%= rewrite(locations[0].state_name) %>/<%= rewrite(locations[0].city_name) %>/<%= rewrite(categories[0].category_name) %>/page-1"
                            class="text-capitalize"><%= categories[0].category_name %></a></li>
                    <li class="breadcrumb-item" aria-current="page"><%= company_business_name %></li>
                </ol>
            </nav>
            <% } %>
        </div>
        <div class="col-lg-2 col-md-12"></div>
    </div>
</section>

<% } %>
<div class="container-fluid">
    <div class="row" style="margin-top: 24px;">
        <div class="col-lg-2 col-md-12">
            <div class="sticky-top">
                <div class="text-center">
                    <% if(!!production){ %>
                    <!-- Side bar ads -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                        data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <% } %>

                </div>

            </div>
        </div>
        <div class="col-lg-8 col-md-12">