<!DOCTYPE html>
<html lang="en-US">

<head>
    <% if(!!production){ %>
    <script data-ad-client="ca-pub-9771954240441693" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% } %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FREE BUSINESS DIRECTORY. OraPages.com</title>
    <meta name="description"
        content="OraPages is a Free business listing Site. List your Business Free on Orapages. Orapages Provides business listing on many countries for free. Get Details, Phone Numbers, Contact Numbers, Address, Email of companies on OraPages in Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Orapages, Local Search, Business Directory, Free Business Directory, Top Business listing Sites in India, Business listing Sites in India, Get free business listing, Get Business listing, " />
    <meta name="Title" content="FREE BUSINESS DIRECTORY. OraPages.com">
    <meta property="og:site_name" content="Orapages">
    <meta property="og:url" content="https://www.orapages.com">
    <meta property="og:title" content="FREE BUSINESS DIRECTORY. OraPages.com">
    <meta property="og:description"
        content="OraPages is a Free business listing Site. List your Business Free on Orapages. Orapages Provides business listing on many countries for free. Get Details, Phone Numbers, Contact Numbers, Address, Email of companies on OraPages in Easy, Informative, Useful and Relevant manner.">
    <meta property="og:image" content="https://www.orapages.com/assets/img/logo.jpg">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/assets/js/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/js/OwlCarousel/dist/assets/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <style>
        body {
            background-color: #e6e6e6 !important;
        }

        /* .carousel-wrap {
            width: 1000px;
            margin: auto;
            position: relative;
        }
        .owl-carousel .owl-nav{
            overflow: hidden;
            height: 0px;
        }
        
        .owl-theme .owl-dots .owl-dot.active span, 
        .owl-theme .owl-dots .owl-dot:hover span {
            background: #2caae1;
        }
        
        
        .owl-carousel .item {
            text-align: center;
        }
        .owl-carousel .nav-btn{
            height: 47px;
            position: absolute;
            width: 26px;
            cursor: pointer;
            top: 100px !important;
        }
        
        .owl-carousel .owl-prev.disabled,
        .owl-carousel .owl-next.disabled{
            pointer-events: none;
            opacity: 0.2;
        }
        
        .owl-carousel .prev-slide{
            background: url(nav-icon.png) no-repeat scroll 0 0;
            left: -33px;
        }
        .owl-carousel .next-slide{
            background: url(nav-icon.png) no-repeat scroll -24px 0px;
            right: -33px;
        }
        .owl-carousel .prev-slide:hover{
            background-position: 0px -53px;
        }
        .owl-carousel .next-slide:hover{
            background-position: -24px -53px;
        }
        
        span.img-text {
            text-decoration: none;
            outline: none;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            cursor: pointer;
            width: 100%;
            font-size: 23px;
            display: block;
            text-transform: capitalize;
        }
        span.img-text:hover {
            color: #2caae1;
        } */
    </style>
</head>

<body>
    <%- include('business_query') %>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="bd-example">
            <div class="row" style="border: 1px solid #cdcdcd !important; padding:20px;background: white;">
                <div class="col-lg-12 p-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <% for(let i = 0; i < banners.length ; i++){ %>
                            <% if(i==0){ %>
                            <div class="carousel-item active">
                                <img src="<%= banners[i].url %>" class="d-block w-100" alt="Orapages Banner <%= i %>">
                            </div>
                            <% }else { %>
                            <div class="carousel-item">
                                <img src="<%= banners[i].url %>" class="d-block w-100" alt="Orapages Banner <%= i %>">
                            </div>
                            <% } %>
                            <% } %>

                        </div>
                        <ol class="carousel-indicators" style="bottom:-10px;top:initial !important">
                            <% for(let i = 0; i < banners.length ; i++){ %>
                            <% if(i==0){ %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="active"></li>
                            <% } else{%>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"></li>
                            <% } %>
                            <% } %>
                        </ol>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="col-lg-12 p-0 mt-3">
                    <form id="category-contact-form">
                        <div class="text-center">
                            <h5 class="pt-2">Use our BULK EMAIL feature<br /></h5>
                            <p class="text-center">Send your inquiry to customers/vendors<br /></p>
                        </div>
                        <div class="row p-3" style="padding-top: 0 !important;font-size: small;">

                            <div class="col-6">
                                <div class="form-row">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center">
                                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                            style="font-size: 14px;"><br><strong>Location:</strong><br><br></span></div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 form-group">
                                        <select class="form-control" id="countryListCategory" name="countryCategory">
                                            <option value="Choose">Please select Country</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 form-group">
                                        <select class="form-control" id="stateListCategory" name="stateCategory">
                                            <option value="Choose">Please select State</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 form-group">
                                        <select class="form-control" id="cityListCategory" name="cityCategory">
                                            <option value="Choose">Please select City</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="keyLocationCategoryForm" />
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center">
                                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                                            style="font-size: 14px;"><br><strong>Category:</strong><br><br></span></div>
                                    <div class="col-sm-10 col-md-10 form-group col-lg-10">
                                        <input class="form-control" id="categorySearchForm" name="categorySearchForm"
                                            placeholder="Please select Category" />
                                    </div>
                                    <input type="hidden" name="keyCategoryForm" />
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" style="margin-bottom: 0px;"
                                            placeholder="Your Name" name="nm_cust" />
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" style="margin-bottom: 0px;"
                                            placeholder="Your Mobile Number" name="number_cust" />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="email" class="form-control" style="margin-bottom: 0px;"
                                            placeholder="Your Email Address" name="tx_cust_email" />
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="">
                                            <input type="file" name="attachment">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" placeholder="Your message" rows="7"
                                            name="tx_message"></textarea>
                                    </div>
                                    <div class="col-md-12 form-group text-right mb-0">
                                        <button class="btn btn-primary" type="submit">
                                            <span>
                                                <span role="status" class="spinner-border spinner-border-sm"
                                                    style="margin: 2px;display: none;"></span>
                                            </span>
                                            <span class="submit-text">Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </section>
    <% if(countries.length > 0){ %>
    <section class="mt-5">
        <hr>
        <h4 class="text-center">Orapages in these Countries</h4>
        <div class="row">
            <div class="col-md-12 mt-3 p-2">
                <ul class="list-inline">
                    <% countries.forEach(country=>{ %>
                    <li class="list-inline-item">
                        <a href="/country/<%= country.key %>">
                            <%= country.value %></a>
                    </li>|
                    <% }) %>
                </ul>
            </div>
        </div>

    </section>
    <% } %>
    <% if(premiumCompanies.length > 0){ %>
    <section class="mt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Premium Profiles</h1>
                <div class="card-group owl-carousel">
                    <% premiumCompanies.forEach(company=>{ %>
                    <div class="card" style="height: 400px;">
                        <% if(!!company.logo){ %>
                        <img class="card-img-top w-100 d-block" src="/<%= company.logo.logo_url %>"
                            style="height: 300px;object-fit: contain;" />
                        <% } %>
                        <div class="card-body">
                            <p class="card-title text-center"><a type="link"
                                    href="<%= company.company_url %>"><%= company.company_business_name %></a></p>

                        </div>
                    </div>
                    <% }) %>
                    <div class="card text-center bg-primary" style="height: 400px;">
                        <div class="card-body">
                            <a class="btn btn-primary" type="link" href="/premium_profiles"
                                style="position: relative;top: 50%;">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>
    </div>
    <div class="col-md-12 col-lg-2">
        <div class="sticky-top">
            <div class="text-center">
                <!--<a href="/">-->
                <!--    <img src="/assets/img/12.png" class="mb-3" style="width: 100%;" alt="For marketing on Orapages"/>-->
                <!--</a>-->
                <% if(!!production){ %>
                <!-- Side bar ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <% } %>

            </div>

        </div>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/front_form.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>