<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Business Directory, Online Company, Accountants, Plumbers, Mechanics, Web Designers" />
    <title>FREE online BUSINESS DIRECTORY. OraPages.com</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <img src="<%= banner %>" style="width: 100%;margin-bottom: 24px;">
            </div>
        </div>
    </section>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
    </script>
    <% if(!!production){ %>
    <script type="text/javascript">
        function downloadJSAtOnload() {
            let element = document.createElement("script");
            element.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";
            document.body.appendChild(element);
        }
        setTimeout(() => {
            downloadJSAtOnload();
        }, 7000);
    </script>
    <% } %>
</body>

</html>