<!DOCTYPE html>
<html>

<%- include('registration_components/registration_header_onboard') %>

<body class="bg-white">

    <%- include('registration_components/navigation_onboarding',{panel:2}) %>

    <div class="container bg-white">
        <div class="row">
            <div class="col-12">
                <style>
                    input[type="file"] {
                        display: none;
                    }

                    .custom-file-upload {
                        border: 1px solid #ccc;
                        display: inline-block;
                        padding: 6px 12px;
                        cursor: pointer;
                    }
                </style>
                <form id="post_form" class="margin-auto mt-3" style="margin-bottom:100px">
                    <h1 class="text-center">Send your first post to your friends here</h1>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <textarea class="form-control border" name="post_content" rows="8"
                            style="font-size: 20px;outline: none;border: 0px;"
                            placeholder="Write here......"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="images-to-upload-post" class="custom-file-upload">
                            Upload images
                        </label>
                        <input type="file" name="images" accept="image/*" id="images-to-upload-post" multiple />
                        <label for="videos-to-upload-post" class="custom-file-upload">
                            Upload Video
                        </label>
                        <input type="file" name="video" accept="video/*" id="videos-to-upload-post" />
                    </div>
                    <div class="form-row">
                        <div class="col text-left" id="post-image">
                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-row">
                        <div class="col text-left" id="post-video">
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-lg btn-primary submit-text btn-block">
                            <h2>Post</h2>
                        </button>
                    </div>



            </div>
        </div>
    </div>
    </form>


    <script src="/assets/js/jquery.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/user.js"></script>
    <script src="/orapages/common/scripts/summernote/summernote-bs4.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/front_form.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        setInterval(() => {
            let r = 0;
            $(".badge-weight").each(function (index, ele) {
                r += parseInt($(ele).text().split("/")[0]);
                $("#full_score").html(r);
            });
        }, 2000);
    </script>
    <script src="/js/other-forms.js"></script>
    <script>
        $('#post_form').on("submit", function (e) {
            e.preventDefault();
        }).validate({
            rules: {
                post_content: {
                    required: true,
                }
            },
            messages: {
                post_content: {
                    required: "Please enter your thoughts",
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
                $(element).addClass('is-valid');
            },
            submitHandler: (form) => {
                $('.submit-text').html('Please wait ... ');
                $('.submit-text').prop('disabled', true);

                let data = $(form).serializeArray();
                $.ajax({
                    type: "post",
                    url: "/posts?_csrf=<%= csrfToken %>",
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.href = '/<%= company.company_url %>/post'
                        $(".request_modal").modal('hide')
                        $(form).find('.spinner-border').hide();
                        $(form).find('.submit-text').html('Post');
                        $(form).find('[type="submit"]').prop('disabled', false);
                        $(form)[0].reset();
                    },
                    error: function (a, b, c) {
                        alert('There is some internal server error.');
                        $(form).find('.spinner-border').hide();
                        $(form).find('.submit-text').html('Post');
                        $(form).find('[type="submit"]').prop('disabled', false);
                    }
                });
            }
        });


        $("#images-to-upload-post").on("change", handleFiles);

        function handleFiles(e) {
            if (!e.target.files || !window.FileReader) return;
            var files = e.target.files;
            let filesArr = Object.keys(files)
            filesArr.forEach(function (f) {
                var f = files[f];
                if (!f.type.match("image.*")) {
                    return;
                }
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#post-image').append(`<div class="float-left mr-4" style="width: 25%;position:relative">
                        <img class="rounded" src="${e.target.result}" width="100%" />
                    </div>`);

                }
                reader.readAsDataURL(f);
            });
        }


        $('#videos-to-upload-post').on('change', videoFileSelect);

        function videoFileSelect(e) {
            if (!e.target.files || !window.FileReader) return;
            let files = e.target.files;
            let f = files[0];
            if (((files[0].size / 1024) / 1024).toFixed(4) > 150) {
                alert("File size must be less than 150 MB")
                return;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                let x = e.target.result;
                let type = f.type;
                if (f.type !== 'video/mp4') {
                    x = x.replace(f.type, `video/${f.name.split('.')[1]}`);
                    type = 'video/mp4';
                }
                $('#post-video').html(`<video width="100%" height="100%" controls style="max-height">
                        <source src="${x}" type="${type}" id="video">
                </video>`);
            }
            reader.readAsDataURL(f);
        };
    </script>
</body>

</html>