<!DOCTYPE html>
<html>
<% let charArray = ['0-9',..."ABCDEFGHIJKLMNOPQRSTUVWXYZ".split('')] %>
<%- include('registration_components/registration_header_onboard') %>

<style>
    table {
        width: 100%;
    }
    body, td button{
        font-size: 12px !important;
    }
    li[id$=all_states]{
        color: red;
    }
    li[id$=all_cities]{
        color: red;
    }
</style>

<body>

    <% if(!!next_button){ %>
    <%- include('registration_components/navigation_onboarding',{panel:1}) %>
    <% }else{ %>
    <%- include('registration_components/navigation_onboarding',{panel:2}) %>
    <% } %>

    <input type="hidden" name="_csrf" value="<%=  csrfToken %>">

    <header class="col-lg-12 bg-white border-top" style="padding: 10px;">
        <h5 class="text-center mb-0"><b>Find Friends Here</b></h5>
        <form class="bd-search" id="onboading_form">
            <!-- <div class="row">
                <div class="col-lg-3 mt-2">
                    <b style="font-size: large;">Search Friend suggestions: </b><br>
                    <input class="form-control" id="companyOnBoardingForm" name="companyOnBoardingForm"
                        placeholder="Please Search Company Name" />
                    <input type="hidden" name="keyCompanyForm" />
                </div>
            </div> -->
            <div class="row">
                <div class="col">
                    <b style="font-size: large;">Browse Friend suggestions: </b><br>
                </div>
            </div>
            <div class="row">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <div class="col-lg-3">
                    <select class="form-control" id="countryList" name="countryCategory">
                        <option value="Choose">Please select Country</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" id="stateList" name="stateCategory" disabled>
                        <option value="Choose">Please select State</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" id="cityList" name="cityCategory" disabled>
                        <option value="Choose">Please select City</option>
                    </select>
                    <input type="hidden" name="keyLocationCategoryForm" />
                </div>
                <div class="col-lg-3">
                    <input class="form-control" id="categoryOnboardingForm" disabled name="categoryOnboardingForm"
                        placeholder="Please select Category" />
                    <input type="hidden" name="keyCategoryForm" />
                </div>
            </div>
        </form>
    </header>

    <div class="container-fluid bg-white" style="height: 90vh;">
        <div class="row flex-xl-nowrap">

            <main class="col-12 col-md-6 col-xl-6 py-md-3 "
                style="padding-top:0px !important;height: 90vh;overflow-y: auto;">
                <div id="your_suggestions">
                    <div class="card mt-2 mb-2">
                        <div class="card-header orapages-card-header" id="headingOne">
                            <strong>Friends' Suggestions</strong>
                        </div>
                    </div>
                    <table id="suggestions_table">
                        <thead>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </main>

            <div class="col-12 col-md-6 col-xl-6 border-left" style="height: 90vh;overflow-y: auto;">
                <div class="card mt-2 mb-2">
                    <div class="card-header orapages-card-header" id="headingOne">
                        <strong>Friends
                            <span id="friends_count"></span>
                        </strong>
                    </div>
                </div>
                <div class="friends_list">

                </div>
            </div>

        </div>
    </div>

    <footer class="col-lg-12 bg-white fixed-bottom border-top" style="padding: 10px;">
        <!-- <h2 class="float-left">Make your Business network here</h2> -->
        <div class="row">
            <div class="col-12 col-md-3 col-xl-3">
            </div>
            <div class="col-12 col-md-5 col-xl-5 text-center">
                <button class="btn btn-lg btn-danger" onclick="clearSuggestions()">Clear
                    Suggestions</button>
                <button class="btn btn-lg btn-success" onclick="addAll(this)">Add All</button>
            </div>
            <div class="col-12 col-md-4 col-xl-4">
                <% if (!!next_button){ %>
                <button class="btn btn-lg btn-primary" onclick="nextOnboarding(this)">Next</button>
                <!-- <a href="/on_boarding/post" class="btn btn-lg btn-primary float-right">Next</a> -->
                <% } %>
            </div>
        </div>
    </footer>


    <script src="/assets/js/jquery.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/user.js"></script>
    <script src="/orapages/common/scripts/summernote/summernote-bs4.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/onboarding.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        setInterval(() => {
            let r = 0;
            $(".badge-weight").each(function (index, ele) {
                r += parseInt($(ele).text().split("/")[0]);
                $("#full_score").html(r);
            });
        }, 2000);
    </script>
    <script>
        function clearSuggestions() {
            $('#onboading_form')[0].reset();
            $("#your_suggestions").html(`
                    <div class="card mt-2 mb-2">
                        <div class="card-header orapages-card-header" id="headingOne">
                            <strong>Friends' Suggestions</strong>
                        </div>
                    </div>
                    <table id="suggestions_table">
                        <thead>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
            `);
        }

        function getFriendsCountFunc(url) {
            $.ajax({
                type: "get",
                url: url,
                success: function (response) {
                    $("#friends_count").html(`( ${response.count} )`);
                },
            });
        }


        function deleteFriend(user1_id, user2_id, button) {
            $(button).html('Deleting ....')
            $.ajax({
                type: "post",
                url: "/friends/delete_friend",
                data: {
                    _csrf: $("[name='_csrf']").val(),
                    user1_id,
                    user2_id,
                },
                success: function (response) {
                    $(button).parents('tr').remove();
                    getFriendsCountFunc("/friends/friend_count");
                },
                error: function (a, b, c) {
                    $("#request_modal").html(response);
                    $(".request_modal").modal("show");
                },
            });
        }

        function addFriend(requestee_id, button) {
            $(button).html('Requesting ....');
            $(button).prop('disabled', true);
            $.ajax({
                type: "post",
                url: "/friend_request",
                data: {
                    _csrf: $("[name='_csrf']").val(),
                    requestee_id: requestee_id,
                },
                success: function (response) {
                    $(button).parents('tr').remove();
                    getFriendsCountFunc("/friends/friend_count");
                    populateFriends();
                },
                error: function (a, b, c) {
                    alert(a.responseText)
                    $(button).prop('disabled', false);
                    $(button).html('Add Friend')
                },
            });
        }

        function nextOnboarding(button) {
            $(button).html("Please wait");
            $(button).prop('disabled', true);
            $.ajax({
                type: "get",
                url: "/friends/friend_count",
                success: function (response) {
                    let {
                        count
                    } = response;
                    if (count != 0) {
                        window.location.href = '/on_boarding/post'
                    } else {
                        $(button).html("Next");
                        $(button).prop('disabled', false);
                        alert("Please atleast make one friend");
                    }
                },
                failure: function (a, b, c) {
                    alert("Server error");
                }
            });
        }

        $(document).ready(function () {
            getFriendsCountFunc("/friends/friend_count");
            populateFriends();
        });
    </script>

</body>

</html>