<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Get Premium Profile | Orapages</title>
    <meta name="description"
        content="Get premium profile which list your company on the top of other companies for year">
    <meta name="keywords"
        content="Premium Profile, list your company on top, Business Directory, Online business directory, Company Listing">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="/orapages/styles/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>

    <style>
        .ui-menu {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ui-autocomplete-term {
            font-weight: bold !important;
        }

        .ui-state-highlight {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
            style="/*border-bottom: 2px solid black;*/padding: 1px;margin-bottom: 25px;">
            <div class="container"><a class="navbar-brand" href="/"><img src=" /assets/img/logo.jpg"></a><button
                    data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a
                            href="/">Home</a></span>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <h4 class="text-center text-danger"><strong>Get Your Premium Profile</strong><br></h4>
        <h6 class="text-center"><strong>Charges US $100</strong></h6>
        <!-- <h6 class="text-center"><strong>Design Examples</strong><br></h6> -->
        <form id="premium_profile_form" method="POST" action="/premium?_csrf=<%= csrfToken %>"
            enctype="multipart/form-data">
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>What is
                                included?</strong><br></h5>
                        <input class="form-control" type="hidden" name="ip" value="<%= ip %>">
                        <input class="form-control" type="hidden" value="<%= csrfToken %>" name="_csrf">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <ul>
                            <li>We will design your page.</li>
                            <li>We will give maximum info in a very legible manner using different fonts and font
                                colours.</li>
                            <li>We will give maximum pics, with captions, and arrange the pics in a very legible manner.
                            </li>
                            <li>We will list your company under maximum categories of Products/Services (which your
                                company deals in) …… for&nbsp;maximum exposure on the net.</li>
                            <li>We will maintain your page for 1 year (from the date of your remittance) (see note 1
                                here below). During this period, you can write to us to make changes any no. of times.
                            </li>
                            <li>Your listing will be on top (alphabetically), highlighted and Bold, under each category
                                of Products/Services for 1 year (see note 2 here below). See Listing Example<br></li>
                        </ul>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <h5>Notes:</h5>
                        <ul>
                            <li>We will continue to maintain your page after 1 year until there is change in the policy.
                            </li>
                            <li>We will continue to place your listing on top after 1 year until there is change in the
                                policy.</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);">Terms &amp;
                            Conditions<br></h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <ul>
                            <li>All the material (info &amp; pics) will be provided by you. (We will not be responsible
                                if there is any copyright issue).</li>
                            <li>We will do your page within 10 days of your remittance with all the info/pics made
                                available until then.</li>
                            <li>We will not upload your page without your written approval.</li>
                            <li>We will continue to add more info &amp; pics provided by you after 10 days.</li>
                            <li>You can write to us at info@orapages.com to make changes any no. of times. We will do
                                changes within 10 days of the request.</li>
                            <li>If you are not satisfied with your page, and want out, we will refund your money upon
                                your request.</li>
                            <li>If you seek refund, please write to us at info@orapages.com within 2 months of your
                                remittance. Any request after that will not be entertained.</li>
                            <li>Refund (less all bank charges &amp; remittance charges) will be sent to you within 10
                                days of your request.</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row">
                    <div class="col" style="padding: 28px;background-color: #eb7b3b;">
                        <h4 class="text-center">If the above is ok, then you may please proceed to place your
                            order&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                    </div>
                </div>
            </section>
            <section style="margin-top: 20px;">
                <div class="form-row">
                    <div class="col">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Details
                                of the Requester (for communication purposes)</strong><br></h5>
                    </div>
                </div>
            </section>
            <div class="form-row">
                <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Your Name *</strong></label></div>
                <div class="col-lg-10 col-xl-6">
                    <div class="form-group"><input class="form-control" type="text" placeholder="Your Name" name="name">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Designation</strong></label></div>
                <div class="col-lg-10 col-xl-6">
                    <div class="form-group"><input class="form-control" type="text" placeholder="Your Designation"
                            name="designation"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Your Email *</strong></label></div>
                <div class="col-lg-10 col-xl-6">
                    <div class="form-group"><input class="form-control" type="text" placeholder="Your Email"
                            name="email"></div>
                </div>
            </div>
            <section>
                <div class="form-row" style="margin-top: 10px;">
                    <div class="col text-center">
                        <h5 class="text-left"
                            style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Details
                                of the Company whose Page is to be designed</strong><br></h5>
                    </div>
                </div>
            </section>
            <div class="form-row">
                <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Your Company Name *</strong><br></label>
                </div>
                <div class="col-lg-10 col-xl-6">
                    <div class="form-group"><input class="form-control" type="text" placeholder="Your company name"
                            name="company_name"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-4"><label class="col-form-label"><strong>Company Details
                            (info/pics):</strong><br></label></div>
                <div class="col-lg-10 col-xl-3">
                    <p class="text-center"><strong>Please tick whichever is applicable</strong><br>(you may tick more
                        than one)</p>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-4"><label class="col-form-label"><strong>Please get info/pics from our
                            website</strong><br></label></div>
                <div class="col-lg-10 col-xl-3">
                    <div class="form-group text-center"><input type="checkbox" name="check_pics_website"
                            id="check_pics_website"></div>
                </div>
                <div class="col">
                    <div class="form-group"><input class="form-control" type="text" name="pics_website"
                            placeholder="Website address"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-4"><label class="col-form-label"><strong>Please get info/pics from the
                            enclosed</strong><br></label></div>
                <div class="col-lg-10 col-xl-3">
                    <div class="form-group text-center"><input type="checkbox" name="check_pics_enclosed"
                            id="check_pics_enclosed"></div>
                </div>
                <div class="col">
                    <div class="form-group"><input type="file" name="pics_enclosed" placeholder="Enclosed" multiple>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-4"><label class="col-form-label"><strong>We will send you info/pics
                            later</strong><br>(please send info &amp; pics at info@orapages.com)<br></label></div>
                <div class="col-lg-10 col-xl-3">
                    <div class="form-group text-center"><input type="checkbox" name="pics_later"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-2 col-xl-4"><label class="col-form-label"><strong>Info is given
                            below</strong><br></label></div>
                <div class="col-lg-10 col-xl-3">
                    <div class="form-group text-center"><input type="checkbox" name="check_details" id="check_details">
                    </div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-lg-10 col-xl-12">
                    <div class="form-group"><textarea class="form-control" rows="20"
                            placeholder="Please Enter your details" name="details"></textarea></div>
                </div>
            </div>
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 class="text-white" style="padding: 4px 20px;margin-top: 20px;background-color: #0070c0;">
                            <strong>Agreement</strong><br></h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"
                                    checked name="agreeTerms" required=""><label class="form-check-label"
                                    for="formCheck-1">* I confirm that the information submitted in this form are
                                    correct to the best of my knowledge and conform to orapages's&nbsp;<a
                                        href="https://www.orapages.com/terms-conditions"><strong>[Terms
                                            &amp; Conditions]</strong></a>. The materials and images submitted do not
                                    infringe on any third party's copyright.<br></label></div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row">
                    <div class="col text-center">
                        <button class="btn btn-warning submit-btn" id="submit" type="submit"><span><span
                                    class="spinner-border text-primary spinner-pr" role="status"
                                    style="margin-right: 8px;display: none;"></span></span><span><img
                                    src="/assets/img/paypal.svg" style="height: 20px;margin-right:20px"><b><i>Pay
                                        Now</i></b><br></span></button></div>
                </div>
            </section>
        </form>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="orapages/common/scripts/jquery-ui.min.js"></script> -->
    <!-- <script src="assets/js/form.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <!-- <script src="/js/user.js"></script> -->
    <script src="/orapages/common/scripts/ckeditor/ckeditor.js"></script>
    <!-- <script src="/js/select2.min.js"></script> -->
    <script src="/js/premium_form.js"></script>
</body>

</html>