<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Premium Profile list, Business Directory, Online business directory, Company Listing" />
    <title>Premium Profiles list | OraPages.com</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <h1 class="text-center" style="margin-top: 10px;">Premium Profiles</h1>
        <% if(premiumCompanies.length > 0){ %>
        <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
            <% premiumCompanies.forEach(company=>{ %>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="card">
                    <% if(!!company.logo){ %>
                    <img class="card-img-top w-100 d-block" src="/<%= company.logo.logo_url %>"
                        style="height: 300px;object-fit: contain;" />
                    <% } %>
                    <div class="card-body">
                        <h4 class="card-title" style="white-space: nowrap; 
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;">
                            <%= company.company_business_name.substring(0,50) %>
                        </h4>
                        <p class="card-text" style="height: 140px;"><%= company.company_business_details %></p>
                        <a class="btn btn-primary" type="link" href="<%= company.company_url %>">View More Details</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <% } else { %>
        <h2 class="text-center">
            <a href="/premium">Be the first to have the great Profile</a>
        </h2>
        <% } %>
    </section>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>