<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="Privacy Policy Orapages, OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Privacy Policy Orapages, Business Directory, Online business directory, Company Listing" />
    <title>Privacy Policy | Orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <h3 class="display-4">Privacy Policy<br></h3>
                <p>Your privacy will be respected on our site, because&nbsp;OraPages&nbsp;does not share your
                    details with third parties and will not contact you without your
                    permission.<br><br><strong>Overall Privacy Policy</strong><br><br>OraPages.com
                    is dedicated to safeguarding the privacy of site visitors, and our privacy policy is simple. We
                    and the providers of this site will not normally share individual information about you with any
                    third party, and will not contact you
                    without your permission. This commitment to confidentiality will be restricted or suspended only
                    under direct legal requirement, and then only to the extend necessary to comply with the rule of
                    law.<br><br><br><strong>How We Use Information You Provide</strong><br><br>Data
                    which you provide specifically in connection with your use of OraPages.com's Company Profile
                    Form and other services will only be used in connection with the normal operation of the form
                    and related site services as well as for moderation
                    purposes.<br><br>Site vistors providing personal details to this website will otherwise not be
                    contacted by us unless they have explicity given their permission that we may do so, or unless
                    they have implicitly given their permission
                    by writing to us with feedback, suggestions, questions or comments. (Note that we may operate
                    automatic reply systems -- such as out-of-office notifiers, anti-span verification systems, and
                    the like - which result in replies automatically
                    being sent in response to certain email messages). Except in the unlikely event that we are
                    required to do so due to legal considerations, personal details will not be shared with any
                    third party without permission.<br><br>Site visitors
                    providing information explicitly grant permission for that information to be published on the
                    site and grant an irrevocable but non-exclusive license to distribute that content worldwide in
                    any form, without royalty or compensation
                    of any kind.<br><br>No personal details will knowingly be accepted from individual under the age
                    of 16.<br><br>More technical details about security and the handling of visitor data --
                    including the cookies used in some portions of
                    the site (e.g., the enable forum users to log in and post messages) - are included in the Terms
                    &amp; Conditions.<br><br><br><strong>Passive Information Collection</strong>&nbsp;As you
                    navigate through a Web site, certain information
                    can be passively collected (that is, gathered without your actively providing the information)
                    using various technologies and means, such as Internet Protocol addresses, cookies, Internet
                    tags, and navigational data collection. We
                    use Internet Protocol (IP) addresses on this site. An IP Address is a number assigned to your
                    computer by your Internet service provider so you can access the Internet and is generally
                    considered to be non-personally identifiable information,
                    because in most cases an IP address is dynamic (changing each time you connect to the Internet),
                    rather than static (unique to a particular user's computer). We use your IP address to diagnose
                    problems with our server, report aggregate
                    information, determine the fastest route for your computer to use in connecting to our site, and
                    administer and improve the site.&nbsp;A "cookie" is a bit of information that a Web site sends
                    to your Web browser that helps the site
                    remember information about you and your preferences.&nbsp;"Session" cookies are temporary bits
                    of information that are erased once you exit your Web browser window or otherwise turn your
                    computer off. Session cookies are used to improve
                    navigation on Web sites and to collect aggregate statistical information. This site uses session
                    cookies.<br><br>"Persistent" cookies are more permanent bits of information that are placed on
                    the hard drive of your computer and stay
                    there unless you delete the cookie. Persistent cookies store information on your computer for a
                    number of purposes, such as retrieving certain information you have previously provided (e.g.,
                    passwords), helping to determine what areas
                    of the Web site visitors find most valuable, and customizing the Web site based on your
                    preferences. This site uses persistent cookies.&nbsp;"Internet tags" (also known as single-pixel
                    GIFs, clear GIFs, invisible GIFs, and 1-by-1 GIFs)
                    are smaller than cookies and tell the Web site server information such as the IP address and
                    browser type related to the visitor's computer. This site uses Internet tags. Tags have been
                    placed both on online advertisements that bring
                    people to the site and on different pages of the site. These tags indicate how many times a page
                    is opened and which information is consulted. We do not collect or seek personally identifiable
                    information through these tags.&nbsp;"Navigational
                    data" ("log files," "server logs," and "clickstream" data) are used for system management, to
                    improve the content of the site, market research purposes, and to communicate information to
                    visitors. This site uses navigational data.<br><br><strong>Access and Correction</strong><br>To
                    keep personally identifiable information that you provide via this site accurate, current, and
                    complete, please contact us as specified below and we will take appropriate steps to update or
                    correct such information in our possession
                    that you have previously submitted via this site.&nbsp;&nbsp;<strong>Security</strong>&nbsp;This
                    site takes reasonable steps to protect your personally identifiable information as you transmit
                    your information from your computer to
                    our site and to protect such information from loss, misuse, and unauthorized access, disclosure,
                    alteration, or destruction. You should keep in mind that no Internet transmission is ever 100%
                    secure or error-free. In particular, e-mail
                    sent to or from this site may not be secure, and you should therefore take special care in
                    deciding what information you send to us via e-mail. Moreover, where you use passwords, ID
                    numbers, or other special access features on this
                    site, it is your responsibility to safeguard them.&nbsp;&nbsp;<strong>Links to Other Web
                        Sites</strong>&nbsp;This site may contain links or references to other Web sites. Please be
                    aware that we do not control other Web sites and that,
                    in any case, this Privacy Policy does not apply to those Web sites. We encourage you to read the
                    privacy policy of every Web site you visit.&nbsp;&nbsp;<strong>Jurisdiction</strong>&nbsp;This
                    Privacy Policy will be exclusively governed
                    by and construed in accordance with the laws of Singapore whose Courts will have exclusive
                    jurisdiction in any dispute, save that we have the right, at our sole discretion, to commence
                    and pursue proceedings in alternative jurisdictions.&nbsp;&nbsp;<strong>Other
                        Terms</strong>&nbsp;Your
                    use of this site is subject to our&nbsp;<a href="#">Terms
                        &amp;
                        Conditions</a>.&nbsp;&nbsp;&nbsp;<strong>Changes to This Privacy Policy</strong>&nbsp;If
                    this Privacy Policy changes, the revised
                    policy will be posted on this site. Please check back periodically, and especially before you
                    provide any personally identifiable information. This Privacy Policy was last updated on 20
                    January 2012.<br></p>
            </div>
            <!-- <div class="col">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <h5 class="text-center mb-0"><strong>ADVERTISING SPACE</strong><br></h5>
                    </div>
                    <div class="card-body">
                        <p class="text-center card-text">If you would like to advertise
                            on&nbsp;<strong>orapages.com</strong>, please provide some details by clicking&nbsp;<a
                                href="#">[HERE]</a>&nbsp;and we
                            will contact you back as soon
                            as possible<br></p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>