<% const rewrite = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>
<% var keywords = [] %>
<% categories.forEach(category=>{ %>
<% keywords.push(category.category_name) %>
<% })%>

<% var address = "" %>
<% var cityid = '' %>
<% var stateid = '' %>
<% var countryid = '' %>
<% var full_addr = '' %>

<% if(locations.length > 0){ %>
<% cityid = rewrite(locations[0].city_name) %>
<% stateid = rewrite(locations[0].state_name) %>
<% countryid = rewrite(locations[0].country_name) %>
<% full_addr = locations[0].complete_address %>
<% let {city_name,state_name,country_name} = locations[0] %>
<% if(city_name.trim() == state_name.trim() && state_name.trim() == country_name.trim()){ %>
<% address = city_name.trim() %>
<% }else if(city_name.trim() == state_name.trim()){ address = city_name.trim()+", "+ country_name.trim()}else{address = [city_name,state_name,country_name].join(", ")} %>
<% } %>
<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business
        Directory</title>
    <meta name="Title"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business Directory">
    <meta name="description"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> in <%= address %> is one of the leading <%= keywords[0] %> with <%= images.length %> photos. Also listed in <%= keywords.join(', ') %>. Find address, Contact Number, Phone Number, Mobile Number, Fax, Email, Email Address, images.length  and Logo of <%= company_business_name %>, <%= full_addr %> on Orapages" />
    <meta name="keywords"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> in <%= full_addr %>, <%= company_business_name %> in <%= address %>, <%= keywords.join(', ') %>, Contact Number, Mobile Number, Address, Fax, Email, Photos, Logo" />
    <meta property="og:title"
        content="<%= company_business_name.replace(/\b\w/g, l => l.toUpperCase()) %> | <%= address %> | <%= keywords.join(', ') %> | OraPages.com - FREE Business Directory">
    <meta property="og:site_name" content="Orapages">
    <meta property="og:url" content="https://www.orapages.com/<%= company_url %>">
    <meta property="og:description"
        content="<%= company_business_name %> in <%= full_addr %> is one of the leading <%= keywords[0] %> with <%= images.length %> photos. Also listed in <%= keywords.join(', ') %>. Find address, Contact Number, Phone Number, Mobile Number, Fax, Email, Email Address, Photos and Logo of <%= company_business_name %>, <%= full_addr %> on Orapages">
    <% if (logo != null){ %>
    <meta property="og:image" content="https://www.orapages.com/<%= logo.logo_url %>">
    <% }else{ %>
    <meta property="og:image" content="https://www.orapages.com/assets/img/logo.jpg">
    <% } %>
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.orapages.com/<%= company_url %>">
    <!-- Canonical URL -->
    <meta name="robots" content="noodp" />
    <meta name="robots" content="noydir" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" defer href="/assets/css/jqvmap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <% if (images.length > 0) { %>
    <link href="../css/jquery.fancybox.min.css" rel="stylesheet" />
    <% } %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Orapages",
          "alternateName": "Orapages.com",
          "url": "https://www.orapages.com",
          "logo": "https://www.orapages.com/assets/img/logo.jpg",
          "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "<%= company_business_name %>",
            <% if (images.length > 0){ %><% let imagesld = images.map(image => "https://www.orapages.com/"+image.image_url) %>"image": <%- JSON.stringify(imagesld) %>,<% }else{ %>"image":"https://www.orapages.com/assets/img/orapages-business-placeholder.jpg",<% } %>
            "url": "https://www.orapages.com/<%= company_url %>",
            <% if(locations.length > 0){ %><% if(locations[0].mobile  != ''){ %>"telephone": "<%= locations[0].mobile %>",<% } %>
            <% if(locations[0].email != ''){ %>"email": "<%= locations[0].email %>",<% } %>
            <% if(locations[0].fax  != ''){ %>"faxNumber": "<%= locations[0].mobile %>",<% } %>
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "<%= locations[0].complete_address.trim().replace(/\n\n/g,"\n").split(",\n").join(", ").split("\n").join(" ").replace(/\~~/g,", ") %>",
                "addressLocality": "<%= address %>",
                "postalCode": "",
                "addressRegion": "<%= cityid %>",
                "addressCountry": "<%= countryid %>"
            }
            <% } %>
        }
    </script>
    <style>
        .orapages.badge {
            font-weight: 400;
            font-size: 90%;
        }
        #company_profile{
            border-width: 2px !important;
        }
    </style>
</head>

<body>
    <%- include('header',{company_url,keywords:keywords,company_business_name}) %>
    <% if(premium_expiry_date - new Date().getTime() < 0 || !premium_expiry_date ){ %>
    <section style="padding: 0px 15px;">
        

        <div class="row">
            <div class="col-lg-12 <%= company_theme %> border border-profile">
                <div class="row">
                    <div class="col-lg-12 text-center"  id="company_profile">
                        <div class="row text-left">
                            <div class="col">
                                <div>
                                    <% categories.forEach(category =>{ %>
                                    <a href="/ps/<%= countryid %>/<%= stateid %>/<%= cityid%>/<%= rewrite(category.category_name) %>/page-1"
                                        class="orapages badge badge-secondary mb-2"><%= category.category_name %></a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <div id="company_profile_desc">
                            <div class="row" style="margin-top: 29px;">
                                <div class="col">
                                    <% if (logo != null){ %>
                                    <div class="profile_center">
                                        <img src="<%= logo.logo_url %>" alt="<%= company_business_name %>'s logo"
                                            style="max-width: 100%;max-height: 190px;">
                                    </div>
                                    <% } %>
        
                                    <h1 style="font-size: 1.75rem;" class="text-uppercase text-danger profile_center heading mt-3">
                                        <strong>
                                            <%= company_business_name %>
                                        </strong>
                                    </h1>
                                    <% if(locations.length > 0){ %>
                                    <div class="profile_center address">
                                        <span>
                                            <!-- <strong>Address: </strong> -->
                                            <span style="text-transform: capitalize;">
                                                <%= locations[0].complete_address.trim().replace(/\n\n/g,"\n").split(",\n").join(", ").split("\n").join(" ").replace(/\~~/g,", ") %>
                                            </span>
                                        </span><br>
        
                                        <% if(locations[0].mobile  != ''){ %>
                                        <span>
                                            <span>Tel: </span>
                                            <span><%= locations[0].mobile %></span>
                                        </span><br>
                                        <% } %>
        
                                        <% if(locations[0].fax != ''){ %>
                                        <span>
                                            <span>Fax: </span>
                                            <span><%= locations[0].fax %></span>
                                        </span><br>
                                        <% } %>
        
                                        <% if(locations[0].email != ''){ %>
                                        <span>
                                            <span>Email: </span>
                                            <span><a class="text-ora"
                                                    href="mailto:<%= locations[0].email %>"><%= locations[0].email %></a><% if(other_emails.length > 0){ %>,<% } %>
                                                    <% if(other_emails.length > 0){ %>
                                                        <% other_emails.forEach((email,index)=>{ %>
                                                        <a class="text-ora"
                                                        href="mailto:<%= email.email %>"><%= email.email %></a><% if(index < other_emails.length - 1){ %>,<% } %>
                                                        <% }) %>
                                                    <% } %>
                                            </span>
                                        </span><br>
                                        <% } %>
        
                                        <% if((locations[0].website).trim() != ''){ %>
                                        <span>
                                            <span>Website: </span>
                                            <span>
                                                <% if(locations[0].website.startsWith('www.')){ %>
                                                <a class="text-ora" rel="noopener noreferrer nofollow"
                                                    href="//<%= locations[0].website %>"
                                                    target="_blank">
                                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                                <% }else if(!locations[0].website.startsWith('http')){ %>
                                                <a class="text-ora" rel="noopener noreferrer nofollow"
                                                    href="//<%= locations[0].website %>"
                                                    target="_blank">
                                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                                <% }else{ %>
                                                <a class="text-ora" rel="noopener noreferrer nofollow"
                                                    href="<%= locations[0].website %>"
                                                    target="_blank">
                                                    <%= locations[0].website.replace('https://','').replace('http://','').replace(/^\/+|\/+$/g, '') %></a><% if(other_websites.length > 0){ %>,<% } %>
                                                <% } %>
                                                <% if(other_websites.length > 0){ %>
                                                    <% other_websites.forEach((website,index)=>{ %>
                                                    <a class="text-ora"
                                                    href="/<%= website.website %>"><%= website.website %></a><% if(index+1 < other_websites.length){ %>,<% } %>
                                                    <% }) %>
                                                <% } %>
                                            </span>
                                        </span><br>
                                        <% } %>
        
        
                                    </div>
                                    <% } %>
                                    <% if(locations.length > 1){ %>
                                    <div class="row text-center mt-4 profile_center address">
                                        <div class="col-xl-12">
                                            <h5>Other Locations</h5>
                                        </div>
                                        <% for(var j = 1 ; j < locations.length ; j++) { %>
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3">
                                            <span>
                                                <!-- <span>Address: </span> -->
                                                <span style="text-transform: capitalize;">
                                                    <%= locations[j].complete_address.trim().replace(/\n\n/g,"\n").replace(/\, /g,"~~").split(",\n").join(", ").split("\n").join(", ").replace(/\~~/g,", ") %>
                                                </span>
                                            </span><br>
        
                                            <% if(locations[j].mobile  != ''){ %>
                                            <span>
                                                <span>Tel: </span>
                                                <span><%= locations[j].mobile %></span>
                                            </span><br>
                                            <% } %>
        
                                            <% if(locations[j].fax != ''){ %>
                                            <span>
                                                <span>Fax: </span>
                                                <span><%= locations[j].fax %></span>
                                            </span><br>
                                            <% } %>
        
                                            <% if(locations[j].email != ''){ %>
                                            <span>
                                                <span>Email: </span>
                                                <span><a class="text-ora"
                                                        href="mailto:<%= locations[j].email %>"><%= locations[j].email %></a></span>
                                            </span><br>
                                            <% } %>
        
                                        </div>
                                        <% } %>
                                    </div>
                                    <% } %>
                                    <% if(!!production){ %>
                                    <div class="m-3">
                                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
                                        </script>
                                        <!-- <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                                            data-ad-client="ca-pub-9771954240441693" data-ad-slot="1065364570"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script> -->
                                    </div>
                                    <% } %>
                                    <div id="profile-description" class="text-left mt-3">
                                        <p>
                                            <%- company_business_details.replace(/rel="dofollow"/g,"").replace(/\<a/g,`<a rel='nofollow' target='_blank'`) %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <% if(videos.length >0){ %>
                        <div class="row row d-md-flex justify-content-md-center mt-3" style="max-height: 70vh;width: 100%;">
                            <video width="90%" height="90%" style="max-height: 400px;" controls>
                                <source src="/<%= videos[0].video_url %>" type="video/mp4">
                            </video>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-center" style="margin-top: 1em;"><%= videos[0].video_des %></p>
                            </div>
                        </div>
                    <% } %>
                    <% if (images.length > 0) { %>
                    <div class="row row d-md-flex justify-content-md-center" style="margin-top: 10px;">
                        <% images.forEach(image => { %>
                        <div class="col-md-5 col-lg-5 col-xl-5" style="padding: 0px;margin:24px">
                            <div class="row image-file form-row" style="padding: 0px;">
                                <div class="col-xl-12 text-center" style="padding: 0px;">
                                    <div class="d-md-flex justify-content-md-center align-items-md-center"
                                        style="height: 310px;/*overflow: hidden !important;*//*position: relative;*/">
                                        <a href="<%= image.image_url %>" data-fancybox="gallery"
                                            id="link_<%= image.image_id %>" style="height: 100%">
                                            <img src="<%= image.image_url %>" loading="lazy"
                                                alt="<%= image.image_original_name %>"
                                                style="object-fit: contain;height: 100%;">
                                        </a>
                                        <div class="bg-light image-update"></div>
                                    </div>
                                </div>
                                <div class="col" style="height: 70px;
                                    border-top: 1px dashed grey;
                                    padding-top: 10px;">
                                    <div class="form-group text-center">
                                        <span style="width:100%;font-size: 12px; font-weight: 600;padding-top: 20px;"><%= image.image_des.substring(0,100) %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <% } %>
                    <% if (tags.length > 0){ %>
                    <div class="row">
                        <div class="col text-center mb-3">
                            <hr>
                            <p class="mb-2">Keywords</p>
                    <% tags.forEach(tag=>{ %>
                        <h5 class="d-inline"><a href="/tags/<%= rewrite(tag.tag) %>/page-1" class="text-wrap badge badge-info"><%= tag.tag %></a></h5>
                    <% }) %>
                        </div>
                    </div>
                    <% } %>
                    <div role="dialog" tabindex="-1" class="modal fade" id="analytics_modal">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #fbc904;">
                                    <h2 class="modal-title">Google Analytics of <em><q><%= company_business_name %></q></em>
                                    </h2><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div id="analytics">
    
                                        <div class="row mb-5 mt-5">
                                            <div class="col-lg-6 mb-5">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <h5>Page Views</h5>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <form>
                                                                    <div class="form-group mb-0">
                                                                        <select class="form-control"
                                                                            onchange="getPageViews(this.value)">
                                                                            <option value="7">7 Days</option>
                                                                            <option value="30">30 Days</option>
                                                                            <option value="90">90 Days</option>
                                                                            <option value="180">6 Months</option>
                                                                            <option value="365" selected>12 Months</option>
                                                                            <option value="730">2 Years</option>
                                                                            <option value="1095">3 Years</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <canvas id="pageViews" width="400" height="220"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <h5>Users</h5>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <form>
                                                                    <div class="form-group mb-0">
                                                                        <select class="form-control"
                                                                            onchange="getUsers(this.value)">
                                                                            <option value="7">7 Days</option>
                                                                            <option value="30">30 Days</option>
                                                                            <option value="90">90 Days</option>
                                                                            <option value="180">6 Months</option>
                                                                            <option value="365" selected>12 Months</option>
                                                                            <option value="730">2 Years</option>
                                                                            <option value="1095">3 Years</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <canvas id="pageUsers" width="400" height="220"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mb-5">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <h5>Countries</h5>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <form>
                                                                    <div class="form-group mb-0">
                                                                        <select class="form-control"
                                                                            onchange="getCountryUsers(this.value)">
                                                                            <option value="7">7 Days</option>
                                                                            <option value="30">30 Days</option>
                                                                            <option value="90">90 Days</option>
                                                                            <option value="180">6 Months</option>
                                                                            <option value="365" selected>12 Months</option>
                                                                            <option value="730">2 Years</option>
                                                                            <option value="1095">3 Years</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="vmap" style="height: 400px;"></div>
                                                        <canvas id="pageCountry" width="400" height="200"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mb-5">
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <h5>Cities</h5>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <form>
                                                                    <div class="form-group mb-0">
                                                                        <select class="form-control"
                                                                            onchange="getCityUsers(this.value)">
                                                                            <option value="7">7 Days</option>
                                                                            <option value="30">30 Days</option>
                                                                            <option value="90">90 Days</option>
                                                                            <option value="180">6 Months</option>
                                                                            <option value="365" selected>12 Months</option>
                                                                            <option value="730">2 Years</option>
                                                                            <option value="1095">3 Years</option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <canvas id="pageCity" width="400" height="220"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"><button class="btn btn-primary" type="button"
                                        data-dismiss="modal">Close Analytics</button></div>
                            </div>
                        </div>
                    </div>
                    <% if(owner_this){ %>
                    <div class="row">
                        <div class="col text-left">
                            <a href="/owner_panel" class="btn btn-dark btn-edit">Edit Profile</a>
                        </div>
                    </div>
                    <% } %>
                </div>
                </div>
            </div>
        </div>
        <% if(companies.length > 0){ %>
        <section class="mt-5">
            <hr>
                    <h4 class="text-center">Related Profiles</h4>
                    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1">
                        <% companies.forEach(company=>{ %>
                        <div class="col-md-4 mt-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-title text-center text-truncate"><a class="font-weight-bold" 
                                            href="<%= company.company_url %>"><%= company.company_business_name %></a></h6>
                                    <p class="related_companies" style="font-size: .8em;"><%- company.company_business_details.substr(0,200) %></p>
                                    <a href="/<%= company.company_url %>" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                
        </section>
        <% } %>
        <% if(!!production){ %>
        <div class="row m-5">
            <div class="col">
                <ins class="adsbygoogle"
                    style="display:block; text-align:center;"
                    data-ad-layout="in-article"
                    data-ad-format="fluid"
                    data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="4636039960"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <% } %>

    </section>
    <% }else{ %>
    <section>
        <div class="row">
            <div class="col-xl-12 text-center" id="company_profile">
                <div class="row text-left">
                    <div class="col">
                        <div class="col text-right" style="margin-bottom: 5px;">
                            <button class="btn btn-dark btn-sm mb-2" type="button" id="ga-btn"
                                style="margin: 0px;margin-left: 10px;"><b><img src="/assets/img/google.svg">Google
                                    Analytics</b> of this Profile</button>
                            <button class="btn btn-primary btn-sm mb-2" onclick="printProfile()" type="button"
                                style="margin: 0px;margin-left: 10px;">Print Profile</button>
                            <button class="btn btn-danger btn-sm mb-2" id="report-button" type="button"
                                style="margin-left: 10px;">Report if
                                inappropriate
                            </button>
                        </div>
                        <div>
                            <% categories.forEach(category =>{ %>
                            <button class="btn btn-light btn-sm profile-categories mb-3" type="button"
                                onclick="location.href=`/ps/<%= countryid %>/<%= stateid %>/<%= cityid%>/<%= rewrite(category.category_name) %>/page-1`"><%= category.category_name %></button>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div id="company_profile_desc">
                    <%- company_business_details %>
                </div>
                <div role="dialog" tabindex="-1" class="modal fade" id="analytics_modal">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #fbc904;">
                                <h2 class="modal-title">Google Analytics of <em><q><%= company_business_name %></q></em>
                                </h2><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="analytics">
                                    <div class="row mb-5 mt-5">
                                        <div class="col-lg-6 mb-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5>Page Views</h5>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getPageViews(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <canvas id="pageViews" width="400" height="220"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h5>Users</h5>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getUsers(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <canvas id="pageUsers" width="400" height="220"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h5>Countries</h5>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getCountryUsers(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div id="vmap" style="height: 400px;"></div>
                                                    <canvas id="pageCountry" width="400" height="200"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h5>Cities</h5>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <form>
                                                                <div class="form-group mb-0">
                                                                    <select class="form-control"
                                                                        onchange="getCityUsers(this.value)">
                                                                        <option value="7">7 Days</option>
                                                                        <option value="30">30 Days</option>
                                                                        <option value="90">90 Days</option>
                                                                        <option value="180">6 Months</option>
                                                                        <option value="365" selected>12 Months</option>
                                                                        <option value="730">2 Years</option>
                                                                        <option value="1095">3 Years</option>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <canvas id="pageCity" width="400" height="220"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"><button class="btn btn-primary" type="button"
                                    data-dismiss="modal">Close Analytics</button></div>
                        </div>
                    </div>
                </div>
                <% if(owner_this){ %>
                <div class="row">
                    <div class="col text-left">
                        <a href="/owner_panel" class="btn btn-dark btn-edit" >Edit Profile</a>
                    </div>
                </div>
                <% }else{ %>
                <% } %>
            </div>
        </div>

    </section>
    <% } %>
    
    </div>
    <div class="col-md-12 col-lg-2">
        <div class="sticky-top">
            <div class="text-center">
                <!--<a href="/">-->
                <!--    <img src="/assets/img/12.png" class="mb-3" style="width: 100%;" alt="For marketing on Orapages"/>-->
                <!--</a>-->
                <% if(!!production){ %>
                <!-- Side bar ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <% } %>
                
            </div>

        </div>
    </div>
    </div>
    <%- include('footer') %>
    
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/front_form.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <% if (images.length > 0) { %>
    <script src="/js/jquery.fancybox.js"></script>
    <% } %>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
    <script src="/js/fr_analytics_profile.js"></script>
    <script>
        let company_url = `<%= company_url %>`;
        city_id = `<%= cityid %>,<%= stateid %>,<%= countryid %>`;
        state_id = `<%= stateid %>`;
        country_id = `<%= countryid %>`;
        Cookies.set("country_name", country_id);
        Cookies.set("state_name", state_id);
        Cookies.set("city_name", city_id);

        function printProfile() {
            var divToPrint = document.getElementById('company_profile_desc');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write(
                '<html><style>.profile_center{text-align:center}h3.profile_center{color:#dc3545!important;font-size:24px}</style><body onload="window.print()">' +
                divToPrint
                .innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () {
                newWin.close();
            }, 10);
        }
    </script>
</body>

</html>