<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="404 No profile found on OraPages.com which is a free comprehensive online BUSINESS DIRECTORY." />
    <meta name="keywords" content="Profile not found | Orapages " />
    <title>404 No profile found | OraPages.com - FREE Business Directory</title>
    <meta property="og:title" content="404 No profile found | OraPages.com - FREE Online
    Business Directory">
    <meta property="og:site_name" content="Orapages">
    <meta property="og:url" content="https://www.orapages.com">
    <meta property="og:description"
        content="404 No profile found on OraPages.com which is a free comprehensive online BUSINESS DIRECTORY.">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <style>
        .orapages.badge {
            font-weight: 400;
            font-size: 90%;
        }
    </style>
</head>

<body>
    <%- include('header',{company_url:'',csrfToken:company.csrfToken,owner:company.owner,production:company.production}) %>
    <section>
        <div class="row">
            <div class="col-xl-12 text-center">
                <div id="analytics">
                    <% if(company.code !== 404){ %>
                    <h2 class="text-danger heading" style="margin: 10% 0px;"><strong>404! Page Not Found</strong><br>
                    </h2>
                    <% }else{ %>
                    <h2 class="text-danger heading" style="margin: 10% 0px;"><strong>404 ! We can not find any profile
                            with this URL</strong><br></h2>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>