<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>orapages</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="/orapages/styles/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <style>
        .ui-menu {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ui-autocomplete-term {
            font-weight: bold !important;
        }

        .ui-state-highlight {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="modal fade" role="dialog" tabindex="-1" id="upload-logo-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="logo-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Logo</h4><button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="upload-btn-wrapper">
                            <div><input type="file" id="attachment" name="attachment"><button class="btn btn-primary"
                                    type="button"><strong>Click Here</strong></button></div>
                        </div>
                        <div class="form-row">
                            <div class="col" style="margin-top: 15px;"><img id="formLogoPic"
                                    style="max-width: 600px;max-height: 150px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button"
                            data-dismiss="modal">Cancel</button><button class="btn btn-success"
                            type="submit">Save</button></div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
            style="/*border-bottom: 2px solid black;*/padding: 1px;margin-bottom: 25px;">
            <div class="container"><a class="navbar-brand" href="/"><img src="assets/img/logo.jpg"></a><button
                    data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a
                            href="/">Home</a></span>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <h4 class="text-center text-danger"><strong>YOUR PROFILE</strong><br></h4>
        <form id="company_registration_form">
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);">
                            <strong>Your login details</strong><br></h5>
                        <input class="form-control" type="hidden" name="ip" value="<%= ip %>">
                        <input class="form-control" type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <input class="form-control" type="hidden" value="true" name="premium">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Your Email *</strong></label>
                    </div>
                    <div class="col-lg-10 col-xl-6">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Your Email"
                                inputmode="latin-name" name="company_email" value="<%= email %>"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Password *</strong></label>
                    </div>
                    <div class="col-lg-5 col-xl-3">
                        <div class="form-group"><input class="form-control" type="password" id="company_password"
                                placeholder="Password" name="company_password"></div>
                    </div>
                    <div class="col-lg-5 col-xl-3">
                        <div class="form-group"><input class="form-control" type="password"
                                name="company_password_confirm" placeholder="Confirm Password"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Your
                                Profile </strong>(these details will appear on your page)<br></h5>
                    </div>
                </div>
                <div class="jumbotron text-center" style="padding: 58px;padding-top: 20px;padding-bottom: 20px;">
                    <h4><strong>Upload Your Logo</strong></h4>
                    <div class="form-row">
                        <div class="col" id="company_logo"></div>
                    </div>
                    <p id="company_logo_name"></p>
                    <p id="uploadDiv"><button class="btn btn-success" id="upload-logo" type="button">Upload</button></p>
                    <p id="editDiv" style="display:none"><button class="btn btn-primary" id="edit-logo" type="button"
                            style="margin-right: 10px;">Edit</button><button class="btn btn-danger" id="remove-logo"
                            type="button">Remove</button></p>
                </div>
                <div class="form-row">
                    <div class="col-xl-2"><label class="col-form-label"><strong>Company Name *</strong></label></div>
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Company Name"
                                name="company_business_name" value="<%= company_name %>"><small
                                class="text-warning">Please enter your COMPANY name.
                                (If you don't have a company, then you enter your PERSONAL name)<br></small></div>
                    </div>
                </div>
            </section>
            <section id="branch">
                <fieldset class="border p-2" style="margin-bottom: 10px;">
                    <legend class="w-auto" style="margin-left: 18px;"><br></legend>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Complete Address
                                    *</strong><br></label></div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-sm-6">
                            <div class="form-group"><textarea class="form-control"
                                    placeholder="Please enter COMPLETE address including CITY, STATE and COUNTRY."
                                    rows="7" name="company_branch_address_0"></textarea></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Telephone</strong></label>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="form-group"><input class="form-control" type="text"
                                    name="company_branch_phone_0"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Fax</strong></label></div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="form-group"><input class="form-control" type="text" name="company_branch_fax_0">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Email *</strong></label>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="form-group"><input class="form-control" type="text"
                                    name="company_branch_email_0"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Website</strong></label>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="form-group"><input class="form-control" type="text" name="company_branch_url_0">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-2 col-xl-2"><label class="col-form-label"><strong>Location *</strong></label>
                        </div>
                        <div class="col-lg-3 col-xl-3">
                            <div class="form-group">
                                <select class="form-control" id="id_country_0" name="company_branch_country_0">
                                    <option value="">Please select Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-3">
                            <div class="form-group">
                                <select class="form-control" id="id_state_0" name="company_branch_state_0">
                                    <option value="">Please select State</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-3">
                            <div class="form-group">
                                <select class="form-control" id="id_city_0" name="company_branch_city_0">
                                    <option value="">Please select City</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="company_branch_key_0" />
                    </div>
                </fieldset>
            </section>
            <div class="form-row">
                <div class="col-sm-3 col-md-3 col-xl-2"><button class="btn btn-success" type="button"
                        id="add_branch_btn">Add
                        Branches</button></div>
            </div>
            <section style="margin-top: 20px;">
                <div class="form-row">
                    <div class="col">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);">
                            <strong>Description of your Business</strong><br></h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-xl-2"><label class="col-form-label"><strong>Profile *</strong></label></div>
                    <div class="col-xl-10">
                        <div class="form-group"><textarea class="form-control" id="company_business_details_premium"
                                rows="15" placeholder="Profile Description"
                                name="company_business_details_premium"></textarea></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row" style="margin-top: 10px;">
                    <div class="col text-center">
                        <h5 style="background-color: #0070c0;padding: 5px 20px;color: rgb(255,255,255);"><strong>Add
                                Photos with Caption</strong><br></h5>
                        <small class="text-muted" style="font-size: 36px;"><strong>You can add up to 90
                                photos</strong><br></small><small class="text-info"
                            style="font-size: 24px;"><strong>Photo speaks a thousand words</strong><br></small><small
                            class="text-success" style="font-size: 24px;"><strong>We recommed to add maximum photos to
                                showcase your business</strong><br></small>
                        <small class="text-danger" style="font-size: 24px;"><strong>We also recommend you give suitable
                                caption to describe each photo</strong><br></small>
                        <small class="text-warning" style="font-size: 24px;"><strong><span>After you have added photos,
                                    you can change the
                                    location by 'drag and drop'
                                </span> </strong><br></small>
                    </div>
                </div>
                <div class="form-row profileTable" style="margin-top: 10px;">
                    <!-- <div class="col-md-6 col-lg-6 col-xl-4 company_photos" style="padding: 10px;">
                        <div class="form-row image-file">
                            <div class="col-xl-12">
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center"
                                    style="min-width: 330;min-height: 330px;"><img class="d-xl-flex"
                                        src="assets/img/-LzzN9yjTUMVoSkCTbfp.png">
                                    <div class="bg-light image-update"><button class="btn btn-light"
                                            type="button">Remove</button></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group"><small class="d-xl-flex justify-content-xl-center"><strong>Image
                                            Name</strong></small><textarea class="form-control"
                                        placeholder="Image Description" rows="4" style="font-size: 11px;" minlength="0"
                                        maxlength="100" oninput="charCount(this)"></textarea><small
                                        class="d-xl-flex justify-content-xl-end counter">Character : Max 100 | Used 0 |
                                        Remaining 100</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 company_photos" style="padding: 10px;">
                        <div class="form-row image-file">
                            <div class="col-xl-12">
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center"
                                    style="min-width: 330;min-height: 330px;"><img class="d-xl-flex"
                                        src="assets/img/-LzzN9yjTUMVoSkCTbfp.png">
                                    <div class="bg-light image-update"><button class="btn btn-light"
                                            type="button">Remove</button></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group"><small class="d-xl-flex justify-content-xl-center"><strong>Image
                                            Name</strong></small><textarea class="form-control"
                                        placeholder="Image Description" rows="4" style="font-size: 11px;" minlength="0"
                                        maxlength="100" oninput="charCount(this)"></textarea><small
                                        class="d-xl-flex justify-content-xl-end counter">Character : Max 100 | Used 0 |
                                        Remaining 100</small></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-6 col-lg-6 col-xl-4 immovable" style="padding: 10px;">
                        <div class="form-row image-file">
                            <div class="col-xl-12">
                                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                                    style="min-width: 330;min-height: 328px;"><button class="btn btn-primary"
                                        id="upload_company_images" type="button"
                                        id="upload_company_images"><strong>+</strong></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 class="text-white"
                            style="padding: 20px;margin-top: 20px;background-color: #0070c0;font-size: 36px;">
                            <strong>Products &amp; Services </strong><br></h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-center"><small class="text-success" style="font-size: 24px;"><strong>This is
                                the most important section.</strong><br></small><small class="text-info"
                            style="font-size: 24px;"><strong><span style="text-decoration: underline;">Search
                                    Engines</span> will find you thru your&nbsp;Products &amp; Services&nbsp;which you
                                select here.</strong><br></small>
                        <small class="text-danger" style="font-size: 24px;"><strong>And give proper description of
                                your&nbsp;Products &amp; Services&nbsp;to convey to the
                                visitor.</strong><br></small><small class="text-primary"
                            style="font-size: 24px;"><strong>We strongly suggest to choose correct&nbsp;Products &amp;
                                Services&nbsp;to give right exposure of your business to the
                                visitors.</strong><br></small></div>
                </div>
                <div class="form-row" id="first-category" style="margin-top: 20px;">
                    <div class="col-xl-12"><label><strong>Products &amp; Services *</strong><br></label>
                        <div class="form-row">
                            <div class="col-sm-10 col-xl-9" id="topCategories">
                                <div class="form-row">
                                    <div class="col-xl-10">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="company_category_0">
                                            <input class="form-control" type="hidden" name="company_category_key_0">
                                            <small>Type the first few letters to view the categories to select
                                                from<br></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12" id="company_category_0" style="display: none;">
                                <div class="form-row">
                                    <div class="col-md-3 col-xl-3">
                                        <strong>1. <label id="company_category_name_0"></label></strong>
                                        <ul id="company_category_name_list_0" style="font-size: 12px;">
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <div class="form-group"><small><strong>Brief Details *</strong>&nbsp;(This will
                                                appear against your company name under the category)<br></small>
                                            <textarea class="form-control" name="company_des_category_0" rows="6"
                                                oninput="charCount(this)" maxlength="400"></textarea>
                                            <button class="btn btn-danger btn-sm d-inline float-right" type="button"
                                                style="margin-top: 4px;" onclick="deleteCatUi(0)">Delete</button>
                                            <small class="counter">Character : Max 400 | Used 0 | Remaining
                                                400<br></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="another_category_section"></div>
                <div class="form-row">
                    <div class="col"><button class="btn btn-success btn-sm" id="add_another_category_button"
                            type="button">Add Another</button></div>
                </div>
            </section>
            <section style="margin-top: 20px;">
                <div class="jumbotron text-center orapages-url" style="padding: 32px;">
                    <h1 style="color: #0070c0;">Make your page your own Website<br></h1>
                    <p>This is important because you can also use your this page as your own website.<br></p>
                    <p>What will be your website address?<br></p>
                    <p class="text-break">Your website address will be www.orapages.com/whatever-word-you-choose<br></p>
                    <div class="table-responsive table-bordered text-left">
                        <table class="table table-bordered">
                            <thead style="background-color: #ffffff;">
                                <tr>
                                    <th>In the box below, if you enter<br></th>
                                    <th>Your website address will be<br></th>
                                </tr>
                            </thead>
                            <tbody style="background-color: #ffffff;">
                                <tr>
                                    <td class="text-danger">abc</td>
                                    <td class="text-success"><strong>www.orapages.com/abc</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-danger">abcent</td>
                                    <td class="text-success"><strong>www.orapages.com/abcent</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-danger">abcenterprises<br></td>
                                    <td class="text-success"><strong>www.orapages.com/abcenterprises</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>You can choose any word of your choice.<br></p>
                    <p>if it's available, it becomes your exclusive website address.<br></p>
                    <p>It will then not be available to others.<br></p>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span
                                    class="text-white bg-dark input-group-text">www.orapages.com/</span></div><input
                                class="form-control" type="text" name="company_url" autocomplete="off">
                            <!-- <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="url-checker-btn">
                                    <span id="url-checker" style="display: none;">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            style="margin-right: 8px;">
                                        </span>
                                    </span>
                                    <span id="url-checker-text">Check Avalibility<br>
                                    </span>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <!-- <p id="url-result"><br>
                    </p> -->
                </div>
            </section>
            <section>
                <% let themes = ["default","rosy-flamingo","deep-blue","healthy-leaves","emerald-entrance","foil-covered-sneakers","petal-party","melted-ice-cream",
                "in-the-blue","facing-forward","pasture-of-dreams","mellow-barnyard","under-the-ferns","blushing-landscape",
                "wild-orchid","right-on-time","ripe-harvest","middle-eastern-empire","secret-passageway","beautiful-abstraction","trees-in-bloom"] %>
                <div class="jumbotron text-center orapages-url" style="padding: 32px;">
                    <h2 style="color: #0070c0;">Please select the theme of your page<br></h2>
                    <p class="mb-3">Note: Please do not choose your own font colors of Company Description for better
                        experience <br></p>
                    <div class="form-row">
                        <div class="form-group mb-0">
                            <% themes.forEach(theme=>{ %>
                            <div class="custom-control custom-radio custom-control-inline">
                                <% if(theme == 'default'){ %>
                                <input type="radio" class="custom-control-input <%= theme %>" id="<%= theme %>"
                                    name="theme" value="<%= theme %>" checked />
                                <% }else{ %>
                                <input type="radio" class="custom-control-input <%= theme %>" id="<%= theme %>"
                                    name="theme" value="<%= theme %>" />
                                <% } %>
                                <label class="custom-control-label <%= theme %>" for="<%= theme %>"></label>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>

            </section>
            <section>
                <div class="form-row">
                    <div class="col">
                        <h5 class="text-white" style="padding: 4px 20px;margin-top: 20px;background-color: #0070c0;">
                            <strong>Agreement</strong><br></h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"
                                    checked="" name="agreeTerms" required=""><label class="form-check-label"
                                    for="formCheck-1">* I confirm that the information submitted in this form are
                                    correct to the best of my knowledge and conform to orapages's&nbsp;<a
                                        href="https://www.orapages.com/terms-conditions"><strong>[Terms
                                            &amp; Conditions]</strong></a>. The materials and images submitted do not
                                    infringe on any third party's copyright.<br></label></div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-row">
                    <!-- <div class="col text-right">
                        <button class="btn btn-warning submit-btn" type="button" onclick="">
                            <span>Preview Profile<br /></span>
                        </button>   
                    </div> -->
                    <div class="col text-center">
                        <button class="btn btn-primary bg-dark submit-btn" id="submit" type="submit"><span>
                                <span class="spinner-border text-warning submit-spinner" role="status"
                                    style="margin-right: 8px;display: none;"></span></span><span>Submit &amp; View
                                Profile<br></span>
                        </button>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <%- include('footer') %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <!-- <script src="assets/js/form.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="/js/user_admin.js"></script>
    <script src="/orapages/common/scripts/ckeditor/ckeditor.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/front_form.js"></script>
</body>

</html>