<!DOCTYPE html>
<html>

<%- include('registration_components/registration_header') %>
<% let weightage = {}; %>

<body>
    <%- include('registration_components/registration_models',{logo:null}) %>

    <%- include('registration_components/navigation',{panel:1}) %>

    <div class="container">
        
        <%- include('registration_components/top_heading') %>

        <form id="company_registration_form">

            <%- include('registration_components/login_details',{panel:1,company_email:''}) %>
            
            <%- include('registration_components/logo',{panel:1,weightage,logo:null}) %>
            
            <%- include('registration_components/branch',{locations:[],weightage,company_business_name:'',other_emails:[],other_websites:[]}) %>

            <%- include('registration_components/description',{weightage,company_business_details:'',premium_expiry_date:0}) %>

            <%- include('registration_components/video',{weightage,videos:[],youtube:''}) %>
            
            <%- include('registration_components/images',{weightage,images:[]}) %>

            <%- include('registration_components/category',{weightage,categories:[]}) %>

            <%- include('registration_components/tags',{weightage,tags:[]}) %>

            <%- include('registration_components/url',{company_url:''}) %>

            <%- include('registration_components/theme',{company_theme:''}) %>

            <section>
                <div class="form-row">
                    <div class="col text-center">
                        <button class="btn btn-primary bg-dark submit-btn" id="submit" type="submit"><span>
                                <span class="spinner-border text-warning submit-spinner" role="status"
                                    style="margin-right: 8px;display: none;"></span></span><span>Submit &amp; View
                                Profile<br></span>
                        </button>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <%- include('footer') %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="/js/user.js"></script>
    <script src="/orapages/common/scripts/summernote/summernote-bs4.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/front_form.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        setInterval(() => {
            let r = 0;
            $(".badge-weight").each(function (index, ele) {
                r += parseInt($(ele).text().split("/")[0]);
                $("#full_score").html(r);
            });
        }, 2000);
    </script>
    <script src="/js/other-forms.js"></script>
</body>

</html>