<!DOCTYPE html>
<html>

<%- include('registration_components/registration_header') %>

<body>
    <%- include('registration_components/registration_models',{logo}) %>

    <%- include('registration_components/navigation',{panel:3}) %>

    <div class="container" id="main_content">
        
        <%- include('registration_components/top_heading') %>

        <form id="company_registration_edit_form">

            <%- include('../../business_network/bn_views/orapages_components/modals/modal_request')  %>
            <%- include('../../business_network/bn_views/timeline/company_head_registration')  %>

            <div id="timeline">
                
                <%- include('registration_components/login_details',{panel:2}) %>
                    
                <%- include('registration_components/logo',{panel:2}) %>
                
                <%- include('registration_components/branch') %>
                
                <%- include('registration_components/description') %>
                
                <%- include('registration_components/video') %>
                
                <%- include('registration_components/images') %>
                
                <%- include('registration_components/category') %>

                <%- include('registration_components/tags') %>
                
                <%- include('registration_components/url') %>
                
                <%- include('registration_components/theme') %>
                
                <%- include('registration_components/agreement') %>
            
                <section>
                    <div class="form-row">
                        <div class="col text-right">
                            <button class="btn btn-danger submit-btn" type="button"
                                onclick="deleteUserProfile('<%= company_id %>')">
                                <span>Delete Profile<br /></span>
                            </button>
                        </div>
                        <div class="col text-left">
                            <button class="btn btn-primary bg-dark submit-btn" id="submit" type="submit"><span>
                                    <span class="spinner-border text-warning submit-spinner" role="status"
                                        style="margin-right: 8px;display: none;"></span></span><span>Submit &amp; View
                                    Profile<br></span>
                            </button>
                        </div>
                    </div>
                </section>
            
            </div>
        </form>
    </div>
    <%- include('footer') %>
    <% var flag = 0 %>
    <% if(locations.length > 0) {flag = locations.length} else{flag =  0 } %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <!-- <script src="assets/js/form.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="/js/user.js"></script>
    <script src="/orapages/common/scripts/summernote/summernote-bs4.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/front_form.js"></script>
    <script src="/js/other-forms.js"></script>
    
    <script src="/js/bn_timeline_tabs.js"></script>
    <script src="/js/bn_post_options.js"></script>
    <% if(owner){ %>
    <script>
        preActionBusinessNetwork();
    </script>
    <% } %>
    <script>
        var company_key = '<%= company_id %>';
        locationCount = '<%= flag %>'

        var images = <%- JSON.stringify(images || null) %> ;
        if (images != null) {
            var serverFiles = <%- JSON.stringify(images) %> ;

            for (let i = 0; i < serverFiles.length; i++) {
                files_row[i] = {
                    image_id: serverFiles[i].image_id,
                    image_type: serverFiles[i].image_original_name.split(".")[1],
                    image: serverFiles[i].image_url,
                    image_name: serverFiles[i].image_original_name,
                    uploaded: true
                }

                if (serverFiles[i].image_des.length > 0) {
                    image_map.set(`company_photo_${i}`, 5);   
                }else{
                    image_map.set(`company_photo_${i}`, 2);
                }
                
            }
        }
    </script>
    <% if(!!logo){ %>
    <script>
        logo_file = <%- JSON.stringify(logo) %> ;
        var uploaded_logo_file = logo_file;
        logo_caption = "<%= logo.logo_caption %>";
        logo_name = "<%= logo.logo_name %>";
        fileShow = logo_file.logo_url;
    </script>
    <% } %>
</body>

</html>