<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <script data-ad-client="ca-pub-5220733398539316" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/jqvmap.min.css">
    <link href="/orapages/styles/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <style>
        .ui-menu {
            max-height: 220px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .ui-autocomplete-term {
            font-weight: bold !important;
        }

        .ui-state-highlight {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
            style="/*border-bottom: 2px solid black;*/padding: 1px;margin-bottom: 25px;">
            <div class="container"><a class="navbar-brand" href="/"><img src=" /assets/img/logo.jpg"></a><button
                    data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul>
                    <span class="navbar-text actions mr-5"> <a href="/owner_panel">Your Profile</a></span>
                    <span class="navbar-text actions mr-5">
                        <a class="btn btn-light text-white action-button"
                         role="button" id="signup-btn" href="/owner_panel/analytics" >Your Analytics
                        </a>
                    </span>
                    <span class="navbar-text actions"> <a href="/owner_logout" class="btn btn-danger action-button" role="button" style="background: rgb(211,80,72);">Sign Out</a></span>    
                </div>
            </div>
        </nav>
    </div>
    <div class="container" id="main_content">
        <h4 class="text-center text-danger"><strong>YOUR PROFILE ANALYTICS</strong><br></h4>
        <div class="row mb-5 mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Page Views</h5>
                            </div>
                            <div class="col-xl-4">
                                <form>
                                    <div class="form-group mb-0">
                                        <select class="form-control" onchange="getPageViews(this.value)">
                                            <option value="7" selected>7 Days</option>
                                            <option value="30">30 Days</option>
                                            <option value="90">90 Days</option>
                                            <option value="180">6 Months</option>
                                            <option value="365">12 Months</option>
                                            <option value="730">2 Years</option>
                                            <option value="1095">3 Years</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pageViews" width="400" height="220"></canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Users</h5>
                            </div>
                            <div class="col-xl-4">
                                <form>
                                    <div class="form-group mb-0">
                                        <select class="form-control" onchange="getUsers(this.value)">
                                            <option value="7" selected>7 Days</option>
                                            <option value="30">30 Days</option>
                                            <option value="90">90 Days</option>
                                            <option value="180">6 Months</option>
                                            <option value="365">12 Months</option>
                                            <option value="730">2 Years</option>
                                            <option value="1095">3 Years</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pageUsers" width="400" height="220"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Countries</h5>
                            </div>
                            <div class="col-xl-4">
                                <form>
                                    <div class="form-group mb-0">
                                        <select class="form-control" onchange="getCountryUsers(this.value)">
                                            <option value="7" selected>7 Days</option>
                                            <option value="30">30 Days</option>
                                            <option value="90">90 Days</option>
                                            <option value="180">6 Months</option>
                                            <option value="365">12 Months</option>
                                            <option value="730">2 Years</option>
                                            <option value="1095">3 Years</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="vmap" style="height: 400px;"></div>
                        <canvas id="pageCountry" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="row mb-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Cities</h5>
                            </div>
                            <div class="col-xl-4">
                                <form>
                                    <div class="form-group mb-0">
                                        <select class="form-control" onchange="getCityUsers(this.value)">
                                            <option value="7" selected>7 Days</option>
                                            <option value="30">30 Days</option>
                                            <option value="90">90 Days</option>
                                            <option value="180">6 Months</option>
                                            <option value="365">12 Months</option>
                                            <option value="730">2 Years</option>
                                            <option value="1095">3 Years</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pageCity" width="400" height="220"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/jquery.vmap.min.js"></script>
    <script src="/assets/js/jquery.vmap.world.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="/js/fr_analytics_profile.js"></script>
    <script>
        let company_url = '<%= company_url %>';
    </script>
</body>

</html>