<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Business Directory, Online Company, Accountants, Plumbers, Mechanics, Web Designers" />
    <title>orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section class="d-xl-flex justify-content-xl-center" style="padding-top: 88px;background-color: #e6e6e6;">
        <form method="post" style="max-width: 50%;width: 50%;min-height: 30vh;" action="/change_password"
            id="reset_form">
            <h2 class="text-center">Please Change your Password</h2>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="user_id" required value="<%= user_id %>">
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" />
            </div>
            <div class="form-group text-center"><button class="btn btn-primary" type="submit"
                    style="width: 100%;">Change Password</button></div>
        </form>
    </section>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <!-- <script src="../../js/cookies.js"></script> -->
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/search.js"></script>
    <script>
        $(document).ready(function () {
            $('#reset_form').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 7
                    },
                    confirm_password: {
                        equalTo: "#password"
                    }
                },
                messages: {
                    password: {
                        required: "Please enter the password",
                        minlength: "Please enter more than 7 characters"
                    },
                    confirm_password: {
                        equalTo: "Please enter same password"
                    }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                    $(element).addClass('is-valid');
                },
            });

        });
    </script>
</body>

</html>