<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Terms and conditions of Orapages, Business Directory, Online business directory, Company Listing" />
    <title>Terms and Conditions | Orapages</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <h3 class="display-4">Terms &amp; Conditions<br></h3>
                <p>Welcome to our website. If you continue to browse and use this website you are agreeing to comply
                    with and be bound by the following terms and conditions of use, which together with our privacy
                    policy and disclaimer govern&nbsp;<strong>OraPages.com&nbsp;</strong>relationship
                    with you in relation to this website. The term&nbsp;<strong>“OraPages”</strong>&nbsp;or “website
                    owner” or “us” or “we” refers to the owner of the website. The term “you” refers to the user or
                    viewer of this website.<br><br>The use
                    of this website is subject to the following terms of use:The content of the pages of this website is
                    for your general information and use only. It is subject to change without notice.Neither we nor any
                    third parties provide any warranty
                    or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the
                    information and materials found or offered on this website for any particular purpose. You
                    acknowledge that such information and materials
                    may contain inaccuracies or errors and OraPages, its directors, officers, employees and agents
                    expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by
                    law.Your use of any information or materials
                    on this website is entirely at your own risk, for which we shall not be liable. It shall be your own
                    responsibility to ensure that any products, services or information available through this website
                    meet your specific requirements.This
                    website contains material which is owned by us, except where noted. This material includes, but is
                    not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other
                    than in accordance with the copyright
                    notice, which forms part of these terms and conditions.This website is not intended for users under
                    the age of 16 and such users are expressly prohibited from using portions of the website for which
                    registration is required, such as
                    but not limited to our reviews, forums and chat areas. Any information submitted by such users will
                    not knowingly be used, posted or retained.From time to time this website may also include links to
                    other websites. These links are
                    provided for your convenience to provide further information. They do not signify that we endorse
                    the website(s). We are fully exonerated from all responsibilities for the content of the linked
                    website(s).You may not create a link
                    to this website from another website or document without&nbsp;<strong>OraPages's</strong>&nbsp;prior
                    written consent.<strong>Acceptable site uses</strong><br>The user agrees and consents that the
                    website owner and/or its affiliates
                    may use his/her personal data for purpose relating to the provision of services offered by us
                    including marketing services and events of the website owner and its affiliates.<br>The user
                    unconditionally grants the website owner a non-exclusive,
                    worldwide, irrevocable royalty-free right to exercise the copyright, publicity and database rights
                    (but not other rights) to host, display, copy, download, promote, distribute, forward, reproduce,
                    sell and re-use the content in any
                    form in accordance to the privacy policy for all content posted in this
                    website.<br><br><strong>Indemnity</strong><br>All users agree to indemnify, and hold harmless the
                    Website Owner, its directors, officers, employees and agents
                    from and against any claims, actions, demands, losses or damages arising from or resulting from
                    their use of the sites or their breach of the terms of this Agreement. The Website Owner will
                    provide prompt notice of any such claim,
                    suit or proceedings to the relevant user.<br><br><strong>Copyright</strong><br>We respect the
                    intellectual property of others, and we ask our users to do the same. We may, in appropriate
                    circumstances and at our discretion, suspend
                    or terminate the access of and take other actions against users, subscribers, registrants and
                    account holders who infringe the copyrights of others.<br><br><strong>Security</strong><br>We are
                    committed to ensuring that your information
                    is secure. In order to prevent unauthorised access or disclosure we will put in place suitable
                    physical and electronic procedures to safeguard and secure the information we collect online to best
                    of our ability.<br><br><strong>How we use cookies</strong><br>We
                    use traffic log cookies to identify which pages are being used. This helps us analyse data about web
                    page traffic and improve our website in order to tailor it to customer needs. We only use this
                    information for statistical analysis
                    purposes. Overall, cookies help us provide you with a better website, by enabling us to monitor
                    which pages you find useful and which you do not. A cookie in no way gives us access to your
                    computer or any information about you, other
                    than the data you choose to share with us. Most web browsers automatically accept cookies, but you
                    can usually modify your browser setting to decline cookies if you prefer. This may prevent you from
                    taking full advantage of the website.<br><br><strong>External Links</strong><br>External
                    links may be provided for your convenience, but they are beyond the control of the Website Owner and
                    no representation is made as to their content. Use or reliance on any external links and the content
                    thereon provided is at your own
                    risk. When visiting external links you must refer to that external websites terms and conditions of
                    use. No hypertext links shall be created from any website controlled by you or otherwise to this
                    website without the express prior
                    written permission of the Website Owner. Please&nbsp;<strong>contact us</strong>&nbsp;if you would
                    like to link to this website or would like to request a link to your website.<br><br><strong>Public
                        Forums and User Submissions</strong><br>We
                    are not responsible for any material submitted to the website by you. Any material (whether
                    submitted by you or any other user) is not endorsed, reviewed or approved by us. We reserve the
                    right to remove any material submitted or posted
                    by you on the website, without notice to you, if we become aware and determine, in our sole and
                    absolute discretion that you are or there is the likelihood that you may, including but not limited
                    to -defame, abuse, harass, stalk, threaten
                    or otherwise violate the rights of other users or any third parties;publish, post, distribute or
                    disseminate any defamatory, obscene, indecent or unlawful material or information;post or upload
                    files that contain viruses, corrupted
                    files or any other similar software or programmes that may damage the operation of the Website
                    Owner's and/or a third party's computer system and/or network;violate any copyright, trade mark,
                    other or international laws or intellectual
                    property rights of the Website Owner or any other third party;We also reserve the right to amend or
                    delete a profile which we feel that is of unsuitable content.<br>&nbsp;<strong>Specific
                        Use</strong><br>You further agree not to use
                    the website to send or post any message or material that is unlawful, harassing, defamatory,
                    abusive, indecent, threatening, harmful, vulgar, obscene, sexually orientated, racially offensive,
                    profane, pornographic or violates any applicable
                    law and you hereby indemnify the Website Owner against any loss, liability, damage or expense of
                    whatever nature which the Website Owner or any third party may suffer which is caused by or
                    attributable to, whether directly or indirectly,
                    your use of the website to send or post any such message or
                    material.<br><br><strong>Disclaimer</strong><br>We make no warranties, representations, statements
                    or guarantees (whether express, implied in law or residual) regarding the
                    website, the information contained on the website, you or your company's personal information or
                    material and information transmitted over our system. In any event, the Website Owner, its Officers,
                    Directors, Employees or Agents shall
                    not be liable for any losses, claims or damages suffered by any user whatsoever and howsoever
                    arising or resulting from the use or inability to us this website and its contents, including
                    negligence and disputes between any parties.<br><br><strong>Use of the Website</strong><br>The
                    Website Owner does not make any warranty or representation that information on the website is
                    appropriate for use in any jurisdiction. By accessing the website, you warrant and represent to the
                    Website Owner that you are legally entitled
                    to do so and to make use of information made available via the
                    website.<br><br><strong>General</strong><br><strong>Entire Agreement.&nbsp;</strong><br>These
                    website terms and conditions constitute the sole record of the agreement between
                    you and the Website Owner in relation to your use of the website. The Website Owner shall not be
                    bound by any express tacit or implied representation, warranty, promise or the like not recorded
                    herein. Unless otherwise specifically
                    stated these website terms and conditions supersede and replace all prior commitments, undertakings
                    or representations, whether written or oral, between you and the Website Owner in respect of your
                    use of the website.<br><br><strong>Alteration</strong><br>The
                    Website Owner may at any time modify any relevant terms and conditions, policies or notices. You
                    acknowledge that by visiting the website from time to time, you shall become bound to the current
                    version of the relevant terms and conditions
                    (the "current version") and, unless stated in the current version, all previous versions shall be
                    superseded by the current version. You shall be responsible for reviewing the then current version
                    each time you visit the website.<br><br><strong>Conflict.&nbsp;</strong><br>Where
                    any conflict or contradiction appears between the provisions of these website terms and conditions
                    and any other relevant terms and conditions, policies or notices, the other relevant terms and
                    conditions, policies or notices which
                    relate specifically to a particular section or module of the website shall prevail in respect of
                    your use of the relevant section or module of the
                    website.<br><br><strong>Cession.&nbsp;</strong><br>The Website Owner shall be entitled
                    to cede, assign and delegate all or any of its rights and obligations in terms of any relevant terms
                    and conditions, policies and notices to any third
                    party.<br><br><strong>Severability.</strong><br>All provisions of any relevant terms
                    and conditions, policies and notices are, notwithstanding the manner in which they have been grouped
                    together or linked grammatically, severable from each other. Any provision of any relevant terms and
                    conditions, policies and notices,
                    which is or becomes unenforceable in any jurisdiction, whether due to voidness, invalidity,
                    illegality, unlawfulness or for any reason whatever, shall, in such jurisdiction only and only to
                    the extent that it is so unenforceable, be
                    treated as pro non scripto and the remaining provisions of any relevant terms and conditions,
                    policies and notices shall remain in full force and effect.<br><br><strong>Applicable
                        laws.&nbsp;</strong><br>Any relevant terms and conditions,
                    policies and notices shall be governed by and construed in accordance with the laws
                    of&nbsp;<strong>Republic of Singapore</strong>&nbsp;without giving effect to any principles of
                    conflict of law. You hereby consent to the exclusive
                    jurisdiction of the High Court of&nbsp;<strong>Republic of Singapore</strong>&nbsp;in respect of any
                    disputes arising in connection with the website, or any relevant terms and conditions, policies and
                    notices or any matter related
                    to or in connection therewith.<br><br><strong>Comments or Questions.&nbsp;</strong><br>If you have
                    any questions, comments or concerns arising from the website or any other relevant terms and
                    conditions, policies and notices or the
                    way in which we are handling your personal information please&nbsp;<strong>contact
                        us</strong>.<br><br></p>
            </div>
            <!-- <div class="col">
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        <h5 class="text-center mb-0"><strong>ADVERTISING SPACE</strong><br></h5>
                    </div>
                    <div class="card-body">
                        <p class="text-center card-text">If you would like to advertise on&nbsp;<strong>orapages.com</strong>, please provide some details by clicking&nbsp;<a href="https://orapages.com/contact/index.cfm?ct=feedback">[HERE]</a>&nbsp;and we will contact you back as soon
                            as possible<br></p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>