<% const rewrite = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>
<!DOCTYPE html>
<html lang="en-US">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
        content="OraPages is a comprehensive online BUSINESS DIRECTORY. We are a team of professionals with a vision - to present Business information in an Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Business Directory, Online Company, Accountants, Plumbers, Mechanics, Web Designers" />
    <title>FREE online BUSINESS DIRECTORY. OraPages.com</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="js/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <style>
        table td {
            padding: 8px !important;
        }
    </style>
</head>

<body>
    <%- include('header',{company_url:''}) %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <% if (type == 'company'){ %>
                <h2 class="text-center">Result for <span class="text-danger"><b>Companies</b></span> starts with <b
                        class="text-danger"><%= keyword.toUpperCase() %></b> in <b
                        class="text-danger"><%= location_name %></b><br /></h2>
                <table class="table table-striped table-bordered table-hover table-sm"
                    style="width:100%;font-size: 14px;" id="<%= type %>">

                    <thead class="thead-dark">
                        <tr>
                            <th style="min-width: 33%;">Company name</th>
                            <th>Categories</th>
                        </tr>
                    </thead>
                    <!-- <tfoot class="thead-dark">
                        <tr>
                            <th>Company name</th>
                            <th>Categories</th>
                        </tr>
                    </tfoot> -->
                </table>

                <% } else if(type == 'services'){ %>
                <h2 class="text-center">Result for <span class="text-primary"><b>Products & Services</b></span> starts
                    with <b class="text-primary"><%= keyword.toUpperCase() %></b> in <b
                        class="text-primary"><%= location_name %></b><br /></h2>
                <hr />
                <table class="table table-striped table-bordered table-hover table-sm"
                    style="width:100%;font-size: 14px;" id="<%= type %>">

                    <thead class="thead-dark">
                        <tr>
                            <th style="min-width: 50%;">Category Name</th>
                            <th>Number of companies listed</th>
                        </tr>
                    </thead>
                    <!-- <tfoot class="thead-dark">
                        <tr>
                            <th style="min-width: 50%;">Category Name</th>
                            <th>Number of companies listed</th>
                        </tr>
                    </tfoot> -->
                </table>
                <% }else if(type = 'categories_results'){ %>
                <h2 class="text-center text-danger"><b><%= category %></b><br /></h2>
                <h6 class="text-center text-danger">
                    <%= subcategories.join(', ') %>
                </h6>
                <table class="table table-striped table-bordered table-hover table-sm"
                    style="width:100%;font-size: 14px;" id="<%= type %>">

                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 25%">Name</th>
                            <th>Description</th>
                            <th style="min-width: 33%">Location</th>
                        </tr>
                    </thead>
                    <!-- <tfoot class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Location</th>
                        </tr>
                    </tfoot> -->
                </table>
                <% } %>
            </div>
            <!-- <div class="col mt-5">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"><strong>ADVERTISING SPACE</strong><br /></h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">If you would like to advertise on <strong>orapages.com</strong>, please
                            provide some details by clicking <a href="">[HERE]</a> and we will
                            contact you back as soon as possible<br /></p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
    <script src="/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <% if(type == 'company'){ %>
    <script>
        $(document).ready(function () {
            var oldStart = 0;
            $.fn.DataTable.ext.pager.numbers_length = 12;
            let table = $('#<%= type %>').DataTable({
                pageLength: 100,
                lengthChange: false,
                ordering: false,
                searching: false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/getSearchCompanies",
                    data: {
                        term: `<%= keyword %>`,
                        location: `<%= location_key %>`,
                        type: `<%= location_type %>`
                    }
                },
                dom: "<'row'<'col-sm-2 search'l><'col-sm-2 search-btn'f><'col-sm-8'p>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-8'p>>",
                columns: [{
                        data: "company_business_name",
                        render: function (data, type, row, meta) {
                            return `<a class="text-capitalize text-ora" href='${row.company_url}'>${data}</a>`;
                        }
                    },
                    {
                        data: "categories",
                        render: function (data, type, row, meta) {
                            let r = [];
                            data.forEach((d) => {
                                r.push(
                                    `<a class="text-ora" href='/categories_results?type=<%= location_type %>&location_key=<%= location_key %>&category=${d.category_id}'>${d.category_name}</a>`
                                )
                            });
                            return r.join('&nbsp&nbsp|&nbsp&nbsp');
                        }
                    }
                ],
                initComplete: function () {
                    $("div.search").html(
                        `<input type="number" placeholder="Page Number" class="form-control" style="height:30px" id="search-field" min="0" max="${table.page.info().pages}">`
                    );
                    $("div.search-btn").html(
                        '<button type="button" class="btn btn-sm btn-primary" id="search-btn">Jump</button>'
                    );
                    $("#search-btn").on('click', function () {
                        table.page(parseInt($('#search-field').val()) - 1).draw('page')
                    });
                },
                fnDrawCallback: function (o) {
                    if (o._iDisplayStart != oldStart) {
                        $('html,body').animate({
                            scrollTop: 0
                        }, 100);
                        oldStart = o._iDisplayStart;
                    }
                },
                rowCallback: function (row, data, index) {
                    if (data.sort_order == 1) {
                        $(row).css('background-color', '#ffc5c5');
                    }
                }
            });
            $('#<%= type %>').on('page.dt', function () {
                let info = table.page.info();
                let stateObj = {
                    id: info.page + 1
                };
                gtag('config', 'UA-161607363-1', {
                    'page_path': `/${window.location.href.split('&page=')[0]}&page=${info.page+1}`
                });
                window.history.replaceState(stateObj, `Page ${info.page+1}`,
                    `${window.location.href.split('&page=')[0]}&page=${info.page+1}`);
            });
        });
    </script>
    <% } else if(type == 'categories_results'){ %>
    <script>
        $(document).ready(function () {
            var oldStart = 0;
            $.fn.DataTable.ext.pager.numbers_length = 12;
            let table = $('#<%= type %>').DataTable({
                pageLength: 100,
                lengthChange: false,
                ordering: false,
                searching: false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/getSearchCompaniesBycategory",
                    data: {
                        category: `<%= category_id %>`,
                        location: `<%= location_key %>`,
                        type: `<%= location_type %>`
                    }
                },
                dom: "<'row'<'col-sm-2 search'l><'col-sm-2 search-btn'f><'col-sm-8'p>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-8'p>>",
                columns: [{
                        data: "company_business_name",
                        render: function (data, type, row, meta) {
                            return `<a href='${row.company_url}' class="text-capitalize text-ora">${data}</a>`;
                        }
                    },
                    {
                        data: "categories",
                        render: function (data, type, row, meta) {
                            const desc = `${data[0].category_desc}`
                            return desc;
                        }
                    },
                    {
                        data: "locations",
                        render: function (data, type, row, meta) {
                            const desc = `${data[0].complete_address}`
                            return desc;
                        }
                    }
                ],
                initComplete: function () {
                    $("div.search").html(
                        `<input type="number" placeholder="Page Number" class="form-control" style="height:30px" id="search-field" min="0" max="${table.page.info().pages}">`
                    );
                    $("div.search-btn").html(
                        '<button type="button" class="btn btn-sm btn-primary" id="search-btn">Jump</button>'
                    );
                    $("#search-btn").on('click', function () {
                        table.page(parseInt($('#search-field').val()) - 1).draw('page')
                    });
                },
                fnDrawCallback: function (o) {
                    if (o._iDisplayStart != oldStart) {
                        $('html,body').animate({
                            scrollTop: 0
                        }, 100);
                        oldStart = o._iDisplayStart;
                    }
                },
                rowCallback: function (row, data, index) {
                    if (data.sort_order == 1) {
                        $(row).css('background-color', '#ffc5c5');
                    }
                }
            });
            $('#<%= type %>').on('page.dt', function () {
                let info = table.page.info();
                let stateObj = {
                    id: info.page + 1
                };
                gtag('config', 'UA-161607363-1', {
                    'page_path': `/${window.location.href.split('&page=')[0]}&page=${info.page+1}`
                });
                window.history.replaceState(stateObj, `Page ${info.page+1}`,
                    `${window.location.href.split('&page=')[0]}&page=${info.page+1}`);
            });
        });
    </script>
    <% } else if(type == 'services'){ %>
    <script>
        $(document).ready(function () {
            var oldStart = 0;
            $.fn.DataTable.ext.pager.numbers_length = 12;
            let table = $('#<%= type %>').DataTable({
                pageLength: 100,
                lengthChange: false,
                ordering: false,
                searching: false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/getSearchCategories",
                    data: {
                        term: "<%= keyword %>",
                        location: `<%= location_key %>`,
                        type: `<%= location_type %>`
                    }
                },
                dom: "<'row'<'col-sm-2 search'l><'col-sm-2 search-btn'f><'col-sm-8'p>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-8'p>>",
                columns: [{
                        data: "category_name",
                        render: function (data, type, row, meta) {
                            return `<a class="text-ora" href='/categories_results?type=<%= location_type %>&location_key=<%= location_key %>&category=${row.category_id}'>${row.category_name}</a>`
                        }
                    },
                    {
                        data: "count"
                    }
                ],
                initComplete: function () {
                    $("div.search").html(
                        `<input type="number" placeholder="Page Number" class="form-control" style="height:30px" id="search-field" min="0" max="${table.page.info().pages}">`
                    );
                    $("div.search-btn").html(
                        '<button type="button" class="btn btn-sm btn-primary" id="search-btn">Jump</button>'
                    );
                    $("#search-btn").on('click', function () {
                        table.page(parseInt($('#search-field').val()) - 1).draw('page')
                    });
                },
                fnDrawCallback: function (o) {
                    if (o._iDisplayStart != oldStart) {
                        $('html,body').animate({
                            scrollTop: 0
                        }, 100);
                        oldStart = o._iDisplayStart;
                    }
                }
            });

            $('#<%= type %>').on('page.dt', function () {
                let info = table.page.info();
                let stateObj = {
                    id: info.page + 1
                };
                gtag('config', 'UA-161607363-1', {
                    'page_path': `/${window.location.href.split('&page=')[0]}&page=${info.page+1}`
                });
                window.history.replaceState(stateObj, `Page ${info.page+1}`,
                    `${window.location.href.split('&page=')[0]}&page=${info.page+1}`);
            });
        });
    </script>
    <% } %>
</body>

</html>