<% const rewrite = (name) => name.replace(/[^a-z0-9A-z]/g, "-").replace(/-+$/, "").replace(/-+/g, "-").toLowerCase()%>
<% let url %>
<% if(!!country && !!state && !!city){ %>
<% url = `${country}/${state}/${city}` %>
<% }else if(!!country && !!state){ %>
<%  url = `${country}/${state}` %>
<% }else{  %>
<%  url = `${country}` %>
<% } %>
<!DOCTYPE html>
<html lang="en-US">
<% 
function _numbers ( page, pages ) {
    var
        numbers = [],
        buttons = 12,
        half = Math.floor( buttons / 2 ),
        i = 1;

    if ( pages <= buttons ) {
        numbers = _range( 0, pages );
    }
    else if ( page <= half ) {
        numbers = _range( 0, buttons-2 );
        numbers.push( '...' );
        numbers.push( pages-1 );
    }
    else if ( page >= pages - 1 - half ) {
        numbers = _range( pages-(buttons-2), pages );
        numbers.splice( 0, 0, '...' ); // no unshift in ie6
        numbers.splice( 0, 0, 0 );
    }
    else {
        numbers = _range( page-half+2, page+half-1 );
        numbers.push( '...' );
        numbers.push( pages-1 );
        numbers.splice( 0, 0, '...' );
        numbers.splice( 0, 0, 0 );
    }

    return numbers;
} 

var _range = function ( len, start )
	{
		var out = [];
		var end;
	
		if ( start === undefined ) {
			start = 0;
			end = len;
		}
		else {
			end = start;
			start = len;
		}
	
		for ( var i=start ; i<end ; i++ ) {
			out.push( i );
		}
	
		return out;
    }

%>

<head>
    <% if(!!production){ %>
    <script data-ad-client="ca-pub-9771954240441693" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% } %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161607363-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161607363-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>  Products and Services in <%= location_name %> | Orapages
    </title>
    <meta name="description"
        content="<%= recordsTotal %> Products and Services in <%= location_name %>. Find Top Products and Services in <%= location_name %>. Get Number of Companies listed under the Categories in <%= location_name %> which on OraPages in Easy, Informative, Useful and Relevant manner." />
    <meta name="keywords"
        content="Detailed list Products and Services in <%= location_name %>, Top Categories in <%= location_name %>,   Product and Services in <%= location_name %> Address, Number of companies, List of Products, List of Services, Popular Products and services in <%= location_name %>" />
    <meta name="Title"
        content="  Products and Services in <%= location_name %> | Orapages">
    <meta property="og:site_name" content="Orapages">
    
    <meta property="og:title"
        content="  Products and Services in <%= location_name %> | Orapages">
    <meta property="og:description"
        content="<%= recordsTotal %> Products and Services in <%= location_name %>. Find Top Products and Services  in <%= location_name %>. Get Number of Companies listed under the Categories which starts with  on OraPages in Easy, Informative, Useful and Relevant manner.">
    <meta property="og:image" content="https://www.orapages.com/assets/img/logo.jpg">
    <meta name="robots" content="noodp" />
    <meta name="robots" content="noydir" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/orapages/styles/jquery-ui.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Orapages",
            "url": "https://www.orapages.com"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Orapages",
            "alternateName": "Orapages.com",
            "url": "https://www.orapages.com",
            "logo": "https://www.orapages.com/assets/img/logo.jpg",
            "sameAs": "https://www.facebook.com/orapagess"
        }
    </script>
    <style>
        table td {
            padding: 8px !important;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1rem;
        }
    </style>
</head>

<body>

    <%- include('header',{company_url:''}) %>
    <%- include('business_query') %>
    <section>
        <div class="row">
            <div class="col-xl-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item"><a href="/country/<%= country %>" class="text-capitalize"><%= country %></a></li>
                      <li class="breadcrumb-item"><a href="/<%= country %>/<%= state %>" class="text-capitalize"><%= state %></a></li>
                      <li class="breadcrumb-item" aria-current="page"><%= location_name %></li>
                    </ol>
                </nav>

                <% if(type == 'services'){ %>
                <h1 class="text-center">Result for <span class="text-primary"><b>Products & Services</b></span><b class="text-primary"></b> in <b
                        class="text-primary"><%= location_name %></b><br /></h1>
                <hr />
                <div id="services_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-2 search"><input type="number" placeholder="Page Number" class="form-control"
                                style="height:30px" id="search-field" min="0" max="<%= Math.ceil(recordsTotal/100) %>">
                        </div>
                        <div class="col-sm-2 search-btn"><button type="button" class="btn btn-sm btn-primary"
                                id="search-btn"
                                onclick="jumpPage('/<%= url %>/ ','<%= Math.ceil(recordsTotal/100) %>')">Jump</button>
                        </div>
                        <div class="col-sm-8">
                            <div class="dataTables_paginate paging_simple_numbers float-right" id="services_paginate">
                                <ul class="pagination">
                                    <% if(page > 1){ %>
                                    <li class="paginate_button page-item previous" id="services_previous">
                                        <a href="/<%= url %>/page-<%= parseInt(page)-1 %>"
                                            aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a></li>
                                    <% }else{ %>
                                    <li class="paginate_button page-item previous disabled" id="services_previous"><a
                                            href="#" aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a></li>
                                    <% } %>

                                    <br>
                                    <% let pagination = _numbers(parseInt(page),Math.ceil(recordsTotal/100)) %>
                                    <% pagination.forEach(pag => { %>
                                    <% if(pag !== "..."){ %>
                                    <% if(page == pag+1){%>
                                    <li class="paginate_button page-item active">
                                        <a href="/<%= url %>/page-<%= pag+1 %>"
                                            aria-controls="services" data-dt-idx="1" tabindex="0"
                                            class="page-link"><%= pag + 1 %></a>
                                    </li>
                                    <% }else{ %>
                                    <li class="paginate_button page-item">
                                        <a href="/<%= url %>/page-<%= pag+1 %>"
                                            aria-controls="services" data-dt-idx="1" tabindex="0"
                                            class="page-link"><%= pag + 1 %></a>
                                    </li>
                                    <% } %>
                                    <% }else{ %>
                                    <li class="paginate_button page-item">
                                        <a href="#" aria-controls="services" data-dt-idx="1" tabindex="0"
                                            class="page-link">...</a>
                                    </li>
                                    <% } %>
                                    <% }) %>

                                    <% if(page < Math.ceil(recordsTotal/100)){ %>
                                    <li class="paginate_button page-item next"><a
                                            href="/<%= url %>/page-<%= parseInt(page)+1 %>"
                                            aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Next</a></li>
                                    <% }else{ %>
                                    <li class="paginate_button page-item next disabled"><a href="#"
                                            aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Next</a></li>
                                    <% } %>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover table-sm dataTable no-footer"
                                style="width: 100%; font-size: 14px;" id="services" role="grid"
                                aria-describedby="services_info">

                                <thead class="thead-dark">
                                    <tr role="row">
                                        <th style="min-width: 50%; width: 439.2px;" class="sorting_disabled" rowspan="1"
                                            colspan="1">Category Name</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 440.2px;">
                                            Number of companies listed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(data.length > 0){ %>
                                    <% data.forEach(category=>{ %>
                                    <tr role="row" class="odd">
                                        <td>
                                            <a class="text-ora "
                                                href="/ps/<%= url %>/<%= category.category_name_short %>/page-1"><%= category.category_name %></a>
                                        </td>
                                        <td><%= category.count %></td>
                                    </tr>
                                    <% }) %>
                                    <% }else{ %>
                                    <tr>
                                        <td colspan="3" class="text-center">No data found</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dataTables_info" id="services_info" role="status" aria-live="polite">Showing
                                <%= ((page-1)*100)+1 %>
                                to
                                <% if(recordsTotal >= (page*100)+100){ %>
                                <%= ((page-1)*100)+100 %>
                                <% }else{ %>
                                <%= recordsTotal %>
                                <% } %>
                                of <%= recordsTotal.toLocaleString('en-US') %> entries</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="dataTables_paginate paging_simple_numbers float-right">
                                <ul class="pagination">
                                    <% if(page > 1){ %>
                                    <li class="paginate_button page-item previous" id="services_previous"><a
                                            href="/<%= url %>/page-<%= parseInt(page)-1 %>"
                                            aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a></li>
                                    <% }else{ %>
                                    <li class="paginate_button page-item previous disabled" id="services_previous"><a
                                            href="#" aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a></li>
                                    <% } %>

                                    <% pagination.forEach(pag => { %>
                                    <% if(pag !== "..."){ %>
                                    <% if(page == pag+1){%>
                                    <li class="paginate_button page-item active">
                                        <a href="/<%= url %>/page-<%= pag+1 %>"
                                            aria-controls="services" data-dt-idx="1" tabindex="0"
                                            class="page-link"><%= pag + 1 %></a>
                                    </li>
                                    <% }else{ %>
                                    <li class="paginate_button page-item">
                                        <a href="/<%= url %>/page-<%= pag+1 %>"
                                            aria-controls="services" data-dt-idx="1" tabindex="0"
                                            class="page-link"><%= pag + 1 %></a>
                                    </li>
                                    <% } %>
                                    <% }else{ %>
                                    <li class="paginate_button page-item">
                                        <a href="#" aria-controls="services" data-dt-idx="1" tabindex="0"
                                            class="page-link">...</a>
                                    </li>
                                    <% } %>
                                    <% }) %>

                                    <% if(page < Math.ceil(recordsTotal/100)){ %>
                                    <li class="paginate_button page-item next"><a
                                            href="/<%= url %>/page-<%= parseInt(page)+1 %>"
                                            aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Next</a></li>
                                    <% }else{ %>
                                    <li class="paginate_button page-item next disabled"><a href="#"
                                            aria-controls="services" data-dt-idx="0" tabindex="0"
                                            class="page-link">Next</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <% } %>


            </div>
        </div>
    </section>
    </div>
    <div class="col-lg-2 col-md-12">
        <div class="row sticky-top">
            <div class="col-lg-12 col-sm-12 col-md-6 mt-2">
                <!-- <a href="/">
                    <img src="/assets/img/12.png" class="mb-3" style="width: 100%;" alt="For marketing on Orapages"/>
                </a> -->
                <% if(!!production){ %>
                <!-- Side bar ads -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                    data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <% } %>
                
            </div>

        </div>
    </div>
    </div>
    <%- include('footer') %>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/orapages/common/scripts/jquery-ui.min.js"></script>
    <script src="/js/other-forms.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/cookies.js"></script>
</body>

</html>