<!-- Container Closed -->
</div>

</div>
<div class="footer-dark mt-3">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Some Important Links</h3>
                    <ul>
                        <li><a href="/about-orapages">About Orapages</a></li>
                        <li><a href="/why-orapages">Why Orapages</a></li>
                        <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/disclaimer">Disclaimer</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><button class="btn btn-link contact-us p-0">Contact Us</button></li>
                        <li><button class="btn btn-link feedback p-0">Feedback</button></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>About Orapages</h3>
                    <p>Orapages is a free Business Directory. Anyone can list their business on the best listing website
                        for free after adding business anyone can find your local business easily on Orapages.com</p>
                </div>
                <div class="col item text-center">
                    <ul>
                        <li><a href="https://www.facebook.com/orapagess"><img src="/assets/img/facebook.svg"
                                    alt="Facebook page of Orapages" width="20" height="20" class="mr-2" /> Follow
                                Orapages on Facebook</a></li>
                    </ul>

                </div>
            </div>
            <p class="copyright">Copyright © Orapages.com. All Right Reserved 2021</p>
        </div>
    </footer>
</div>