<% let {owner} = company %>
<% let charArray = ['0-9',..."ABCDEFGHIJKLMNOPQRSTUVWXYZ".split('')] %>

<section class="container-fluid">
    <div class="row">
        <nav class="col-lg-8 mx-auto navbar navbar-light navbar-expand-md navigation-clean-button"
            style="/*border-bottom: 2px solid black;*/padding: 1px;">
            <div class="container">
                    <a class="navbar-brand" href="/" style="width: 25%;" >
                        <img class="img-fluid" src="/assets/img/logo.jpg" alt="Orapages logo" style="max-height: 43px;">
                    </a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <span class="navbar-text actions">
                            <a class="btn btn-light"
                                style="width: 250px; line-height:1.0em; background:#dadada;border: white;">
                                <b class="text-danger">Business Directory</b>
                                <br>
                                <strong>+</strong><br>
                                <span style="text-decoration: line-through;">Social</span>
                                <b class="text-danger">Business Network</b>
                            </a>
                            <% if(!owner){ %>
                            <a class="btn btn-light" role="button" id="signup-btn" href="/register"
                                style="background-color: rgb(237,194,42);margin: 0px 10px;">Submit Your Profile
                            </a>
                            <!-- <a class="btn btn-pr action-button" role="button" href="/premium"
                                style="background-color: rgb(42, 110, 237);margin-right: 10px;">Premium Listing
                            </a> -->
                            <a id="login-button" class="login btn btn-light"
                                style="background: rgb(216, 216, 216);margin: 0px 10px;" href="#"> Login</a>
                            <% }else{ %>
                            <a class="btn btn-light action-button" role="button" id="signup-btn" href="/owner_panel"
                                style="background-color: rgb(237,194,42);margin: 0px 10px;"> Login
                            </a>
                            <a class="login" href="/owner_logout" style="margin: 0px 10px;">Sign Out</a>
                            <% } %>
                            <a class="btn btn-light"
                                style="width: 210px;line-height:1.0em; background:#dadada;border: white;">
                                <b class="text-danger">FREE</b>
                                <br>
                                <strong>+</strong><br>
                                <b class="text-danger">DIY</b>
                            </a>
                        </span>
                    </div>
                </div>
        </nav>
    </div>
    <div class="row">
        <div class="mx-auto col-lg-8 col-md-12 border mb-2 black-header"
            style="padding: 0px;padding-top: 10px;padding-bottom: 10px;padding-right: 35px;padding-left: 35px;">
            <form>
                <div class="form-row">
                    <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center" style="font-size: 11px;">
                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center"
                            style="font-size: 14px;"><br><strong>Location:</strong><br><br></span></div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <select class="form-control" id="countryList" name="country"
                            style="font-size: 12px;margin-bottom: 10px;">
                            <option value="Choose">Please select Country</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <select class="form-control" id="stateList" name="state"
                            style="font-size: 12px;margin-bottom: 10px;">
                            <option value="Choose">Please select State</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <select class="form-control" id="cityList" name="city"
                            style="font-size: 12px;margin-bottom: 10px;">
                            <option value="Choose">Please select City</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-2 col-xl-2 d-xl-flex my-auto align-items-xl-center" style="font-size: 11px;">
                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center greyout"
                            style="font-size: 14px;"><br><strong>Search <br>Products &amp;
                                Services:</strong><br><br></span></div>
                    <div class="col-md-6">
                        <input type="text" disabled="disabled" id="search_box" name="keyword"
                            style="height:calc(1.5em + .75rem - 2px) !important"
                            placeholder="Search Products & Services" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-xl-2 d-xl-flex my-auto justify-content-xl-start" style="font-size: 11px;">
                        <span class="d-xl-flex justify-content-xl-center align-items-xl-center greyout"
                            style="font-size: 14px;"><br>
                            <strong>Browse <br>Products &amp; Services:</strong>
                            <br><br>
                        </span>
                    </div>
                    <div class="col">
                        <% charArray.map((char)=>{ %>
                        <button class="btn btn-primary btn-browse" type="button"
                            style="font-size: 13px;padding: 2px 7px;margin-top: 5px;margin-bottom: 5px;margin-right: 3px; border-radius: 2px;"
                            onclick="browseChar('<%= char.toLowerCase() %>','services')" disabled>
                            <span style="font-weight: 700;"><%= char %></span>
                        </button>
                        <% }) %>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-xl-2 my-auto">
                        <span class="d-xl-flex align-items-xl-center greyout" style="font-size: 14px;">
                            <strong>Browse Companies:</strong>
                            <br><br>
                        </span>
                    </div>
                    <div class="col">
                        <% charArray.map((char)=>{ %>
                        <button class="btn btn-danger btn-browse" type="button"
                            style="font-size: 13px;padding: 2px 7px;margin-top: 5px;margin-bottom: 5px;margin-right: 3px; border-radius: 2px;"
                            onclick="browseChar('<%= char.toLowerCase() %>','company')" disabled>
                            <span style="font-weight: 700;"><%= char %></span>
                        </button>
                        <% }) %>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>