<% let {production=false} = company %>
<!-- Container Started -->
<div class="container-fluid">
    <div class="row" style="margin-top: 24px;">
        <div class="col-lg-2 col-md-12">
            <div class="sticky-top">
                <div class="text-center">
                    <% if(!!production){ %>
                    <!-- Side bar ads -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                        data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <% } %>

                </div>

            </div>
        </div>

        <!-- Main Block Started -->
        <div class="col-lg-8 col-md-12">