<% let {production=false} = company %>
<!-- Main Block Closed -->
</div>


<div class="col-md-12 col-lg-2">
    <div class="sticky-top">
        <div class="text-center">
            <!--<a href="/">-->
            <!--    <img src="/assets/img/12.png" class="mb-3" style="width: 100%;" alt="For marketing on Orapages"/>-->
            <!--</a>-->
            <% if(!!production){ %>
            <!-- Side bar ads -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9771954240441693"
                data-ad-slot="8748682977" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <% } %>
            
        </div>

    </div>
</div>