<% let {company_url = null, company_name, company_business_name, locations = [],owner_this} = company %>
<% if (!!company_url) { %>

    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-12"></div>
            <div class="col-lg-8 col-lg-12 text-center">
                <div style="margin-bottom: 5px;">
                    <% let facebook = encodeURIComponent("https://www.orapages.com/"+company_url) %>
                    <% let whatsapp = encodeURIComponent(`Hi Please share ${company_business_name}, Which is listed in ${keywords.join(", ")} Categories on Orapages. Check this Profile here https://www.orapages.com/${company_url}`) %>
                    <% if(owner_this){ %>
                    <a class="btn btn-success btn-sm mb-2" href='https://wa.me/?text=<%= whatsapp %>'
                        style="margin: 0px;margin-left: 10px;" data-action="share/whatsapp/share" target="_blank"
                        rel="noopener noreferrer"><img width="20" height="20" src="/assets/img/whatsapp.svg"
                            alt="Share on whatsapp"> Share on
                        Whatsapp for more reach</a>
    
                   
                    <% }else{ %>
                    <a class="btn btn-success btn-sm mb-2" href='https://wa.me/?text=<%= whatsapp %>'
                        style="margin: 0px;margin-left: 10px;" data-action="share/whatsapp/share" target="_blank"
                        rel="noopener noreferrer"><img width="20" height="20" src="/assets/img/whatsapp.svg"
                            alt="Share on whatsapp"> Share on
                        Whatsapp</a>
    
                   
                    <% } %>
    
                    <button class="btn btn-dark btn-sm mb-2" type="button" id="ga-btn"
                        style="margin: 0px;margin-left: 10px;"><b><img src="/assets/img/google.svg"
                                alt="Google analytics of <%= company_business_name %>"> Google
                            Analytics</b> of this Profile</button>
                    <button class="btn btn-primary btn-sm mb-2" onclick="printProfile()" type="button"
                        style="margin: 0px;margin-left: 10px;">Print Profile</button>
                    <button class="btn btn-danger btn-sm mb-2" id="report-button" type="button"
                        style="margin-left: 10px;">Report if
                        inappropriate
                    </button>
    
                    <!-- <button class="btn btn-light btn-sm glowing-button" style="margin: 0px;margin-left: 10px;" onclick="$('#bulk-modal').modal('show')"><strong>Get
                            Your Customers Here</strong></button> -->
    
                </div>
    
            </div>
            <div class="col-lg-2 col-md-12"></div>
        </div>
    
        <div class="row">
            <div class="col-lg-2 col-md-12"></div>
            <div class="col-lg-8 col-md-12">
                <% if(locations.length > 0){ %>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/country/<%= rewrite(locations[0].country_name) %>"
                                class="text-capitalize"><%= locations[0].country_name %></a></li>
                        <li class="breadcrumb-item"><a
                                href="/<%= rewrite(locations[0].country_name) %>/<%= rewrite(locations[0].state_name) %>"
                                class="text-capitalize"><%= locations[0].state_name %></a></li>
                        <li class="breadcrumb-item"><a
                                href="/<%= rewrite(locations[0].country_name) %>/<%= rewrite(locations[0].state_name) %>/<%= rewrite(locations[0].city_name) %>/page-1"
                                class="text-capitalize"><%= locations[0].city_name %></a></li>
                        <li class="breadcrumb-item"><a
                                href="/ps/<%= rewrite(locations[0].country_name) %>/<%= rewrite(locations[0].state_name) %>/<%= rewrite(locations[0].city_name) %>/<%= rewrite(categories[0].category_name) %>/page-1"
                                class="text-capitalize"><%= categories[0].category_name %></a></li>
                        <li class="breadcrumb-item" aria-current="page"><%= company_business_name %></li>
                    </ol>
                </nav>
                <% } %>
            </div>
            <div class="col-lg-2 col-md-12"></div>
        </div>
    </section>

<% } %>