<div class="container-fluid sb2">
    <div class="row">

        <div class="container-fluid sb2">
            <!--== breadcrumbs ==-->
            <!-- <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="#"> Add Listing</a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i
                                class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                </ul>
            </div> -->

            <!-- Dropdown Structure -->
            <div class="split-row">
                <div class="box-inn-sp ad-inn-page">
                    <div class="tab-inn ad-tab-inn">
                        <div class="hom-cre-acc-left hom-cre-acc-right">
                            <div class="">
                                <form id="update_banners">

                                    <div class="row">
                                        <div class="db-v2-list-form-inn-tit">
                                            <h5 style="margin-top: 0px;">Update Banners
                                                <!-- <span class="v2-db-form-note">(image size 1350x500):<span> -->
                                            </h5>
                                        </div>
                                    </div>
                                    <!-- <div class="row tz-file-upload">
                                                    <div class="file-field input-field">
                                                        <div class="tz-up-btn"> <span>File</span>
                                                            <input type="file" style="z-index: 50000" multiple
                                                                id="images-to-upload"> </div>
                                                        <div class="file-path-wrapper db-v2-pg-inp">
                                                            <input class="file-path validate" type="text">
                                                        </div>
                                                    </div>
                                                </div> -->
                                    <div class="row" id="update-banner-images" style="margin-top: 0px">

                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12 v2-mar-top-40"> <button
                                                class="waves-effect waves-light btn-large full-btn" type="submit">Update
                                                Banners</button> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>