html, body{
font-size: 12px; color: #636363; 
font-family: Arial, Serif;
/*
width:100%;
margin:0px; overflow: none;
 background:url(/common/images/backgrounds/grainy-grey.png); */
}

td, div, select, input, textarea {
font-size: 12px; color: #636363; 
font-family:   Arial, Serif;

}


A.list:link 				{
								COLOR: #636363; 
								text-decoration: none;
							}
A.list:visited 		{color: #636363; text-decoration: none;}
A.list:active 			{color: #636363; text-decoration: none;}


A.white:link {COLOR: #ffffff; text-decoration: none;}
A.white:hover {text-decoration: none;}
A.white:visited {color: #ffffff; text-decoration: none;}
A.white:active {color: #ffffff; text-decoration: none;}

A.blue:link {COLOR: #4682b4; text-decoration: none;}
A.blue:hover {text-decoration: none;}
A.blue:visited {color: #4682b4; text-decoration: none;}
A.blue:active {color: #4682b4; text-decoration: none;}

A.cart:link {COLOR: #7b5722; text-decoration: none;}
A.cart:hover {text-decoration: none;}
A.cart:visited {color: #7b5722; text-decoration: none;}
A.cart:active {color: #7b5722; text-decoration: none;}

A.red:link {COLOR: #dc143c; text-decoration: none;}
A.red:hover {text-decoration: underline;}
A.red:visited {color: #dc143c; text-decoration: underline;}
A.red:active {color: #dc143c; text-decoration: underline;}

A.black:link {COLOR: #000000; text-decoration: none;}
A.black:hover {text-decoration: none;}
A.black:visited {color: #000000; text-decoration: none;}
A.black:active {color: #000000; text-decoration: none;}

A.grey:link {COLOR: #808080; text-decoration: none;}
A.grey:hover {text-decoration: none;}
A.grey:visited {color: #808080; text-decoration: none;}
A.grey:active {color: #808080; text-decoration: none;}

A.header:link {COLOR: #5f5f5f; text-decoration: none;}
A.header:hover {text-decoration: none;}
A.header:visited {color: #5f5f5f; text-decoration: none;}
A.header:active {color: #5f5f5f; text-decoration: none;}

							
.pageHeader 		{
	font-family:   Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #5f5f5f;
	margin-left: 10px;
	margin-right: 15px;
	padding: 20px 0px 3px 10px;

}		
				
h1 						{
	font-family:   Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 0px;
	color: #5f5f5f;
	margin: 0px 0px 10px 0px;
	/*border-bottom: 1px solid #c6c6c5;*/
}			
				
h2 						{
	font-family:   Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 0px;
	color: #5f5f5f;
	margin: 0px 0px 10px 0px;
	/*border-bottom: 1px solid #c6c6c5;*/
}		
		
h3 						{
	font-family:   Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 0px;
	color: #5f5f5f;
	margin: 0px 0px 10px 0px;
	/*border-bottom: 1px solid #c6c6c5;*/
}
							
h4 						{
font-size: 11px; color: #636363; 
font-family:  Arial, Serif;
margin: 0px;
padding: 0px 10px 5px 0px;
}


li  					{	
								
								padding-top: 0px;
								padding-bottom: 0px;
										line-height: 15px;
										margin-left: 15px;
							}
							
							
ul  					{	
								margin-left: 5px;
								margin-bottom: 10px;
								padding: 0px;
								font-size:12px;
							}


.cartBox {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
	border-width: 1px;
	border-color: #dedede;
	border-style: solid solid solid solid;
	border-color: #99CCCC;
		border-width: 2px;
	padding: 20px 20px 20px 20px;
	background-color: #f5f5f5;
}

.underline {
	border-color: #99CCCC;
		border-width: 2px;
	border-bottom: 1px solid;
}

p {
	font-size: 12px;
	color: #666;
	font-family:  Arial, Serif;
	line-height: 17px;
	
}

.generalButton{
background:#cecece;
border:1px solid #fff; 
color:#282828;
border-color:#e0e0e0;
}


.error {FONT-SIZE: 12px; COLOR: #dc143c; font-weight:bold;}

.errorHighlight {background-color:#fa8072; font-weight:bold;}


.tiny {FONT-SIZE: 8px; FONT-FAMILY:  Arial, Helvetica;}

.adminHighlight {background-color:  #d8bfd8;}

A:link {
	COLOR: #636363; TEXT-DECORATION: none;
}
A:visited {
	COLOR: #636363; TEXT-DECORATION: none;
}
A:active {
	COLOR: #636363; TEXT-DECORATION: none;
}

A.ar:link {COLOR: #ededed; TEXT-DECORATION: none;}
A.ar:visited {COLOR: #ededed; TEXT-DECORATION: none;}
A.ar:active {COLOR: #ededed; TEXT-DECORATION: none;}
A.ar:hover {background-color : #ededed;}

A.white:link {COLOR: #ffffff; TEXT-DECORATION: none;}
A.white:visited {COLOR: #ffffff; TEXT-DECORATION: none;}
A.white:active {COLOR: #ffffff; TEXT-DECORATION: none;}

A.yellow:link {COLOR: #ffff00; TEXT-DECORATION: underline;}
A.yellow:visited {COLOR: #ffff00; TEXT-DECORATION: underline;}
A.yellow:active {COLOR: #ffff00; TEXT-DECORATION: underline;}


A.hr:link {COLOR: #d3d3d3; TEXT-DECORATION: none;}
A.hr:visited {COLOR: #d3d3d3; TEXT-DECORATION: none;}
A.hr:active {COLOR: #d3d3d3; TEXT-DECORATION: none;}
A.hr:hover {COLOR: #ffff00; TEXT-DECORATION: none;}


.tableHeader {COLOR: #ffffff; font-weight:bold; background-color:#496696;}

.whiteBG {background-color:#ffffff; background:url(http://orapages.com/common/images/shim.gif) repeat-x 0px 0px;}





/*---------Before login-----------*/
.admin_login_panel{
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
border-radius: 10px 10px 0px 0px; /* future proofing */
-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */

border:1px solid #cccccc;

width:400px;
height:200px;
display:block;
background-color:#ffffff;
margin:auto;

}
.admin_login_panel div.title{
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
border-radius: 10px 10px 0px 0px; /* future proofing */
-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */

background:#E0DEDE ;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E0DEDE 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E0DEDE 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E0DEDE 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E0DEDE));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E0DEDE 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #E0DEDE 100%);

height:40px;

font-family:   Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;

letter-spacing: 0px;
color: #333;
padding:0 0 0 20px;
	
/*border-bottom: 1px solid #c6c6c5;*/

}

.admin_login_panel div.title img{
vertical-align:middle;
}
.admin_login_panel table{
margin:10px 0 0 15px;
}

.formButton, input[type=button], input[type=submit] {
display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 12px  Arial, Helvetica;
	padding:3px 7px 3px 7px;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius:5px;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);

}
input.formButton[type=button][disabled], input.formButton[type=submit][disabled] {
	opacity: 0.5;
}

.formButton:hover, input[type=button]:hover, input[type=submit]:hover
{
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.formButton:active, input[type=button]:active, input[type=submit]:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.formButton:focus, input[type=button]:focus, input[type=submit]:focus 
{
	outline: 0;
	background: #fafafa;
}    


.admin_header_menu{

}
.header_logo_bg{
font-size:18px;font-weight:bold;color:#ffffff;
height:50px;
line-height:50px;
background-color:black;
border-bottom:2px solid #212121;
/*padding-left:30px;*/
}
.header_logo{
float:left;
}
.logout_icon{
float:right;
padding-top:3px;
padding-right:20px;
outline:none;
height:50px;
}

/*Styleing Sheet for rest pages*/
#mainFrame{
margin:30px 0 0 30px;
width:99%;
border:0;
}

a.red_link:link,a.red_link:visited,a.red_link:hover{
COLOR: #dc143c; TEXT-DECORATION: none;}


a.blue_button:link,a.blue_button:hover,a.blue_button:visited {
background:#003A88;
border:0;
border-color:#fff #666661 #666661 #eee8aa;
font-size:12px;
font-weight:bold;
color:#fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* future proofing */
-khtml-border-radius: 5px; /* for old Konqueror browsers */
padding:3px 5px;
}


.bordered{
	border:1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
	clear:both;
}



.bordered tr.table_header {
		white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em  Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius:5px;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
.bordered tr td {
 border-left: 1px solid #CCCCCC;
 
}
.bordered tr td {

	padding: 3px;
    text-align: left;
	color:#000;
}


input[type=email],  input[type=url],  input[type=text],input[type=password],  input[type=date],  input[type=month],  input[type=time],  input[type=datetime],  input[type=datetime-local],  input[type=week],  input[type=number],  input[type=search],  input[type=tel],  input[type=color],  select,  textarea, .input_style {
padding: .2em .3em;
display: inline-block;
border: 1px solid #ccc;
font-size: 1em;
background: #ffffff;
/*box-shadow: inset 0 1px 3px #ddd; */
border-radius: 4px;
-webkit-transition: .3s linear border;
-moz-transition: .3s linear border;
-ms-transition: .3s linear border;
-o-transition: .3s linear border;
transition: .3s linear border;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
outline:none;
}

.greyed {background:#f5f5f5;}

.round5
{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* future proofing */
-khtml-border-radius: 5px; /* for old Konqueror browsers */
}
.round3
{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; /* future proofing */
-khtml-border-radius: 3px; /* for old Konqueror browsers */
}
.round10
{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.sectionHeader {
width: 99%;
padding: 3px 3px 3px 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
background: #e7e7e7;
font-size: 14px;
font-weight: bold;
text-align:left;
margin-bottom:5px;
color: #000000;
}		

.panel {border:1px solid #d8d8d8;padding:10px; border-radius:10px;-webkit-border-radius: 10px;
-moz-border-radius: 10px;background:#f0f0f0;text-align:left}
