<div role="dialog" tabindex="-1" class="modal fade show request_modal" id="post_content">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="post_form">

                <div class="modal-header">
                    <h6 class="modal-title">
                        Welcome to Orapages Business Network.
                        <p>Please share your first post to show your existence.</p>
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p>Please enter the details what do you want to post to the public.</p>
                    <input type="hidden" name="_csrf" value="<%= company.csrfToken %>">
                    <div class="form-group">
                        <textarea class="form-control" name="post_content" rows="8" style="font-size: 20px;outline: none;border: 0px;" placeholder="Write here......"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <input type="file" name="files" accept="images/*"/>
                    </div> -->
                    <!-- <div class="form-row">
                        <div class="col text-left">
                            <div class="float-left mr-2" style="width: 25%;position:relative"><img class="rounded" src="2.jpg" width="100%" />
                                <button class="btn btn-danger p-0" type="button" style="position:absolute;width:20px;height:20px;top:5px;right: 5px"></button>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" type="submit">
                        <!-- <span><span role="status" class="spinner-border" style="margin: 2px;font-size: 24px;"></span></span> -->
                        <span style="font-size: 24px;"><strong>Post</strong></span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
$('#post_form').on("submit",function (e) {
    e.preventDefault();
}).validate({
    rules: {
        post_content: {
            required: true,
            minlength: 30
        }
    },
    messages: {
        post_content: {
            required: "Please enter your thoughts",
            minlength: "Please enter more than 30 characters."
        },
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        $(element).addClass('is-valid');
    },
    submitHandler: (form) => {
        $(form).find('.spinner-border').show();
        $(form).find('.submit-text').html('Please wait');
        $(form).find('[type="submit"]').prop('disabled', true);
        let data = $(form).serializeArray();
        $.ajax({
            type: "post",
            url: "/posts",
            data: data,
            success: function (response) {
                $(form).find('.spinner-border').hide();
                $(form).find('.submit-text').html('Submit');
                $(form).find('[type="submit"]').prop('disabled', false);
                $(form)[0].reset();
                $(".request_modal").modal('hide')
                timelineOption(window.location.pathname.replace('/',''),'posts');
                // alert(JSON.stringify(response));
            },
            error: function (a, b, c) {
                alert('There is some internal server error.');
                $(form).find('.spinner-border').hide();
                $(form).find('.submit-text').html('Submit');
                $(form).find('[type="submit"]').prop('disabled', false);
            }
        });
    }
});
</script>