<style>
input[type="file"] {
	display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>
<div role="dialog" tabindex="-1" class="modal fade show request_modal" id="post_content">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="post_form">

                <div class="modal-header">
                    <h4 class="modal-title">What's on your mind </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body">
                    <p>Please enter the details what do you want to post to the public.</p>
                    <input type="hidden" name="_csrf" value="<%= company.csrfToken %>">
                    <div class="form-group">
                        <textarea class="form-control" name="post_content" rows="8" style="font-size: 20px;outline: none;border: 0px;" placeholder="Write here......"></textarea>
                    </div>
                    <div class="form-group">
						<label for="images-to-upload-post" class="custom-file-upload">
							Upload images 
						</label>
                        <input type="file"  name="images" accept="images/*" id="images-to-upload-post" multiple/>
						<label for="videos-to-upload-post" class="custom-file-upload">
							Upload Video
						</label>
                        <input type="file" name="video" accept="video/*" id="videos-to-upload-post"/>
                    </div>
                    <div class="form-row">
                        <div class="col text-left" id="post-image">
                        </div>
                    </div>
                    <div class="form-group">
						
                    </div>
                    <div class="form-row">
                        <div class="col text-left" id="post-video">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" type="submit">
                        <!-- <span><span role="status" class="spinner-border" style="margin: 2px;font-size: 24px;"></span></span> -->
                        <span style="font-size: 24px;"><strong>Post</strong></span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
$('#post_form').on("submit",function (e) {
    e.preventDefault();
}).validate({
    rules: {
        post_content: {
            required: true,
        }
    },
    messages: {
        post_content: {
            required: "Please enter your thoughts",
        },
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        $(element).addClass('is-valid');
    },
    submitHandler: (form) => {
        $(form).find('.spinner-border').show();
        $(form).find('.submit-text').html('Please wait');
        $(form).find('[type="submit"]').prop('disabled', true);
        let data = $(form).serializeArray();
        $.ajax({
            type: "post",
            url: "/posts?_csrf=<%= company.csrfToken %>",
            data: new FormData(form),
            contentType:false,
            processData:false,
            success: function (response) {
                $(".request_modal").modal('hide')
                timelineOption('<%= company.company_url %>','posts','registration');
                $(form).find('.spinner-border').hide();
                $(form).find('.submit-text').html('Submit');
                $(form).find('[type="submit"]').prop('disabled', false);
                $(form)[0].reset();
                // alert(JSON.stringify(response));
            },
            error: function (a, b, c) {
                alert('There is some internal server error.');
                $(form).find('.spinner-border').hide();
                $(form).find('.submit-text').html('Submit');
                $(form).find('[type="submit"]').prop('disabled', false);
            }
        });
    }
});


$("#images-to-upload-post").on("change", handleFiles);

function handleFiles(e) {
    if (!e.target.files || !window.FileReader) return;
    var files = e.target.files;
    let filesArr  = Object.keys(files)
    filesArr.forEach(function (f) {
        var f = files[f];
        if (!f.type.match("image.*")) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#post-image').append(`<div class="float-left mr-4" style="width: 25%;position:relative"><img class="rounded" src="${e.target.result}" width="100%" />
                                </div>`);
            
        }
        reader.readAsDataURL(f);
    });
}


$('#videos-to-upload-post').on('change', videoFileSelect);

function videoFileSelect(e) {
	if (!e.target.files || !window.FileReader) return;
	let files = e.target.files;
	let f = files[0];
	if (((files[0].size / 1024) / 1024).toFixed(4) > 150) {
		alert("File size must be less than 150 MB")
		return;
	}
	var reader = new FileReader();
	reader.onload = function (e) {
		let x = e.target.result;
		let type = f.type;
		if (f.type !== 'video/mp4') {
			x = x.replace(f.type, `video/${f.name.split('.')[1]}`);
			type = 'video/mp4';
		}
		$('#post-video').html(`<video width="100%" height="100%" controls style="max-height">
				<source src="${x}" type="${type}" id="video">
        </video>`);
	}
	reader.readAsDataURL(f);
};


</script>