<% let {owner,user_id} = notifications %>
<% notifications.forEach(notification => { %>
    <% notification.owner = owner %> 
    <% notification.user_id = user_id %> 
    <%- include("../post_box/notification_view",{notification}) %>
<% }) %>