<% let {post_date, company_business_name, company_url, company_id, images, owner, user_id} = shared_post %>
<div class="card mb-3">
    <div class="card-body bordered">
        <div class="row">
            <div class="col">
                <img class="rounded-circle" src="/assets/img/logo.jpg" width="50px" />
                <p class="d-inline ml-3"><a href="/<%= company_url %>" target="_blank" rel="noopener noreferrer"><strong><%= company_business_name %></strong></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <h6 class="text-muted"><strong>Published at:</strong> <%= new Date(post_date).toDateString() %></h6>
            </div>
        </div>
        <%-include('post_content',{post:shared_post}) %>
    </div>
</div>