<% let {post_date,post_content,images=[],video=[]} = post %>
<div class="row mb-2">
    <div class="col-xl-12">
        <div class="p-2" style="border: 1px solid black; border-radius: 5px; min-height: 170px;">

            <p><%- post_content %></p>
            <% if (images.length > 0 ){ %>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <% images.forEach(function(image,index){ %>
                    <% if(index==0){ %>
                    <div class="carousel-item active">
                        <img src="<%= image.post_image %>" class="d-block w-100">
                    </div>
                    <% }else { %>
                    <div class="carousel-item">
                        <img src="<%= image.post_image %>" class="d-block w-100">
                    </div>
                    <% } %>
                    <% }) %>

                </div>


                <ol class="carousel-indicators" style="bottom:-10px;top:initial !important">
                    <% images.forEach(function(image,index){ %>
                    <% if(index==0){ %>
                    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="active"></li>
                    <% } else{%>
                    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
                    <% } %>
                    <% }) %>
                </ol>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <% } %>
            <% if (video.length > 0 ){ %>
            <div class="col-12 mt-2">
                <% video.forEach(vid => { %>
                <video controls="">
                    <source src="/<%= vid.post_video %>" type="video/mp4">
                </video>
                <% }) %>
            </div>
            <% } %>
        </div>
    </div>
</div>