<% let {reach} = post %>
<style>
  div.reach{
    background: #f271f9;
    padding: 10px;
  }
  div.reach p{
    margin-bottom: 0px;
  }
</style>
<div class="reach">
  <p>
  Your post has been sent to your friends and your friends' friends <b>= Total <%= reach %></b><br>
  Note: Please increase your friends to increase your post reach.</p>
</div>
