<% let {owner,user_id} = posts %>
<% posts.forEach(post => { %>
    <% post.owner = owner %> 
    <% post.user_id = user_id %> 
    <% if(!post.share_id ){ %>
    <%- include("../post_box/post_view",{post}) %>
    <% }else{ %>
    <%- include("../post_box/post_view_share",{post}) %>
    <% } %>
<% }) %>