<% comments.forEach(comm => { %>
<% let {company_business_name, company_url, comment, comment_id, post_id, user_id, commented_by, posted_by} = comm %>
<div class="row mt-2">
    <div class="col">
        <img class="rounded-circle" src="/assets/img/logo.jpg" width="50px">
        <div class="comment">
            <a href="/<%= company_url %>" target="_blank" rel="noopener noreferrer" class="comment_by text-dark">
                <strong><%= company_business_name %></strong>
            </a>  
            <div>
                <p id="comment_<%= comment_id %>">
                    <%= comment %>
                 </p>
                 <% if (commented_by == comments.user_id && !!comments.user_id) {%>
                 <form id="comment_form_<%= comment_id %>" style="display: none;">
                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="hidden" name="comment_id" value="<%= comment_id %>">
                                <input type="hidden" name="post_id" value="<%= post_id %>">
                                <input class="border rounded form-control form-control mb-0" style="border-radius: 30px !important;"
                                    type="text" placeholder="Your Comment" inputmode="latin-name" name="comment" value="<%= comment %>">
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-warning" type="submit">Edit</button>
                            <button class="btn btn-danger" onclick="editCommentForm('<%= comment_id %>')" type="button">Cancel</button>
                        </div>
                    </div>
                    <small class="text-dark">
                        Press Enter to edit
                    </small>
                </form>
                <script>
                    $(`#comment_form_<%= comment_id %>`).on("submit", function (e) {
                        e.preventDefault();
                    }).validate({
                        rules: {
                            comment: {
                                required: true,
                                maxlength: 100
                            }
                        },
                        messages: {
                            comment: {
                                required: "Please enter your comment",
                                maxlength: "Please enter less that 100 Characters in your comment"
                            },
                        },
                        errorElement: 'div',
                        errorPlacement: function (error, element) {
                            error.addClass(['invalid-feedback','comment-error']);
                            element.closest('.form-group').append(error);
                        },
                        highlight: function (element, errorClass, validClass) {
                            $(element).addClass('is-invalid');
                        },
                        unhighlight: function (element, errorClass, validClass) {
                            $(element).removeClass('is-invalid');
                            $(element).addClass('is-valid');
                        },
                        submitHandler: (form) => {
                            $(form).find('.spinner-border').show();
                            $(form).find('.submit-text').html('Please wait');
                            $(form).find('[type="submit"]').prop('disabled', true);
                            let data = $(form).serializeArray();
                            $.ajax({
                                type: "get",
                                url: "/comments/edit_comment",
                                data: data,
                                success: function (response) {
                                    $(form).find('.spinner-border').hide();
                                    $(form).find('.submit-text').html('Submit');
                                    $(form).find('[type="submit"]').prop('disabled', false);
                                    $(form)[0].reset();
                                    $(`.comments.<%= post_id %>`).html(response);
                                },
                                error: function (a, b, c) {
                                    alert('There is some internal server error.');
                                    $(form).find('.spinner-border').hide();
                                    $(form).find('.submit-text').html('Submit');
                                    $(form).find('[type="submit"]').prop('disabled', false);
                                }
                            });
                        }
                    });
                </script>
                <% } %>
            </div>
        </div>
        <div class="ml-5">
            <% if (commented_by == comments.user_id && !!comments.user_id) {%>
            <button class="btn badge badge-warning" onclick="editCommentForm('<%= comment_id %>')">Edit</button>
            <% } %>
            <% if(posted_by == comments.user_id || commented_by == comments.user_id && !!comments.user_id){ %>
            <button class="btn  badge badge-danger" onclick="deleteComment('<%= comment_id %>','<%= post_id %>')">Delete</button>
            <% } %>
        </div>
    </div>
</div>
<% }) %>