<% let {post_id,owner,created_by,user_id,share_id = null} = post %>
<% if(!!owner){ %>
<div class="dropdown float-right">
    <button class="btn btn-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path
                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
        </svg>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if(created_by == user_id){ %>
        <a class="dropdown-item" href="javascript:void(0)" onclick="deletePost('<%= post_id %>')">Delete Post</a>
        <% if (!share_id ) { %>
        <a class="dropdown-item" href="javascript:void(0)" onclick="editPost('<%= post_id %>')">Edit Post</a>
        <% } %>
        <% } %>
        <% if(created_by !== user_id){ %>
        <a class="dropdown-item" href="javascript:void(0)" onclick="reportPost('<%= post_id %>')">Report Post</a>
        <% } %>
        <!-- <a class="dropdown-item" href="javascript:void(0)" onclick="reportPost('<%= post_id %>')">Report this post</a> -->
    </div>
</div>
<% } %>