<style>
    .comment_by {
        font-size: 0.8em;
    }

    .comment {
        border-radius: 10px;
        background-color: rgb(230, 230, 230);
        display: inline-block;
        padding: 10px;
        margin-right: 5px;
    }

    .comment p {
        margin: 0px !important;
    }

    .comment-error{
        font-size: 0.8em;
    }

</style>
<% let {likes_count=0,share_count=0,comment_count=0, post_id, comments=[], owner = false, user_id, liked_by_user = false} = post %>
<div class="row mt-2">
    <div class="col text-center"><a href="javasript:void(0)"
            onclick="getActionsOnPost('like','<%= post_id %>')"><span><strong id="likes_count_<%= post_id %>"><%= likes_count %></strong>
                Likes</span></a></div>
    <div class="col text-center"><a href="javasript:void(0)"
            onclick="getActionsOnPost('comment','<%= post_id %>')"><span><strong id="comment_count_<%= post_id %>"><%= comment_count %></strong>
                Comments</span></a></div>
    <div class="col text-center"><a href="javasript:void(0)"
            onclick="getActionsOnPost('share','<%= post_id %>')"><span><strong id="share_count_<%= post_id %>"><%= share_count %></strong>
                Shares</span></a></div>
</div>
<div class="row mt-2">
    <div class="col"><button class="btn btn-outline-primary btn-block" <%= owner ? '' : 'disabled' %> type="button" onclick="addLike('<%= post_id %>','<%= user_id %>')"><strong id="liked_<%= post_id %>"><%= liked_by_user ? 'Liked' : 'Like'%></strong></button>
    </div>
    <div class="col"><button class="btn btn-light btn-block" type="button" <%= owner ? '' : 'disabled' %>><strong>Comment</strong></button></div>
    <div class="col"><button class="btn btn-info btn-block" type="button" <%= owner ? '' : 'disabled' %> onclick="share('<%= post_id %>')">Share</button></div>
</div>
<hr>

<% if(comment_count > 3){ %>
    <a href="javasript:void(0)" onclick="getActionsOnPost('comment','<%= post_id %>')">View More Comments</a>
<% } %>

<% comments.user_id = user_id %>
<% comments.owner = owner %>
<div class="<%= post_id %> comments">
    <%- include('./post_comments',{comments})%>
</div>

<% if(!!owner){ %>
<form id="<%= post_id %>" class="comment_form">
    <div class="row mt-2">
        <div class="col-10">
            <div class="form-group">
                <input type="hidden" name="post_id" value="<%= post_id %>">
                <input class="border rounded form-control form-control mb-0" style="border-radius: 30px !important;"
                    type="text" placeholder="Your Comment" inputmode="latin-name" name="comment">
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-primary" type="submit">Comment</button>
        </div>
    </div>
    <small class="text-dark">
        Press Enter to comment
    </small>
</form>
<% } %>


<script>
    $('#<%= post_id %>').on("submit", function (e) {
        e.preventDefault();
    }).validate({
        rules: {
            comment: {
                required: true,
                maxlength: 100
            }
        },
        messages: {
            comment: {
                required: "Please enter your comment",
                maxlength: "Please enter less that 100 Characters in your comment"
            },
        },
        errorElement: 'div',
        errorPlacement: function (error, element) {
            error.addClass(['invalid-feedback','comment-error']);
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
            $(element).addClass('is-valid');
        },
        submitHandler: (form) => {
            $(form).find('.spinner-border').show();
            $(form).find('.submit-text').html('Please wait');
            $(form).find('[type="submit"]').prop('disabled', true);
            let data = $(form).serializeArray();
            $.ajax({
                type: "get",
                url: "/comments/add_comment",
                data: data,
                success: function (response) {
                    $(form).find('.spinner-border').hide();
                    $(form).find('.submit-text').html('Submit');
                    $(form).find('[type="submit"]').prop('disabled', false);
                    $(form)[0].reset();
                    $(".comments.<%= post_id %>").html(response);
                    // alert(JSON.stringify(response));
                },
                error: function (a, b, c) {
                    alert('There is some internal server error.');
                    $(form).find('.spinner-border').hide();
                    $(form).find('.submit-text').html('Submit');
                    $(form).find('[type="submit"]').prop('disabled', false);
                }
            });
        }
    });
</script>