<div class="container-fluid sb2">
    <div class="row">
        <style>
            #selected_companies{
                margin: 0px;
            }
            #selected_companies li{
                list-style-type: decimal-leading-zero !important;
                padding: 0px;
            }
        </style>
        
        <div class="container sb2" style="height:90vh;width:70%">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="index-1.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="/add_category">Transfer Companies</a> </li>
                    <li class="page-back"><a href="/admin_dashboard"><i class="fa fa-backward" aria-hidden="true"></i>
                            Back</a>
                    </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin" style="overflow: visible">
                <div class="tz-2-com tz-2-main">
                    <h4>Transfer companies from one city to another</h4> 
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form id="transfer_cities_form">
                                                <div class="row">
                                                    <div class="input-field col s5">
                                                        <input type="text" name="city_first_name" placeholder="Please enter first city name" />
                                                    </div>
                                                    <div class="col s2">
                                                        <div style="text-align: center">
                                                            <span class="fa fa-arrow-circle-right"
                                                                style="font-size: 40px;margin-top: 10px;color: #253d52"></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-field col s5">
                                                        <input type="text" name="city_second_name" placeholder="Please enter first city name" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <button type="submit"
                                                            class="waves-effect waves-light btn-large full-btn">Transfer
                                                            companies</button>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="input-field col s12" >
                                                        <ul id="selected_companies" style="display: none"></ul>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>