<div class="container sb2">
    <div class="row">
        <div class="container-fluid sb2">
            <table class="table table-striped table-bordered table-hover table-sm" id="all_posts">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>