<div class="container sb2">
    <div class="row">
        <div class="container-fluid sb2">
            <table class="table table-striped table-bordered table-hover table-sm" id="reported_posts">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Content</th>
                        <th>Reported by</th>
                        <th>Report</th>
                        <th>Delete</th>
                        <th>Ignore</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>