<div class="container-fluid sb2">
    <div class="row">

        <div class="container-fluid sb2">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="#"> Add Listing</a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin">
                <div class="tz-2-com tz-2-main">
                    <h4>Add New CSV</h4> 
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form id="upload_csv">
                                                <div class="row">
                                                    <div class="db-v2-list-form-inn-tit">
                                                        <h5>Bulk Upload
                                                            <!-- <span class="v2-db-form-note">(image size 1350x500):<span> -->
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row tz-file-upload">
                                                    <div class="file-field input-field">
                                                        <div class="tz-up-btn"> <span>File</span>
                                                            <input type="file" style="z-index: 50000" required
                                                                id="csv-to-upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="csv"> </div>
                                                        <div class="file-path-wrapper db-v2-pg-inp">
                                                            <input class="file-path validate" type="text">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="input-field col s12 v2-mar-top-40"> <button
                                                            class="waves-effect waves-light btn-large full-btn"
                                                            type="submit">Submit csv</button> </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>