<style>
    .user {
        background-color: #f5deb3 !important;
    }

    .auto_bulk{
        background-color: #f0ff74 !important;
    }

    .ui-autocomplete {
        width: 200px;
    }

    .ui-menu {
        border: 1px solid grey;
        background: white;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 150 !important;
    }

    .ui-autocomplete-term {
        font-weight: bold !important;
    }

    .ui-menu-item .ui-menu-item-wrapper {
        padding: 5px;
    }

    .ui-helper-hidden-accessible {
        visibility: hidden !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: #6693bc !important;
        /* font-weight: bold !important; */
        color: #ffffff !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active .ui-autocomplete-term {
        color: #ffffff !important;
    }

    input[type=text],input[type=number] {
        font-weight: 100 !important;
        color: black !important;
        font-size: 14px;
        padding: 0px 3px;
        height: 24px;
    }

    #page_first,#page_direct {
        height: 24px;
    }



    table tr td,
    th,
    a {
        font-size: 12px !important;
    }

    a {
        color: #ca2736;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2 container-fluid">
            <!--== breadcrumbs ==-->

            <!-- Dropdown Structure -->
            <div class="split-row">
                <div class="admin-pag-na">
                    <ul class="pagination list-pagenat" id="pagination">

                    </ul>
                </div>
                <div>
                    <div>
                        <div class="hom-cre-acc-left hom-cre-acc-right">
                            <div class="row col-md-12">
                                <div class="form-group col-md-2" style="float: left;">
                                    <input type="text" class="form-control" id="filter_company_name"
                                        placeholder="Filter by company name">
                                </div>
                                <div class="form-group col-md-2" style="float: left;">
                                    <input type="text" class="form-control" id="categories"
                                        placeholder="Filter by categories">
                                </div>
                                <div class="form-group col-md-2" style="float: left;">
                                    <input type="text" class="form-control" id="brands" placeholder="Filter by brands">
                                </div>
                                <div class="form-group col-md-2" style="float: left;">
                                    <input type="text" class="form-control" id="filter_email"
                                        placeholder="Filter by email">
                                </div>
                                <div class="form-group col-md-2" style="float: left;">
                                    <input type="number" class="form-control" id="page_number"
                                        placeholder="Page Number">
                                </div>
                                <div class="form-group col-md-1" style="float: left;">
                                    <button type="button" class="btn btn-sm btn-success" id="page_direct">
                                        Open Page
                                    </button>
                                </div>
                                <div class="form-group col-md-1" style="float: left;">
                                    <button type="button" class="btn btn-sm btn-warning" id="page_first">
                                        See First Page
                                    </button>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-striped" id="total_companies">
                                <thead>
                                    <tr style="background-color: rgb(221, 221, 221); color: black;">
                                        <th>#</th>
                                        <th>Business Name</th>
                                        <th style="min-width: 250px;">Business Location</th>
                                        <th>Owner's Name</th>
                                        <th>Registered From</th>
                                        <th style="min-width:180px">Created on</th>
                                        <th>Delete</th>
                                        <th style="width: 150px;">Edit</th>
                                        <!-- <th>View</th> -->
                                    </tr>
                                </thead>
                                <tbody id="companies">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="admin-pag-na">
                    <ul class="pagination list-pagenat" id="pagination2">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>