<div class="container-fluid sb2">
    <div class="row">
        
        <div class="container-fluid sb2">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="#"> Add Listing</a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin">
                <div class="tz-2-com tz-2-main">
                    <h4>Edit and delete csvs</h4> 
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right" style="overflow: auto;">
                                        <% if(page.csv_list.length > 0){ %>
                                        <table class="bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Uploaded Date</th>
                                                    <th>Edit Date</th>
                                                    <th>No. of Companies</th>
                                                    <th>Delete</th>
                                                    <th>View and Upload</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(const csv of page.csv_list){ %>
                                                    <tr id="<%= csv.csv_id %>">
                                                        <td>
                                                            <p><%= csv.csv_name %></p>
                                                        </td>
                                                        <td>
                                                            <p><%= new Date(csv.csv_uploaded_date).toUTCString() %></p>
                                                        </td>
                                                        <td>
                                                            <p><%= new Date(csv.csv_updated_date).toUTCString() %></p>
                                                        </td>
                                                        <td>
                                                            <p><%= csv.company_count %></p>
                                                        </td>
                                                        <td><a href="javasctript:void(0)" onclick="csvDelete('<%= csv.csv_id %>','auto_bulk')"
                                                                class="db-list-edit">Delete</a>
                                                        </td>
                                                        <td><a class="db-list-edit" href="/csv_edit?csv_id=<%= csv.csv_id %>&type=auto_bulk"><i
                                                                    class="fa fa-eye"></i></a></td>
                                                    </tr>
                                                <% } %>


                                            </tbody>
                                        </table>
                                        <% } else{ %>
                                        <h1>CSVs Not found</h1>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>