<div class="container-fluid sb2">
    <div class="row">

        <div class="container sb2" style="height:90vh;width:70%">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="/admin_category_delete">Update Category</a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i
                                class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin" style="overflow: visible">
                <div class="tz-2-com tz-2-main">
                    <h4>Update Parent</h4>
                    <ul id="dr-list" class="dropdown-content">
                        <li><a href="#!">Add New</a> </li>
                        <li><a href="#!">Edit</a> </li>
                        <li><a href="#!">Update</a> </li>
                        <li class="divider"></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                        <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                        <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                    </ul>
                    <!-- Dropdown Structure -->
                    <div class="split-row">
                        <div class="col-md-12">
                            <div class="box-inn-sp ad-inn-page">
                                <div class="tab-inn ad-tab-inn">
                                    <div class="hom-cre-acc-left hom-cre-acc-right">
                                        <div class="">
                                            <form class="" id="category_city_get form">
                                                <div class="row">
                                                    <div class="input-field col s4">
                                                        <input type="text" name="category_name" style="width: 100%;"
                                                            placeholder="Please enter parent">
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input type="text" name="category_id" style="width: 100%;"
                                                            placeholder="Parent id" disabled>
                                                    </div>
                                                    <div class="input-field col s2">
                                                        <button id="copy_category" type="button" class="fa fa-copy"
                                                            onclick="copyToClipboard(`[name='category_id']`)"
                                                            style="font-size:xx-large;">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s4">
                                                        <input type="text" name="city_name" style="width: 100%;"
                                                            placeholder="Please enter City Name">
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input type="text" name="city_id" style="width: 100%;"
                                                            placeholder="City id" disabled>
                                                    </div>
                                                    <div class="input-field col s2">
                                                        <button id="copy_category" type="button" class="fa fa-copy"
                                                            onclick="copyToClipboard(`[name='city_id']`)"
                                                            style="font-size:xx-large;">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table bordered">
                                <tr id="category_copy">
                                    <th>Category Name</th>
                                    <th>Category Code</th>
                                    <!-- <th><button class="btn btn-primary btn-sm">Copy</button></th> -->
                                    <!-- <th><button class="btn btn-danger btn-sm">Delete</button></th> -->
                                    <th>Copy</th>
                                    <th>Delete</th>
                                </tr>                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tz-2 tz-2-admin" style="overflow: visible">


            </div>

        </div>
    </div>
</div>