<style>
    .ui-autocomplete {
        width: 200px;
    }

    .ui-menu {
        border: 1px solid grey;
        background: white;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 150 !important;
    }

    .ui-autocomplete-term {
        font-weight: bold !important;
        font-size: 11px !important;
    }

    .ui-menu-item .ui-menu-item-wrapper {
        padding: 5px;
        font-size: 11px !important;
    }

    .ui-helper-hidden-accessible {
        visibility: hidden !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: #6693bc !important;
        /* font-weight: bold !important; */
        color: #ffffff !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active .ui-autocomplete-term {
        color: #ffffff !important;
    }
</style>
<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2 container-fluid">
            <!--== breadcrumbs ==-->
            <div class="sb2-2-2">
                <ul>
                    <li><a href="/admin_panel"><i class="fa fa-home" aria-hidden="true"></i> Home</a> </li>
                    <li class="active-bre"><a href="#"> <% page.csv_name %></a> </li>
                    <li class="page-back"><a href="javascript:void(0)" onclick="history.back()"><i
                                class="fa fa-backward" aria-hidden="true"></i> Back</a> </li>
                    <% if(page.type !== "auto_bulk"){ %>
                    <li class="page-back"><a href="javascript:void(0)" class="temp_upload"><i class="fa fa-save"
                                aria-hidden="true"></i> Save</a> </li>
                    <% } %>
                    <li class="page-back"><a href="javascript:void(0)" class="upload"><i class="fa fa-upload"
                                aria-hidden="true"></i> Tranfer companies</a> </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin">
                <!-- <a class="dropdown-button drop-down-meta drop-down-meta-inn"
                        href="#" data-activates="dr-list"><i class="material-icons">more_vert</i></a> -->
                <ul id="dr-list" class="dropdown-content">
                    <li><a href="#!">Add New</a> </li>
                    <li><a href="#!">Edit</a> </li>
                    <li><a href="#!">Update</a> </li>
                    <li class="divider"></li>
                    <li><a href="#!"><i class="material-icons">delete</i>Delete</a> </li>
                    <li><a href="#!"><i class="material-icons">subject</i>View All</a> </li>
                    <li><a href="#!"><i class="material-icons">play_for_work</i>Download</a> </li>
                </ul>
                <!-- Dropdown Structure -->
                <div class="split-row">
                    <div class="box-inn-sp ad-inn-page" style="margin: 0px 0px;">
                        <div class="tab-inn ad-tab-inn">
                            <div class="hom-cre-acc-left hom-cre-acc-right">
                                <style>
                                    .ad-inn-page th {
                                        top: 0px;
                                        padding: 5px !important;
                                        position: sticky;
                                        background: #abbaab;
                                        background: -webkit-linear-gradient(to bottom, #e3e6e3, #afbcaf);
                                        background: linear-gradient(to bottom, #e3e6e3, #afbcaf);
                                        z-index: 10;
                                    }

                                    .remove a {
                                        background: red;
                                        color: white;
                                    }

                                    input:not([type]),
                                    input[type=text],
                                    input[type=password],
                                    input[type=email],
                                    input[type=url],
                                    input[type=time],
                                    input[type=date],
                                    input[type=datetime],
                                    input[type=datetime-local],
                                    input[type=tel],
                                    input[type=number],
                                    input[type=search],
                                    textarea.materialize-textarea {
                                        background: white;
                                        width: 100px;
                                        font-size: x-small !important;
                                        padding: 5px !important;
                                        font-weight: 100;
                                        color: black;
                                    }

                                    table textarea {
                                        min-width: 100px;
                                        line-height: 1.5 !important;
                                        font-size: x-small !important;
                                        padding: 5px !important;
                                        font-weight: 100 !important;
                                        color: black !important;
                                    }

                                    table input {
                                        min-width: 100px;
                                        font-size: x-small !important;
                                        padding: 5px !important;
                                        font-weight: 100;
                                        color: black;
                                    }

                                    table select {
                                        width: 200px;
                                        padding: 5px !important;
                                        font-weight: 100;
                                    }

                                    .select2-selection__choice {
                                        font-size: xx-small !important;
                                        padding: 5px !important;
                                    }

                                    .ad-inn-page td {
                                        padding: 5px !important;
                                    }

                                    .select2-container--bootstrap {
                                        display: inline-block;
                                    }

                                    .upload_error {
                                        border: 2px solid red;
                                    }

                                    .edited {
                                        background: rgb(255, 249, 167);
                                    }

                                    .updated {
                                        background: #E1FEE0;
                                    }

                                    .ui-menu {
                                        background: white;
                                        max-height: 200px;
                                        overflow-y: auto;
                                        overflow-x: hidden;
                                    }

                                    .ui-autocomplete-term {
                                        font-weight: bold !important;
                                    }

                                    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
                                        background: #6693bc !important;
                                        /* font-weight: bold !important; */
                                        color: #ffffff !important;
                                    }

                                    .ui-menu-item .ui-menu-item-wrapper.ui-state-active .ui-autocomplete-term {
                                        color: #ffffff !important;
                                    }
                                </style>
                                <% if(page.type == "auto_bulk"){ %>
                                    <style>
                                        #uploadCompanies table td{
                                            font-size: 10px;
                                            width: 100px;
                                        }
                                    </style>
                                <% } %>
                                <form id="uploadCompanies" style="padding: 0px; background: white;">
                                    <table>
                                        <thead style="position: sticky;">
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>Phone</th>
                                                <th>Fax</th>
                                                <th>Email/Website</th>
                                                <th>Profile</th>
                                                <th>Categories</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tempCompanies">

                                        </tbody>
                                    </table>
                                    <button type="submit" style="display: none;" id="submit_profiles">Yes</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>